@import "../../../assets/styles/config";

$bg-color: #27ae60;
$color-border: #ddd;
$color-blue: #0984e3;
$color-black: #2f3542;
$color-orange: #f39c12;
$color-red: #ff5e57;
$color-border-table: #485460;

.survey {
    border: 1px solid $color-border;
    .user-exam {
        .user-info {
            .full-name {
                font-size: 20px;
                font-weight: 600;
            }
            .description {
                font-style: italic;
            }
        }
    }

    hr {
        background: $color-border;
        height: 1px;
    }

    .color-border {
        color: $color-border;
    }

    .survey-container {
        .exam-container {
            padding-right: 0px;
            border-right: 1px solid $color-border;
            padding-bottom: 80px;
            .survey-title {
                padding-top: 20px;
                color: $color-black;
                .countdown {
                    margin-top: 10px;
                    text-align: center;
                    font-size: 15px;
                    font-style: italic;
                }
                .title-finish {
                    font-size: 18px;
                    color: $green;
                    text-align: center;
                }
            }
            .question-container {
                .question-item {
                    padding: 5px;
                    overflow: hidden;
                    //margin-bottom: 10px;
                    position: relative;
                    width: 100%;
                    border: none;

                    &:first-child {
                        margin-top: 5px;
                    }

                    .question-left {
                        text-align: center;
                        display: table-cell;
                        margin-right: 10px;
                        vertical-align: top;
                        //padding-right: 10px;

                        .question-number {
                            color: $color-black;
                            width: 40px;
                            height: 40px;
                            padding: 5px;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                    .question-body {
                        display: table-cell;
                        vertical-align: top;
                        width: 10000px;
                        position: relative;

                        .question-name {
                            font-weight: bold;
                            //border-bottom: 1px solid $border-color;
                            padding: 0 0 10px 0;
                            //margin-bottom: 10px;
                            margin-top: 8px;
                            p {
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }

                        .options {
                            position: absolute;
                            top: -10px;
                            right: 0;
                            display: inline-block;
                            list-style: none;
                            width: 125px;
                            text-align: right;

                            li {
                                display: inline-block;
                                margin-left: 5px;
                            }

                            span.point {
                                padding: 10px;
                                float: left;
                                font-weight: bold;
                            }
                        }
                    }
                }

                div.btn p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .answer-container {
                .answer-item {
                    margin-bottom: 5px;
                    .answer-number, .answer-name {
                        display: table-cell;
                        vertical-align: top;
                        vertical-align: middle;
                    }

                    .answer-number {
                        padding-right: 5px;
                        font-weight: bold;
                        width: 5%;
                    }

                    .answer-name {
                        width: 10000px;

                        p {
                            margin-top: 0;
                            margin-bottom: 0;
                        }

                        .color-red{
                            color: $color-red !important;
                        }

                        .next-question {
                            margin-top: 10px;
                            color: $main-color;

                            i, span {
                                display: table-cell;
                                vertical-align: middle;
                            }

                            span {
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }

            .survey-overview-container {
                .item-circle {
                    min-height: 150px;
                    padding: 10px;

                    .title {
                        font-size: 25px;
                        display: block;
                        font-weight: bold;

                        small {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .survey-detail-container {
                .answer-name {
                    .icon-item {
                        i, span {
                            display: table-cell;
                            vertical-align: top;
                        }

                        i {
                            padding-right: 10px;
                            font-size: 20px;
                        }

                        span {
                            padding-top: 1px;
                        }
                    }
                }
            }

            .paging-question {
                margin-top: 15px;
                .paging {
                    padding-left: 15px;
                }

                .btn {
                    //margin-top: 20px;
                    padding-right: 15px;
                }
            }
        }

        .score-container {
            margin-top: 20px;
            padding-left: 0px;
            .answer-sheet {
                font-weight: 600;
                color: $color-black;
                font-size: 18px;
                margin-bottom: 10px;
                border-bottom: 2px solid $color-border;
                margin-right: 15px;
            }
            a {
                color: $color-blue;
                text-decoration: underline;
            }
            p {
                margin: 5px 0px;
            }
            .table-question {
                margin-right: 15px;
                margin-left: 0px;
                table {
                    tr {
                        td {
                            border: 1px solid $color-border-table;
                            //border-color: $color-border-table;
                            padding: 5px;

                            a {
                                color: #2d3436;
                                text-decoration: none;

                                i {
                                    position: absolute;
                                    margin-right: 0px;
                                    margin-top: 0px;
                                }

                                .color-red{
                                    color: $color-red !important;
                                }
                            }
                        }
                    }
                }
                .has-answer {
                    background-color: #74b9ff;
                }
            }
        }
    }
}

.survey-over-view {
    vertical-align: middle;
    //border: 1px solid $color-border;
    .regulate-survey {
        .star-title {
            font-size: 22px !important;
            text-align: left;
            color: $color-black;
        }
        .content {
            text-align: left;
            margin-top: 20px;
            font-size: 16px;
            font-style: italic;
        }

        hr {
            display: block;
            height: 2px;
            border: 0;
            border-top: 2px solid $color-orange;
            margin: 1em 0;
            padding: 0;
        }
    }
    .survey-information {
        .survey-name {
            text-align: left;
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-orange;
        }
        .survey-item-info {
            padding: 5px;
            overflow: hidden;
            position: relative;
            width: 100%;
            border: none;
            .survey-item-label {
                .item-label {
                    font-weight: 600;
                }
                text-align: left;
                display: table-cell;
                margin-right: 10px;
                vertical-align: top;
                width: 1500px;
                font-size: 16px;
            }
            .surey-item-description {
                font-size: 16px;
                display: table-cell;
                vertical-align: top;
                width: 10000px;
                position: relative;
            }
        }
    }
}
