<div class="portlet light bordered portlet-holiday">
    <div class="portlet-title">
        <div class="caption">
            <span class="fas fa-desktop"></span>
            <span class="caption-subject bold uppercase"> Cấu hình máy chấm công.</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-circle btn-default" (click)="machineFormModal.show()">
                <i class="fa fa-plus"></i> Thêm </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="middle center w50">Số máy</th>
                    <th class="middle center">Tên máy</th>
                    <th class="middle center">IP</th>
                    <th class="middle center w50">Port</th>
                    <th class="middle center"></th>
                </tr>
                </thead>
                <tbody *ngIf="listMachine.length === 0; else machineContentTemplate">
                <tr>
                    <td colspan="5" class="center bold">
                        Chưa cấu hình máy chấm công. Click <a href="javascript://" (click)="machineFormModal.show()">vào
                        đây</a> để thêm mới máy chấm công
                    </td>
                </tr>
                </tbody>
                <ng-template #machineContentTemplate>
                    <tbody *ngIf="!isSearching; else loadingTemplate">
                    <tr *ngFor="let machine of listMachine">
                        <td class="center">{{machine.no}}</td>
                        <td>{{machine.name}}</td>
                        <td>{{machine.ip}}</td>
                        <td>{{machine.port}}</td>
                        <td class="center w100">
                            <button type="button" mat-mini-fab color="primary" (click)="edit(machine)"
                                    matTooltip="Sửa"
                                    matTooltipPosition="above">
                                <!--<i class="fa fa-edit"></i>-->
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button type="button" mat-mini-fab color="warn" (click)="delete(machine)"
                                    matTooltip="Xóa" matTooltipPosition="above">
                                <!--<i class="fa fa-trash-o"></i>-->
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </ng-template>
                <ng-template #loadingTemplate>
                    <div class="center">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </ng-template>
            </table><!-- END: .table -->
        </div>
    </div>
</div><!-- END: .portlet-config-symbol -->

<nh-modal #machineFormModal [size]="'md'" (shown)="onMachineFormModalShown()" (hidden)="onMachineFormModalHidden()">
    <nh-modal-header [showCloseButton]="true">
        <h4>
            <i class="fa fa-edit" *ngIf="isUpdate"></i>
            <i class="fa fa-plus" *ngIf="!isUpdate"></i>
            <span>{{ isUpdate ? 'Cập nhật thông tin máy chấm công' : 'Thêm mới máy chấm công'}}</span>
        </h4>
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="formModel">
        <nh-modal-content>
            <div class="form-group">
                <label ghmLabel="Số máy chấm công" class="col-md-3 col-sm-4 control-label" [required]="true"></label>
                <div class="col-sm-8 col-md-9">
                    <nh-select
                        [data]="listMachineNo"
                        [title]="'-- chọn Số máy chấm công --'"
                        [isEnable]="!isUpdate"
                        formControlName="no"
                    ></nh-select>
                    <div class="alert alert-danger" *ngIf="formErrors.no && isSubmitted">
                        {{ formErrors.no }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label ghmLabel="Tên máy chấm công" class="col-md-3 col-sm-4 control-label" [required]="true"></label>
                <div class="col-sm-8 col-md-9">
                    <input type="text" class="form-control" id="machineName"
                           placeholder="Nhập tên máy chấm công" formControlName="name">
                    <div class="alert alert-danger" *ngIf="formErrors.name && isSubmitted">
                        {{ formErrors.name }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label ghmLabel="IP máy chấm công" class="col-md-3 col-sm-4 control-label" [required]="true"></label>
                <div class="col-sm-8 col-md-9">
                    <input type="text" class="form-control" id="machineIp"
                           placeholder="Nhập IP máy chấm công" formControlName="ip">
                    <div class="alert alert-danger" *ngIf="formErrors.ip && isSubmitted">
                        {{ formErrors.ip }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label ghmLabel="Port" class="col-md-3 col-sm-4 control-label" [required]="true"></label>
                <div class="col-sm-8 col-md-9">
                    <input type="text" class="form-control" id="machinePort"
                           placeholder="Nhập công kết nối đến máy chấm công" formControlName="port">
                    <div class="alert alert-danger" *ngIf="formErrors.port && isSubmitted">
                        {{ formErrors.port }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label ghmLabel="Series" class="col-md-3 col-sm-4 control-label" [required]="true"></label>
                <div class="col-sm-8 col-md-9">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Số seri" formControlName="serialNumber">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    (click)="getSerialNumber()">Lấy về seri</button>
                        </span>
                    </div>
                    <div class="alert alert-danger" *ngIf="formErrors.serialNumber && isSubmitted">
                        {{ formErrors.serialNumber }}
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <button type="submit" mat-raised-button color="primary">
                <!--<i class="fa fa-save" *ngIf="!isSaving"></i>-->
                <!--<i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>-->
                <mat-icon>save</mat-icon>
                Lưu lại
            </button>
            <button type="button" mat-raised-button nh-dismiss="true">
                <!--<i class="fa fa-times"></i>-->
                <mat-icon>close</mat-icon>
                Đóng lại
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>
