<nh-modal #goodsReceiptNoteDetailModal size="full">
    <form class="cm-pdt-20 form-horizontal">
        <nh-modal-content class="form-body">
            <h3 class="form-section bold" i18n="@@goodsReceiptNoteInfo">Thông tin phiếu nhập</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label ghmLabel="Ngày nhập"
                               class="col-sm-3 control-label"
                               i18n-ghmLabel="@@entryDate"></label>
                        <div class="col-sm-9">
                            <div class="form-control">
                                {{ goodsReceiptNote?.entryDate | dateTimeFormat:'DD/MM/YYYY HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label ghmLabel="Số phiếu"
                               class="col-sm-3 control-label"
                               i18n-ghmLabel="@@receiptNo"></label>
                        <div class="col-sm-9">
                            <div class="form-control">
                                {{ goodsReceiptNote?.receiptNo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Hình thức nhập"
                               i18n-ghmLabel="@@receiptType"></label>
                        <div class="col-sm-9">
                           <span class="badge cm-mgt-10"
                                 [class.badge-info]="goodsReceiptNote?.type === goodsReceiptNoteType.newPurchase"
                                 [class.badge-danger]="goodsReceiptNote?.type === goodsReceiptNoteType.customerReturn"
                                 [class.badge-warning]="goodsReceiptNote?.type === goodsReceiptNoteType.transfer"
                                 [class.badge-default]="goodsReceiptNote?.type === goodsReceiptNoteType.inventory">
                    {goodsReceiptNote?.type, select, 0 {Nhập mua mới} 1 {Nhập khách trả} 2 {Nhập điều chuyển} 3 {Nhập kiểm kê} other{}}
                </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Tại kho"
                               i18n-ghmLabel="@@warehouse"></label>
                        <div class="col-sm-9">
                            <div class="form-control">{{ goodsReceiptNote?.warehouseName }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="goodsReceiptNote?.type === goodsReceiptNoteType.newPurchase">
                <div class="col-sm-6" *ngIf="goodsReceiptNote?.type === goodsReceiptNoteType.newPurchase">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Nhà cung cấp"
                               i18n-ghmLabel="@@supplier"></label>
                        <div class="col-sm-9">
                            <div class="form-control">{{ goodsReceiptNote?.supplierName }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Người giao hàng"
                               i18n-ghmLabel="@@deliver"></label>
                        <div class="col-sm-9">
                            <div class="form-control">{{ goodsReceiptNote?.deliverFullName }}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" *ngIf="goodsReceiptNote?.type === goodsReceiptNoteType.newPurchase">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Số điện thoại"
                               i18n-ghmLabel="@@phoneNumber"></label>
                        <div class="col-sm-9">
                            <div class="form-control">{{ goodsReceiptNote?.deliverPhoneNumber }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Theo" i18n-ghmLabel="@@follow"></label>
                        <div class="col-sm-9">
                            <div class="form-control">{{ goodsReceiptNote?.follow }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="goodsReceiptNote?.type === goodsReceiptNoteType.newPurchase">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Số" i18n-ghmLabel="@@invoiceNo"></label>
                        <div class="col-sm-9">
                            <div class="form-control">
                                {{ goodsReceiptNote?.invoiceNo }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Ngày"
                               i18n-ghmLabel="@@date"></label>
                        <div class="col-sm-9">
                            <div class="form-control">
                                {{ goodsReceiptNote?.invoiceDate | dateTimeFormat:'DD/MM/YYYY HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Ghi chú" i18n-ghmLabel="@@note"></label>
                        <div class="col-sm-9">
                            <div class="form-control height-auto">
                                {{ goodsReceiptNote?.note }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="form-section bold" i18n="@@goodsReceiptNoteDetailInfo">Chi tiết phiếu nhập</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <app-goods-receipt-note-form-product
                            [readOnly]="true"
                            [receiptId]="id"
                            [listItems]="goodsReceiptNote?.goodsReceiptNoteDetails"
                        ></app-goods-receipt-note-form-product>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 cm-mgt-10">
                    <div class="form-group">
                        <label ghmLabel="Thành tiền (Viết bằng chữ)"
                               i18n-ghmLabel="@@totalAmountsInWord"
                               class="col-sm-2"
                        ></label>
                        <div class="col-sm-10">
                            <div class="dotted-form-control bold">
                                {{ totalAmounts | ghmAmountToWord }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <button type="button" class="btn blue cm-mgr-5" i18n="@@printCode" (click)="printBarcode()">
                In mã vạch
            </button>
            <button type="button" class="btn blue cm-mgr-5" i18n="@@printReceipt" (click)="printReceipt()">
                In phiếu
            </button>
            <button type="button" nh-dismiss class="btn default" i18n="@@cancel">
                Đóng
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>

<app-goods-receipt-note-print></app-goods-receipt-note-print>
<app-goods-receipt-note-print-barcode></app-goods-receipt-note-print-barcode>
