<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@attributeFormPageTitle">
        {isUpdate, select, 0 {Add new attribute} 1 {Update attribute}}
    </span>
    <small i18n="@@productModuleTitle">Product management</small>
</h1>

<nh-tab>
    <nh-tab-pane [active]="true"
                 title="Attribute info"
                 i18n-title="@@attributeInfo"
                 id="attributeInfo">
        <form action="" class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
            <ng-container formArrayName="translations">
                <ng-container *ngFor="let modelTranslation of translations.controls; index as i" [formGroupName]="i">
                    <div class="form-group"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                        <label class="col-sm-4 control-label" ghmLabel="Attribute name" i18n-ghmLabel="@@attributeName"
                               [required]="true"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   formControlName="name"
                                   id="attributeName{{ currentLanguage }}"
                                   placeholder="Enter attribute name"
                                   i18n-placeholder="@@enterAttributeName">
                            <span class="help-block" i18n="@@productAttributeNameValidateMessage">
                                {
                                translationFormErrors[modelTranslation.value.languageId]?.name,
                                select, required {Please enter attribute name} maxlength {Attribute name can not exceed 256 characters}
                                }
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                        <label class="col-sm-4 control-label" ghmLabel="Description"
                               i18n-ghmLabel="@@description"></label>
                        <div class="col-sm-8">
                            <textarea name="" class="form-control" rows="3"
                                      formControlName="description"
                                      placeholder="Enter description"
                                      i18n-placeholder="@@enterDescription"></textarea>
                            <span class="help-block" i18n="@@productAttributeDescriptionValidateMessage">
                                {
                                translationFormErrors[modelTranslation.value.languageId]?.name,
                                select, maxlength {Attribute description can not exceed 500 characters}
                                }
                            </span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox formControlName="isMultiple" color="primary"><span i18n="@@allowMultiple"></span>
                        Allow multiple
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox formControlName="isRequire" color="primary"><span i18n="@@isRequire"></span> Require?
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox formControlName="isActive" color="primary"><span i18n="@@isActive"></span> Active
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox formControlName="isSelfContent" color="primary"><span i18n="@@selfResponding"></span>
                        Self responding
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox
                        class="cm-mgr-5"
                        color="primary"
                        name="isCreateAnother"
                        i18n="@@isCreateAnother"
                        *ngIf="!isUpdate"
                        [(checked)]="isCreateAnother"
                        (change)="isCreateAnother = !isCreateAnother"> Create another
                    </mat-checkbox>
                    <button class="btn blue cm-mgr-5" i18n="@@save">
                        Save
                    </button>
                    <a routerLink="/products/attributes" class="btn btn-light" i18n="@@cancel">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </nh-tab-pane><!-- END: Attribute info -->
    <nh-tab-pane id="attributeValue"
                 title="Attribute values"
                 i18n-title="@@attributeValues"
                 (tabSelected)="onAttributeValueTabSelected($event)"
                 [show]="!isSelfContent">
        <app-product-attribute-value [attributeId]="id"></app-product-attribute-value>
    </nh-tab-pane><!-- END: Attribute value info -->
</nh-tab>

<nh-modal #productAttributeFormModal size="md"
          (shown)="onModalShown()"
          (hidden)="onModalHidden()">
    <form action="" class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-header class="bold uppercase">
            <span i18n="@@productAttributeFormModalTitle">
                {isUpdate, select, 0 {Add new attribute} 1 {Update attribute}}
            </span>
        </nh-modal-header>
        <nh-modal-content>

        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox
                class="cm-mgr-5"
                color="primary"
                name="isCreateAnother"
                *ngIf="!isUpdate"
                [(checked)]="isCreateAnother"
                (change)="isCreateAnother = !isCreateAnother"
                i18n="isCreateAnother"> Create another
            </mat-checkbox>
            <button class="btn blue cm-mgr-5" i18n="@@save">Save</button>
            <button type="button" class="btn btn-light" nh-dismiss i18n="@@cancel">
                Cancel
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>
