<div class="row cm-mgb-10">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search(1)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập từ khoá tìm kiếm." [(ngModel)]="keyword" name="keyword" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="fas fa-search" *ngIf="!isSearching"></i>
                    <i class="fas fa-spinner fa-spin" *ngIf="isSearching"></i>
                </button>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" (click)="add()">
                    <i class="fas fa-plus"></i>
                    Thêm
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-stripped">
                <thead>
                <tr>
                    <th class="center middle w50">STT</th>
                    <th class="center middle">Tên khóa học</th>
                    <th class="center middle">Mô tả</th>
                    <th class="center middle w50">Trạng thái</th>
                    <th class="center middle w100"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listItems$ | async; let i = index">
                    <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                    <td class="middle">{{ item.name }}</td>
                    <td class="middle">{{ item.description }}</td>
                    <td class="center middle">
                        <span class="badge "
                              [class.badge-danger]="!item.isActive"
                              [class.badge-success]="item.isActive"
                        >{{ item.isActiveText }}</span>
                    </td>
                    <td class="center middle">
                        <button type="button" class="btn btn-sm btn-primary" matTooltip="Sửa"
                                [matTooltipPosition]="'above'"
                                (click)="edit(item)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" matTooltip="Xóa"
                                [matTooltipPosition]="'above'"
                                [swal]="{ title: 'Bạn có chắc chắn muốn xóa khóa học', type: 'warning' }"
                                (confirm)="delete(item.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="6" (pageClick)="search($event)"
                    [isDisabled]="isSearching" pageName="khóa học"></ghm-paging>
    </div>
</div>

<app-course-form (onSaveSuccess)="search(1)"></app-course-form>
