<div style="display: none;" #printArea>
    <div class="print-page">
        <header>
            <img src="{{imageUrl}}/assets/images/print/print-header.jpg" alt="">
        </header>
        <table class="w100pc">
            <tr>
                <td class="text-right" colspan="3">
                    <div class="bold">Mã số: 01-VT</div>
                    <i>Ngày 14/09/2006 của Bộ trưởng BTC</i>
                </td>
            </tr>
            <tr style="margin-bottom: 20px;">
                <td colspan="3">
                    <h4 class="receipt-title">phiếu nhập</h4>
                    <div class="center">
                        Ngày {{ goodsReceiptNote?.day < 10 ? '0' + goodsReceiptNote?.day : goodsReceiptNote?.day }}
                        tháng {{ goodsReceiptNote?.month < 10 ? '0' + goodsReceiptNote?.month : goodsReceiptNote?.month
                        }} năm {{ goodsReceiptNote?.year }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="control-group">
                        <label for="">Người bán hàng:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.supplierName }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="control-group">
                        <label for="">Họ tên người giao hàng:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.deliverFullName }}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control-group">
                        <label for="">Theo:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.follow }}</div>
                    </div>
                </td>
                <td>
                    <div class="control-group">
                        <label for="">Số:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.invoiceNo }}</div>
                    </div>
                </td>
                <td>
                    <div class="control-group">
                        <label for="">Ngày:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.invoiceDate | dateTimeFormat:'DD/MM/YYYY' }}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="control-group">
                        <label for="">Nhập tại kho:</label>
                        <div class="dotted-control">{{ goodsReceiptNote?.warehouseName }}</div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="w100pc bordered">
            <thead>
            <tr>
                <th rowspan="2" class="center w50">STT</th>
                <th rowspan="2" class="center">Tên, Nhãn hiệu, quy cách, phẩm chât</th>
                <th rowspan="2" class="center w70">Mã số</th>
                <th rowspan="2" class="center w70">Lô SX</th>
                <th rowspan="2" class="center w100">Hạn SD</th>
                <th rowspan="2" class="center w70">Đơn vị tính</th>
                <th colspan="2" class="center">Số lượng</th>
                <th rowspan="2" class="center w70">Đơn giá (đồng)</th>
                <th rowspan="2" class="center w70">Tổng tiền</th>
            </tr>
            <tr>
                <th class="center w70">Chứng từ</th>
                <th class="center w70">Thực nhập</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of goodsReceiptNote?.goodsReceiptNoteDetails; let i = index">
                <td>{{ (i + 1) }}</td>
                <td>{{ item.productName }}</td>
                <td>{{ item.productId }}</td>
                <td>{{ item.lotId }}</td>
                <td>{{ item.expiryDate | dateTimeFormat:'DD/MM/YYYY' }}</td>
                <td>{{ item.unitName }}</td>
                <td>{{ item.invoiceQuantity | ghmCurrency:0 }}</td>
                <td>{{ item.quantity | ghmCurrency:0 }}</td>
                <td>{{ item.price | ghmCurrency:0 }}</td>
                <td>{{ item.totalAmounts | ghmCurrency:0 }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="8" i18n="@@totalAmounts">Tổng tiền</td>
                <td class="text-right bold" colspan="2">{{ totalAmounts | ghmCurrency:0 }}</td>
            </tr>
            </tbody>
        </table>
        <table class="w100pc">
            <tr>
                <td>
                    <div class="control-group">
                        <label for="">Tổng số tiền (Viết bằng chữ):</label>
                        <div class="dotted-control">{{ totalAmounts | ghmAmountToWord }}</div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="w100pc" style="margin-top: 10px;">
            <tr>
                <td class="center">Người lập bảng</td>
                <td class="center">Người giao hàng</td>
                <td class="center">Thủ kho</td>
                <td class="center">Kế toán trưởng</td>
                <td></td>
            </tr>
            <tr>
                <td style="min-height: 100px; height: 100px;"></td>
                <td style="min-height: 100px; height: 100px;"></td>
                <td style="min-height: 100px; height: 100px;"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="center">{{ currentUser?.fullName }}</td>
                <td class="center">{{ goodsReceiptNote?.deliverFullName }}</td>
                <td class="center">{{ goodsReceiptNote?.warehouseManager }}</td>
                <td class="center"></td>
            </tr>
            </tfoot>
        </table>
        <div class="page-break"></div>
        <footer>
            <img src="{{imageUrl}}/assets/images/print/print-footer.jpg" alt="">
        </footer>
    </div>
</div>
