$main-color: #007455;
$border-color: #ccc;
$second-color: #b01a1f;
$color-selected: #007455;

.new-content {
  .portlet-body {
    .form-group {
      margin-bottom: 5px !important;
    }
    .control-label {
      padding-bottom: 5px;
    }
  }
}

.blog-page {
  .bordered {
    border: 1px solid;
    border-color: #e7ecf1;
  }
  .blog-container {
    margin-bottom: 30px;
  }
  .blog-title > a {
    color: #4e5a64;
    font-weight: 600;
    &:hover {
      color: #3598DC;
      text-decoration: none;
    }
  }
}

@charset "UTF-8";

/* Cubic Bezier Transition */
/***
Blog Page
***/

.blog-page {
  margin-top: 15px;
  .bordered {
    //border: 1px solid;
    //border-color: #e7ecf1;
  }
  .blog-container {
    margin-bottom: 30px;
  }
  .blog-title > a {
    color: #4e5a64;
    font-weight: 600;
    &:hover {
      color: #3598DC;
      text-decoration: none;
    }
  }
}

.blog-content-2 {
  .portlet.light {
    padding: 0px;
  }
  .blog-single-content {
    padding: 15px;
    background-color: #fff;
    > {
      .media {
        margin-bottom: 10px;
        .media-left {
          .blog-single-img {
            margin: 0 0 35px 0;
            > img {
              width: 100%;
            }
          }
        }
        .media-body {
          .blog-single-head > {
            .blog-single-head-title {
              font-size: 20px;
              font-weight: 600;
              color: #4e5a64;
              margin: 0 0 5px;
              display: inline-block;
            }
            .blog-single-head-date {
              font-size: 13px;
              font-weight: 600;
              margin-bottom: 10px;
              > {
                i {
                  margin-right: 5px;
                }
                a {
                  color: #9aa5b2;
                  &:hover {
                    color: #3598DC;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          .blog-single-description {
            font-weight: 600;
            margin-top: 0px;
          }
        }
      }
      .blog-single-desc > {
        margin-bottom: 20px;
        p {
          margin: 0 0 35px 0;
          font-size: 16px;
          color: #7e8691;
          line-height: 24px;
        }
      }
      .blog-single-foot {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #f0f1f2;
        padding: 20px 0 25px 0;
        margin-bottom: 20px;
        > .blog-post-tags {
          text-align: left;
          padding: 0;
          margin: 0;
          > li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            > a {
              background-color: #f4f6f8;
              color: #a0a9b4;
              font-size: 11px;
              font-weight: 600;
              padding: 7px 10px;
              &:hover {
                background-color: #3598DC;
                color: #fff;
                text-decoration: none;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      p {
        margin: 10px 0 !important;
      }
    }
    > {
      .blog-comments {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin: 6px 10px 3px 0;
        .blog-comments-title {
          font-size: 20px;
        }
        i {
          position: relative;
          top: 2px;
        }
        input:focus, textarea:focus {
          outline: 0;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .blog-single-sidebar {
    padding: 15px;
    background-color: #fff;
    .blog-sidebar-title {
      font-weight: 600;
      font-size: 14px;
      color: #4e5a64;
      letter-spacing: 1px;
      margin: 20px 0px;
    }

    .list-inline {
      .list-items {
        border: none !important;
      }
    }
    > {
      .blog-single-sidebar-search input {
        font-size: 14px;
        color: #a0a9b4;
        &:focus {
          outline: 0;
          border: 1px solid #ccc;
        }
      }
      .blog-single-sidebar-recent > ul {
        padding: 0;
        > li {
          list-style: none;
          margin-bottom: 10px;
          position: relative;
          > a {
            color: #49a7fa;
            font-size: 16px;
            padding-left: 20px;
            display: block;
            &:hover {
              text-decoration: none;
              color: #3598DC;
            }
          }
          &:before {
            content: "•";
            color: #dae0e5;
            font-size: 30px;
            position: absolute;
            margin-top: -9px;
          }
        }
      }
      .blog-single-sidebar-tags .blog-post-tags {
        text-align: left;
        padding: 0;
        margin: 20px 0 0 0;
        > li {
          list-style: none;
          display: inline-block;
          margin: 0 5px 20px 0;
          > a {
            background-color: #f4f6f8;
            color: #a0a9b4;
            font-size: 11px;
            font-weight: 600;
            padding: 7px 10px;
            &:hover {
              background-color: #3598DC;
              color: #fff;
              text-decoration: none;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .blog-single-sidebar-links > ul {
        padding: 0;
        > li {
          list-style: none;
          border-bottom: 1px solid;
          border-color: #f0f1f2;
          padding: 20px 0;
          > a {
            color: #49a7fa;
            font-size: 16px;
            &:hover {
              text-decoration: none;
              color: #3598DC;
            }
          }
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            border: none;
          }
        }
      }
      .blog-single-sidebar-ui {
        .ui-margin {
          margin: 0;
        }
        .ui-padding {
          padding: 0 5px 5px 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }

}

@media (max-width: 991px) {
  .blog-content-1 {
    .blog-post-lg > .blog-img-thumb {
      height: 330px;
    }
    .blog-post-sm > .blog-img-thumb {
      height: 170px;
    }
    .blog-video > .blog-img-thumb {
      height: 301px;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot {
    text-align: left;
    > {
      .blog-post-tags {
        float: none;
      }
      .blog-post-meta {
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
  .blog-content-2 .blog-single-content > .blog-single-head > {
    .list-inline {
      .list-items {
        border: none !important;
      }
    }
    .blog-single-head-title {
      margin-bottom: 0px;
    }
    .blog-single-head-date {
      float: none;
      margin-bottom: 40px;
    }
  }
}

.select-news-container {
  li {
    padding: 5px;
  }
  .selected {
    border-left: 3px solid $color-selected;
  }

  .media {
    .media-body {
      vertical-align: middle;
    }
  }
}

.list-items {
  border: none !important;
}
