<!--<form action="" (ngSubmit)="save()">-->
    <div class="row">
        <div class="col-sm-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                      <span class="caption-subject bold caption font-red-sunglo uppercase"
                            i18n="@@unit">
                      <i class="fa fa-cube" aria-hidden="true"></i>
                       <ng-container> Unit</ng-container>
                       </span>
                    </div>
                </div>
                <div class="portlet-body bordered cm-pdt-0">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="middle center w100" i18n="@@isDefault">Is Default ?</th>
                            <th class="middle" i18n="@@unit">Unit</th>
                            <th class="middle w200 text-right" i18n="@@price">Price</th>
                            <th class="middle w50 center" *ngIf="!isReadonly">
                                <button class="btn btn-sm blue" type="button" (click)="addUnit()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let productUnit of listProductUnit; let i = index">
                            <td class="middle center">
                                <mat-radio-button color="primary" [checked]="productUnit.isDefault"
                                                  [disabled]="isReadonly"
                                                  (change)="selectIsDefault(productUnit)"></mat-radio-button>
                            </td>
                            <td class="middle">
                                <nh-select
                                    [isEnable]="!isReadonly"
                                    [liveSearch]="true"
                                    [class]="'w100pc'"
                                    [title]="'- Unit -'"
                                    i18n-title="@@selectUnit"
                                    [data]="listUnitSuggestion"
                                    [value]="productUnit.unitId"
                                    (onSelectItem)="selectProductUnit($event, productUnit, i)"
                                ></nh-select>
                            </td>
                            <td class="middle text-right">
                                <div class="input-group">
                                    <input class="form-control text-right"
                                           id="salePrice - {{productUnit.unitId}}"
                                           [(ngModel)]="productUnit.salePrice" name="salePrice - {{productUnit.unitId}}"
                                           (blur)="changeSalePrice(productUnit)"
                                           (focus)="oldSalePrice = productUnit.salePrice"
                                           *ngIf="!isReadonly; else inputPrice">
                                    <ng-template #inputPrice>
                                        <div class="form-control height-auto">
                                            {{productUnit.salePrice | formatNumber}}
                                        </div>
                                    </ng-template>
                                    <div class="input-group-addon text-right">
                                        <span>VNĐ</span>
                                    </div>
                                </div>
                            </td>
                            <td class="center" *ngIf="!isReadonly">
                                <a class="btn red" (click)="removeUnit(productUnit, i)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                      <span class="caption-subject bold caption font-red-sunglo uppercase"
                         >
                      <i class="fa fa-cube" aria-hidden="true"></i>
                       <ng-container i18n="@@unitConversion"> Unit conversion</ng-container>
                       </span>
                    </div>
                </div>
                <div class="portlet-body bordered cm-pdt-0">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="middle" i18n="@@unit">Unit</th>
                            <th class="middle w50"></th>
                            <th class="middle w100" i18n="@@conversionRate">Rate</th>
                            <th class="middle" i18n="@@">Unit Conversion</th>
                            <th class="middle w50 center" *ngIf="!isReadonly">
                                <button class="btn btn-sm blue" type="button" (click)="addUnitConversion()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let productUnitConversion of listProductUnitConversion; let i = index">
                            <td class="middle">
                                <nh-select
                                    [isEnable]="!isReadonly"
                                    [title]="'- Unit -'"
                                    i18n-title="@@unit"
                                    [data]="listUnitSelect"
                                    [value]="productUnitConversion.unitId"
                                    (onSelectItem)="selectUnit(productUnitConversion, $event, i)"
                                ></nh-select>
                            </td>
                            <td class="center">=</td>
                            <td class="middle center">
                                <input class="form-control text-right" [(ngModel)]="productUnitConversion.value"
                                       name="value - {{productUnitConversion.unitId}} - {{productUnitConversion.unitConversionId}}"
                                       id="value - {{productUnitConversion.unitId}} - {{productUnitConversion.unitConversionId}}"
                                       *ngIf="!isReadonly; else inputValue"
                                       (blur)="changeProductUnitConversionValue(productUnitConversion)"
                                       (focus)="oldValue = productUnitConversion.value">
                                <ng-template #inputValue>
                                    <div class="form-control height-auto text-right">
                                        {{productUnitConversion.value | formatNumber}}
                                    </div>
                                </ng-template>
                            </td>
                            <td class="middle">
                                <nh-select
                                    [title]="'- Unit Conversion -'"
                                    [isEnable]="!isReadonly"
                                    i18n-title="@@unitConversion"
                                    [value]="productUnitConversion.unitConversionId"
                                    [data]="listUnitSelect"
                                    (onSelectItem)="selectUnitConversionId(productUnitConversion, $event, i)"
                                ></nh-select>
                            </td>
                            <td class="center" *ngIf="!isReadonly">
                                <a class="btn red" (click)="removeUnitConversion(productUnitConversion, i)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center" >
            <button *ngIf="!isReadonly" class="btn blue cm-mgr-5" i18n="@@save"  type="button" (click)="save()">
                Save
            </button>
            <a routerLink="/products" class="btn default" i18n="@@close">
                Close
            </a>
        </div>
    </div>
<!--</form>-->
