<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">STT</th>
        <th class="middle" i18n="@@fullName">Họ Tên</th>
        <th class="middle" i18n="@@address">Vị trí</th>
        <th class="middle" i18n="@@description">Ghi chú</th>
        <th class="middle text-right w50" i18n="@@action" *ngIf="(permission.delete)">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listInventoryMember; let i = index"
        nhContextMenuTrigger
        [nhContextMenuTriggerFor]="nhMenu"
        [nhContextMenuData]="item">
        <td class="center middle">{{i + 1}}</td>
        <td class="middle">{{item.fullName}}</td>
        <td class="middle">{{item.position}}</td>
        <td class="middle">
            <input class="form-control"
                      [(ngModel)]="item.description"
                      (blur)="updateDescription(item)"
                       >
        </td>
        <td class="text-right middle" *ngIf="(permission.delete) ">
            <button class="btn red" (click)="confirm(item)" type="button">
                <i class="fa fa-times"></i>
            </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <ng-container [formGroup]="model">
            <td></td>
            <td class="middle" [formGroup]="model"
                [class.has-error]="formErrors?.fullName">
                <ghm-user-suggestion (userSelected)="selectUser($event)"></ghm-user-suggestion>
                <span class="help-block">
                         {
                                formErrors?.fullName,
                                select, required {Please enter fullName}
                                maxlength {FullName can not exceed 50 characters}
                         }
                </span>
            </td>
            <td class="middle">
                <span [formGroup]="model">{{model.value.position}}</span>
            </td>
            <td class="middle" [formGroup]="model"
                [class.has-error]="formErrors?.description">
                <input *ngIf="model.value.userId"
                          id="description"
                          rows="1"
                          class="form-control" formControlName="description">
                <span class="help-block">
                 {
                                formErrors?.description,
                                select,
                                maxlength {Description can not exceed 500 characters}
                 }
                </span>
            </td>
            <td class="middle center">
                <button class="btn blue" (click)="save()" type="button">
                    <i class="fa fa-save"></i>
                </button>
            </td>
        </ng-container>
    </tr>
    </tfoot>
</table>

<swal
    #confirmDelete
    i18n="@@confirmDelete"
    i18n-title="@@confirmTitleDeleteInventoryMember"
    i18n-text="@@confirmTextDeleteInventoryMember"
    title="Bạn có muốn xóa thành viên kiểm kho này?"
    text="Bạn không thể lấy lại dữ liệu sau khi xóa."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<nh-menu #nhMenu>
    <nh-menu-item *ngIf="permission.delete"
                  (clicked)="confirm($event)">
        <i class="fa fa-trash"></i>
        <span i18n="@@edit">Delete</span>
    </nh-menu-item>
</nh-menu>
