<div class="form-group"
     *ngFor=" let patientContact of listPatientContact; let i = index">
    <label class="col-md-4 col-sm-6 control-label">{{label}}</label>
    <div class="col-md-8 col-sm-6" [class.has-error]="contactValue.invalid" *ngIf="!isDetail">
        <div class="input-group">
            <input type="text" class="form-control"
                   [disabled]="isDetail"
                   placeholder="{{placeholder}}"
                   [(ngModel)]="patientContact.contactValue"
                   [pattern]="type === contactType.email ? '[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}' : '^[+]?[(]?[0-9]{3}[)]?[-s.]?[0-9]{3}[-s.]?[0-9]{4,6}$'"
                   #contactValue = "ngModel"
                   (keypress)="onKeyPress(patientContact, $event)"/>
            <div class="input-group-btn" *ngIf="i > 0 && !isDetail">
                <button class="btn btn-danger" type="button"
                        (click)="delete(patientContact)">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <!--<div class="input-group-btn" *ngIf="customerId">-->
                <!--<button class="btn btn-primary" type="button" [disabled]="contactValue.invalid"-->
                        <!--(click)="updatePatientContact(patientContact)">-->
                    <!--<i class="fa fa-save"></i>-->
                <!--</button>-->
            <!--</div>-->
            <div class="input-group-btn">
                <button class="btn btn-primary" type="button" [disabled]="contactValue.invalid"
                        (click)="add(patientContact)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <span *ngIf="contactValue.invalid && !isDetail" class="help-block">
           {{type == contactType.email ? 'Email không đúng định dạng.' : 'Số điện thoại không đúng định dạng'}}
        </span>
    </div>
    <div class="col-md-8 col-sm-6" *ngIf="isDetail">
        <div class="form-control">
            {{patientContact.contactValue}}
        </div>
    </div>
</div>

