<nh-modal #officeDetailModal size="lg"
          (shown)="onModalShown()"
          (hidden)="onModalHidden()">
    <nh-modal-content>
        <div class="row">
            <div class="col-sm-4">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase" i18n="@@officeOrganizationTitle">Office organization</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <nh-tree
                            [data]="officeTree"
                            (nodeSelected)="onNodeSelected($event)">
                        </nh-tree>
                    </div>
                </div>
            </div>
            <!-- END: .col-sm-4 -->
            <div class="col-sm-8">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase" i18n="@@officeDetailTitle">
                                Office detail
                            </span>
                        </div>
                        <div class="actions" *ngIf="permission.edit || permission.delete">
                            <a href="javascript://"
                               class="btn btn-circle btn-primary cm-mgr-5"
                               *ngIf="permission.edit"
                               (click)="edit()"
                            >
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-circle red-sunglo"
                               *ngIf="permission.delete"
                               [swal]="confirmDeleteOffice" (confirm)="deleteOffice()">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-horizontal">
                            <div class="tabbable-custom">
                                <ul class="nav nav-tabs ">
                                    <li [class.active]="viewType === 0">
                                        <a href="javascript://" (click)="changeViewType(0)" i18n="@@officeInfo">
                                            Office info
                                        </a>
                                    </li>
                                    <li [class.active]="viewType === 1">
                                        <a href="javascript://" (click)="changeViewType(1)" i18n="@@listPosition">
                                            List positions
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <ng-container *ngIf="viewType ===  0; else listPositionTemplate">
                                            <div class="form-group">
                                                <label i18n-ghmLabel="@@parentOffice" ghmLabel="Parent office"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-control">{{ officeDetail?.parentName }}</div>
                                                </div>
                                                <label i18n-ghmLabel="@@officeCode" ghmLabel="Office code"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-control">{{ officeDetail?.code }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label i18n-ghmLabel="@@officeName" ghmLabel="Office name"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-control">{{ officeDetail?.name }}</div>
                                                </div>
                                                <label i18n-ghmLabel="@@shortName" ghmLabel="Short name"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-control">{{ officeDetail?.shortName }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label i18n-ghmLabel="@@officeType" ghmLabel="Office type"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                    <div class="form-control" i18n="@@officeType">

                                                    </div>
                                                </div>
                                                <label i18n-ghmLabel="@@status" ghmLabel="Status"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-3">
                                                <span class="badge cm-mgt-10"
                                                      [class.badge-success]="officeDetail?.isActive"
                                                      [class.badge-danger]="!officeDetail?.isActive"
                                                >
                                                    {officeDetail?.isActive, select, 0 {InActivated} 1 {Activated} other {}}
                                                </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label i18n="@@description" i18n-ghmLabel ghmLabel="Description"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <div class="form-control height-auto">{{ officeDetail?.description
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label i18n="@@address" i18n-ghmLabel ghmLabel="Address"
                                                       class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <div class="form-control height-auto">{{ officeDetail?.address }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <app-office-contact
                                                        #detailOfficeContact
                                                        [officeId]="officeDetail?.id"
                                                        [officeContacts]="officeDetail?.officeContacts">
                                                    </app-office-contact>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!-- END: .tab-pane -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: .col-sm-8 -->
        </div>
    </nh-modal-content>
    <nh-modal-footer>
        <ghm-button classes="btn btn-default"
                    nh-dismiss="true"
                    type="button">
            <span i18n="@@close">Close</span>
        </ghm-button>
    </nh-modal-footer>
</nh-modal>

<nh-modal #addPositionModal size="sm"
          [backdropStatic]="true"
          (onShown)="onAddPositionModalShown()">
    <nh-modal-header>
        <span i18n="@@addPosition">Add position</span>
    </nh-modal-header>
    <nh-modal-content>
        <nh-suggestion
            i18n-placeholder="@@typePositionNameForSearch"
            placeholder="Type position name for search"
            [multiple]="true"
            [sources]="positions"
            [selectedItems]="selectedPositions"
            [loading]="isSearchingPositions"
            (searched)="searchPositionForSuggestion($event)"
        ></nh-suggestion>
    </nh-modal-content>
    <nh-modal-footer>
        <button type="button" class="btn btn-primary" i18n="@@accept" (click)="acceptAddPosition()">
            Accept
        </button>
    </nh-modal-footer>
</nh-modal>

<ng-template #listPositionTemplate>
    <form class="form-inline" (ngSubmit)="searchPosition(1)">
        <div class="col-sm-12">
            <div class="form-group cm-mgr-5">
                <div class="input-group">
                    <input type="text" class="form-control"
                           i18n-placeholder="@@enterKeyword"
                           placeholder="Enter keyword"
                           name="searchPositionKeyword"
                           [(ngModel)]="keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                            <i class="fa fa-search" *ngIf="!isSearching"></i>
                        </button>
                    </span>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<ghm-button-->
                    <!--*ngIf="permission.delete"-->
                    <!--icon="fa fa-search"-->
                    <!--classes="btn btn-primary"-->
                    <!--[loading]="isSearching"-->
                <!--&gt;-->
                <!--</ghm-button>-->
            <!--</div>-->
            <div class="form-group pull-right" *ngIf="officePermission.add">
                <button type="button" class="btn btn-primary" i18n="@@add" (click)="showAddPositionModal()">
                    Add
                </button>
            </div>
        </div>
    </form>
    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th class="center w50" i18n="@@no">No</th>
            <th i18n="@@positionName">Position Name</th>
            <th class="center w100" i18n="@@isManager">Is Manager</th>
            <th class="center w100" i18n="@@isMultiple">Is Multiple</th>
            <th class="w70 center" i18n="@@actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listItems; let i = index">
            <td class="center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>{{ item.positionName }}</td>
            <td class="center">
                <i class="fa fa-check color-green" *ngIf="item.isManager"></i>
            </td>
            <td class="center">
                <i class="fa fa-check color-green" *ngIf="item.isMultiple"></i>
            </td>
            <td class="center">
                <ghm-button
                    *ngIf="permission.delete"
                    icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                    [swal]="confirmDeleteOfficePosition"
                    (confirm)="deletePosition(item.positionId)"></ghm-button>
            </td>
        </tr>
        </tbody>
    </table>
    <ghm-paging
        i18n-pageName="@@position"
        pageName="Position"
        [totalRows]="totalRows"
        [currentPage]="currentPage"
        [pageShow]="6"
        [isDisabled]="isSearching"
        (pageClick)="searchPosition($event)"></ghm-paging>
</ng-template>

<swal
    #confirmDeleteOfficePosition
    i18n-title="@@confirmDeleteOfficePositionTitle"
    i18n-text="@@confirmDeleteOfficePositionText"
    title="Are you sure want to remove this position out of office."
    text="You can't recover after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<swal
    #confirmDeleteOffice
    i18n-title="@@confirmDeleteOfficeTitle"
    i18n-text="@@confirmDeleteOfficeText"
    title="Are you sure want to delete this office."
    text="You can't recover this office after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
