<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@productFormPageTitle">
        {isUpdate, select, 0 {Add new product} 1 {Update product}}
    </span>
    <small i18n="@@productModuleTitle">Product management</small>
</h1>
<nh-tab>
    <nh-tab-pane [active]="true"
                 title="Product info"
                 i18n-title="@@productInfo"
                 id="productInfo">
        <form action="" class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
            <div formArrayName="translations">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                     <span class="caption-subject bold caption font-red-sunglo uppercase">
                                        <i class="fa fa-cube" aria-hidden="true"></i>
                                         <span i18n="@@productInfo"> Product Info</span>
                                     </span>
                                </div>
                            </div>
                            <div class="portlet-body bordered cm-pdt-0">
                                <div class="form-group" *ngIf="languages && languages.length > 1">
                                    <label i18n-ghmLabel="@@language" ghmLabel="Language"
                                           class="control-label"></label>
                                    <nh-select [data]="languages"
                                               i18n-title="@@pleaseSelectLanguage"
                                               title="-- Please select language --"
                                               name="language"
                                               [(value)]="currentLanguage"
                                               (onSelectItem)="currentLanguage = $event.id"></nh-select>
                                </div>
                                <div class="form-group"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                                    <label class="control-label" ghmLabel="Product name"
                                           i18n-ghmLabel="@@productName"
                                           [required]="true"></label>
                                    <input type="text" class="form-control"
                                           id="{{'name ' + currentLanguage}}"
                                           formControlName="name"
                                           placeholder="Enter product name"
                                           i18n-placeholder="@@enterProductName">
                                    <span class="help-block">
                                        {
                                        translationFormErrors[modelTranslation.value.languageId]?.name,
                                        select, required {Please enter product name} maxlength {Product name can not exceed 256 characters}
                                                pattern  {Product name must has character}
                                        }
                                    </span>
                                </div>
                                <div class="form-group" [formGroup]="model"
                                     [class.has-error]="formErrors?.categories">
                                    <label class="control-label" i18n-ghmLabel="@@productCategory"
                                           ghmLabel="Product Category"
                                           [required]="true"></label>

                                    <nh-dropdown-tree [data]="categoryTree"
                                                      [title]="id ? categoryText : 'Select product category'"
                                                      [isMultiple]="true"
                                                      formControlName="categories"
                                                      (accepted)="onAcceptSelectCategory($event)">
                                    </nh-dropdown-tree>
                                    <span class="help-block">{formErrors?.categories, select, required {Product Category is required}}</span>
                                </div>
                                <div class="form-group"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                                    <label class="control-label" ghmLabel="Description"
                                           i18n-ghmLabel="@@description"></label>
                                    <textarea name="" class="form-control" rows="3"
                                              formControlName="description"
                                              placeholder="Enter description"
                                              i18n-placeholder="@@enterDescription"></textarea>
                                    <span class="help-block">
                                        {
                                        translationFormErrors[modelTranslation.value.languageId]?.description,
                                        select, maxlength {Product description can not exceed 500 characters}
                                        }
                                       </span>
                                </div>
                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.content">
                                    <label class="control-label" i18n-ghmlabel="@@content" ghmLabel="Content"></label>
                                    <div class="form-group cm-mg-0">
                                        <ghm-file-explorer i18n-buttonText="@@appendImageToContent"
                                                           [buttonText]="'Append image to content '"
                                                           [multiple]="true"
                                                           (acceptSelected)="afterUploadImageContent($event)"></ghm-file-explorer>
                                    </div>
                                    <tinymce [elementId]="'content'+ i" formControlName="content"
                                             [(ngModel)]="modelTranslation.value.content" [height]="350"></tinymce>
                                </div>
                                <div class="form-group cm-mg-0" [formGroup]="model">
                                    <mat-checkbox color="primary" formControlName="isHot" i18n="@@isHot">
                                        {model.value.isHot, select, 0 {Normal} 1 {Hot}}
                                    </mat-checkbox>
                                </div>
                                <div class="form-group cm-mg-0" [formGroup]="model">
                                    <mat-checkbox color="primary" formControlName="isHomePage" i18n="@@isHomePage">
                                        {model.value.isHomePage, select, 0 {Not Home Page} 1 {Home Page}}
                                    </mat-checkbox>
                                </div>
                                <div class="form-group" [formGroup]="model"
                                     [class.has-error]="formErrors?.isManagementByLot">
                                    <mat-checkbox formControlName="isManagementByLot" color="primary"><span
                                            i18n="@@isManagementByLot"></span> Management By Lot?
                                    </mat-checkbox>
                                    <span class="help-block">
                                            {
                                            formErrors?.isManagementByLot,
                                            select, required {IsManagementByLot is required}
                                            }</span>
                                </div>
                                <div class="form-group" [formGroup]="model"
                                     [class.has-error]="formErrors?.isActive">

                                    <mat-checkbox formControlName="isActive" color="primary">
                                             <span i18n="@@isActive">
                                             {model.value.isActive, select, 0 {Inactive} 1 {Active}}
                                        </span>
                                    </mat-checkbox>
                                    <span class="help-block">
                                            {
                                            formErrors?.isActive,
                                            select, required {IsActive is required}
                                            }</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="portlet ">
                            <div class="portlet-title">
                                <div class="caption">
                                     <span class="caption-subject bold caption font-red-sunglo uppercase"
                                           i18n="@@seoContent">
                                        <i class="fa fa-image" aria-hidden="true"></i>
                                         <span i18n="@@image"> Image</span>
                                     </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ghm-file-explorer i18n-buttonText="@@selectImage"
                                                   [multiple]="true"
                                                   i18n-buttonText="@@selectProductImage"
                                                   [buttonText]="'Select product image'"
                                                   (acceptSelected)="uploadImageProduct($event)"></ghm-file-explorer>
                                <div class="product-images">
                                    <div class="image-content" *ngFor="let item of productImages"
                                         [class.thumbnail]="item.isThumbnail">
                                        <img ghmImage [src]="item.url"
                                             [nhImageViewer]="item.url"
                                             [errorImageUrl]="'/assets/images/no-image.png'"
                                             [isUrlAbsolute]="true">
                                        <button class="btn btn-sm btn-remove red" type="button"
                                                [swal]="confirmDeleteImage"
                                                (confirm)="removeImage(item)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <button class="btn btn-sm btn-check blue"
                                                [class.display-none]="!item.isThumbnail" (click)="checkThumbnail(item)"
                                                type="button">
                                            <i class="fa fa-circle-o" aria-hidden="true" *ngIf="!item.isThumbnail"></i>
                                            <i class="fa fa-check" aria-hidden="true" *ngIf="item.isThumbnail">
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet ">
                            <div class="portlet-title">
                                <div class="caption">
                             <span class="caption-subject bold uppercase" i18n="@@seoContent">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                 Seo content
                             </span>
                                </div>
                            </div>
                            <div class="portlet-body cm-pdt-0">
                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaKeyword">
                                    <label class="control-label" i18n-ghmLabel="@@metaKeyword"
                                           ghmLabel="Meta Keyword"> </label>
                                    <input type="text" class="form-control" i18n-placeholder="@@metaKeywordPlaceHolder"
                                           placeholder="Please enter meta keyword"
                                           formControlName="metaKeyword"/>
                                    <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaKeyword, select, maxLength {Meta Keyword not allowed
                                                          over 300 characters}}</span>
                                </div>
                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaTitle">
                                    <label class="control-label" i18n-ghmLabel="@@metaTitle"
                                           ghmLabel="Meta Title"></label>
                                    <input type="text" class="form-control" i18n-placeholder="@@metaTitlePlaceHolder"
                                           placeholder="Please enter meta title"
                                           formControlName="metaTitle"/>
                                    <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaTitle, select, maxLength {MetaTitle not allowed
                                                          over 256 characters}}</span>
                                </div>

                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaDescription">
                                    <label class="control-label" i18n-ghmLabel="@@metaDescriptionPlaceHolder"
                                           ghmLabel="Meta Description"></label>
                                    <textarea rows="3" class="form-control" i18n-placeholder="@@metaDescriptionPlaceholder"
                                              placeholder="Please enter meta description"
                                              formControlName="metaDescription"></textarea>
                                    <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaDescription, select,
                                                                maxLength {Meta Description not allowed over 1000 characters}}</span>
                                </div>

                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.seoLink">
                                    <label class="control-label" i18n-ghmLabel="@@seoLink" ghmLabel="Seo Link"></label>
                                    <input type="text" class="form-control" i18n-placeholder="@@seoLinkHolder"
                                           placeholder="Please enter seoLink" formControlName="seoLink"/>
                                    <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.seoLink,
                                                           maxLength {SeoLink not allowed over 256 characters}}</span>
                                </div>
                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i"
                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaDescription">
                                    <label class="control-label" i18n-ghmLabel="@@metaDescriptionPlaceHolder"
                                           ghmLabel="Meta Description"></label>
                                    <textarea rows="3" class="form-control"
                                              i18n-placeholder="@@metaDescriptionPlaceholder"
                                              placeholder="Please enter meta description"
                                              formControlName="metaDescription"></textarea>
                                    <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaDescription,
                                                    maxLength {Meta Description not allowed over 1000 characters}}</span>
                                </div>
                                <div class="form-group cm-mg-0"
                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                     *ngFor="let modelTranslation of translations.controls; index as i"
                                     [formGroupName]="i">
                                    <label class="control-label" i18n-ghmLabel="@@tags" ghmLabel="Tags"></label>
                                    <nh-tag [type]="tagType.product"
                                            [listTag]="modelTranslation.value.tags"
                                            [languageId]="currentLanguage"
                                            [tenantId]="currentUser.tenantId"
                                            [objectId]="id"
                                            (onRemove)="removeTag($event)"
                                            (onSelect)="selectTag($event)"
                                            (onSelectListItem)="selectListTag($event)"
                                    ></nh-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group cm-mgl-0">
                            <mat-checkbox
                                    class="cm-mgr-5"
                                    color="primary"
                                    name="isCreateAnother"
                                    i18n="@@isCreateAnother"
                                    *ngIf="!isUpdate"
                                    [(checked)]="isCreateAnother"
                                    (change)="isCreateAnother = !isCreateAnother"> Create another
                            </mat-checkbox>
                            <button class="btn blue cm-mgr-5" i18n="@@save" type="button" (click)="save()">
                                Save
                            </button>
                            <a routerLink="/products" class="btn default" i18n="@@cancel">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nh-tab-pane>
    <nh-tab-pane title="Product Unit"
                 i18n-title="@@productUnit"
                 id="productUnit"
                 (tabSelected)="clickTabProductUnit($event)">
        <app-product-form-product-unit
                [productId]="id"
                [listProductUnit]="listProductUnit"
                [listProductUnitConversion]="listProductUnitConversion"
                (selectProductListUnit)="onSelectProductListUnit($event)"
        ></app-product-form-product-unit>
    </nh-tab-pane>
    <nh-tab-pane *ngIf="id"
                 title="Product Attribute"
                 i18n-title="@@productAttribute"
                 id="productAttribute"
                 (tabSelected)="clickTabProductAttribute($event)">
        <app-product-form-attribute [productId]="id"
                                    [isUpdate]="isUpdate"
                                    [listProductValue]="listProductValue"></app-product-form-attribute>
    </nh-tab-pane>
</nh-tab>

<swal
        #confirmDeleteImage
        i18n="@@confirmDeleteImage"
        i18n-title="@@confirmTitleDeleteImage"
        i18n-text="@@confirmTextDeleteImage"
        title="Are you sure for delete this Image?"
        type="question"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel"
        [showCancelButton]="true"
        [focusCancel]="true">
</swal>
