<div class="product-modal">
    <div class="portlet light bordered cm-mgb-0">
        <div class="portlet-title">
            <ul>
                <li class="pull-left">
                    <h4 class="bold">
                        {{isUpdate ? "Cập nhập sản phẩm" : "Thêm sản phẩm"}}
                    </h4>
                </li>
                <li class="icon pull-right">
                    <a href="javascript://" (click)="dialogRef.close({isModified: isModified})" class="btn-close"></a>
                </li>
            </ul>
        </div>
        <form class="form-horizontal" [formGroup]="model">
            <div class="portlet-body" formArrayName="modelTranslations">
                <div class="form-body">
                    <div class="form-group cm-mg-0" *ngIf="languages && languages.length > 1">
                        <label i18n-ghmLabel="@@language" ghmLabel="Language"
                               class="control-label"></label>
                        <ghm-select [data]="languages"
                                    i18n-title="@@pleaseSelectLanguage"
                                    title="-- Please select language --"
                                    name="language"
                                    [(value)]="currentLanguage"
                                    (itemSelected)="currentLanguage = $event.id"></ghm-select>
                    </div>

                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i">
                        <label class="control-label" i18n-ghmLabel="@@title" ghmLabel="Name"
                               [required]="true"></label>
                        <input type="text" id="{{'title ' + currentLanguage}}" class="form-control"
                               i18n-placeholder="@@titlePlaceHolder"
                               disabled value="{{modelTranslation.value?.name}}"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label image-label cm-mgl-15 left" i18n-ghmLabel="@@thumbnail" ghmLabel="Thumbnail"></label>
                        <div class="fileinput fileinput-new">
                            <div class="fileinput-new thumbnail">
                                <img ghmImage [src]="model.value.featureImage" class="w150" [isUrlAbsolute]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-group cm-mg-0" [formGroup]="model"
                         [class.has-error]="formErrors?.categories">
                        <label class="control-label" i18n-ghmLabel="@@group" ghmLabel="Group"
                               [required]="true"></label>
                        <nh-dropdown-tree [data]="categoryTree"
                                          [title]="categoryText"
                                          [isMultiple]="true"
                                          formControlName="categories"
                                          (accepted)="onAcceptSelectCategory($event)">
                        </nh-dropdown-tree>
                        <span class="help-block">{formErrors?.categories, select, required {Category is required}}</span>
                    </div>
                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i">
                        <label class="control-label" i18n-ghmLabel="@@descriptionPlaceHolder"
                               ghmLabel="Description"></label>
                        <textarea rows="3" class="form-control" i18n-placeholder="@@descriptionPlaceholder"
                                  disabled placeholder="{{modelTranslation.value?.description}}"></textarea>
                    </div>
                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.content">
                        <label class="control-label" i18n-ghmlabel="@@content" ghmLabel="Content"
                               [required]="true"></label>
                        <div class="form-group cm-mg-0">
                            <ghm-file-explorer i18n-buttonText="@@appendImageToContent"
                                               [buttonText]="'Append image to content '"
                                               [multiple]="true"
                                               (acceptSelected)="afterUploadImageContent($event, i)"></ghm-file-explorer>
                        </div>
                        <tinymce [elementId]="'content'+ i" formControlName="content"
                                  [height]="350"></tinymce>
                        <span class="help-block">
                                {translationFormErrors[modelTranslation.value.languageId]?.content, select, required {Content is required}}
                            </span>
                    </div>
                    <div class="form-group cm-mg-0" [formGroup]="model">
                        <mat-checkbox color="primary" formControlName="isHot" i18n="@@isHot">
                            <span *ngIf="model.value.isHot != 1">Normal</span>
                            <span *ngIf="model.value.isHot == 1">Hot</span>
                        </mat-checkbox>
                    </div>
                    <div class="form-group cm-mg-0" [formGroup]="model">
                        <mat-checkbox color="primary" formControlName="isHomePage" i18n="@@isHomePage">
                            <span *ngIf="model.value.isHomePage != 1">Not Home Page</span>
                            <span *ngIf="model.value.isHomePage == 1">Home Page</span>
                        </mat-checkbox>
                    </div>
                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaKeyword">
                        <label class="control-label" i18n-ghmLabel="@@metaKeyword"
                               ghmLabel="Meta Keyword"> </label>
                        <input type="text" class="form-control" i18n-placeholder="@@metaKeywordPlaceHolder"
                               placeholder="Please enter meta keyword"
                               formControlName="metaKeyword"/>
                        <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaKeyword, select, maxLength {Meta Keyword not allowed
                                over 300 characters}}</span>
                    </div>
                    <div class="form-group cm-mg-0" [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.seoLink">
                        <label class="control-label" i18n-ghmLabel="@@seoLink" ghmLabel="Seo Link"></label>
                        <!--{{modelTranslation.value.seoLink}}-->
                        <input type="text" class="form-control" i18n-placeholder="@@seoLinkHolder"
                               placeholder="Please enter seoLink" formControlName="seoLink"/>
                        <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.seoLink, select,
                                maxLength {SeoLink not allowed over 256 characters}}</span>
                    </div>
                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaDescription">
                        <label class="control-label" i18n-ghmLabel="@@metaDescriptionPlaceHolder"
                               ghmLabel="Meta Description"></label>
                        <textarea rows="3" class="form-control" i18n-placeholder="@@metaDescriptionPlaceholder"
                                  placeholder="Please enter meta description"
                                  formControlName="metaDescription"></textarea>
                        <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.metaDescription, select,
                                maxLength {Meta Description not allowed over 1000 characters}}</span>
                    </div>
                    <div class="form-group cm-mg-0"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i">
                        <label class="control-label" i18n-ghmLabel="@@tags" ghmLabel="Tags"></label>
                        <nh-tag [type]="tagType.product"
                                [listTag]="modelTranslation.value.tags"
                                [languageId]="currentLanguage"
                                [tenantId]="currentUser.tenantId"
                                [objectId]="id"
                                [isAbsoluteUrl]="true"
                                (onRemove)="removeTag($event)"
                                (onSelect)="selectTag($event)"
                                (onSelectListItem)="selectListTag($event)"
                        ></nh-tag>
                    </div>
                    <div class="form-group cm-mg-0" [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.alt">
                        <label class="control-label" i18n-ghmLabel="@@altImage" ghmLabel="Alt Image"></label>
                        <div [class.has-error]="formErrors.alt" class="cm-mgt-10">
                            <input type="text" class="form-control" i18n-placeholder="@@altImage"
                                   placeholder="Please enter alt image" formControlName="alt"/>
                            <span class="help-block">{translationFormErrors[modelTranslation.value.languageId]?.alt, select,
                                    maxLength {Meta Description not allowed over 1000 characters}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-foot pull-right">
                    <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                                  *ngIf="!isUpdate"
                                  i18n="@@isCreateAnother"
                                  class="cm-mgr-5"
                                  color="primary">
                        Create another
                    </mat-checkbox>
                    <ghm-button classes="btn blue cm-mgr-5"
                                type="button"
                                *ngIf="isUpdate"
                                (clicked)="save()"
                                [loading]="isSaving">
                        <span i18n="@@Save">Save</span>
                    </ghm-button>
                    <ghm-button classes="btn default"
                                (click)="dialogRef.close({isModified: isModified})"
                                [type]="'button'">
                        <span i18n="@@cancel">Cancel</span>
                    </ghm-button>
            </div>
        </form>
    </div>
</div>
