<style>
    label {
        text-align: left !important;
    }
</style>
<nh-modal #productFormModal size="lg"
          (shown)="onModalShown()"
          (hidden)="onModalHidden()">
    <nh-modal-header class="uppercase font-green-sharp bold">
        <span
                i18n="@@productFormModalTitle">{isUpdate, select, 0 {Thêm mới SP} 1 {Cập nhật thông tin SP}}</span>
    </nh-modal-header>
    <form action="" class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div class="row">
                <div class="col-sm-4">
                    <div class="product-thumbnail w200 center cm-mgb-10">
                        <img ghmImage [src]="thumbnail"
                             [class]="'img-responsive'"
                             [nhImageViewer]="urlFile + thumbnail"
                             [errorImageUrl]="'/assets/images/no-image.png'">
                    </div>
                    <ghm-file-explorer i18n-buttonText="@@selectImage"
                                       [multiple]="true"
                                       [buttonText]="'Chọn ảnh SP'"
                                       (itemSelected)="selectProductImage($event)"
                                       (acceptSelected)="uploadImageProduct($event)"></ghm-file-explorer>
                    <button *ngIf="thumbnail" type="button" class="btn red cm-mgl-5" (click)="removeThumbnail()">
                        <i class="fa fa-remove"></i>Xóa ảnh
                    </button>
                    <div class="product-images">
                        <div class="image-content" *ngFor="let item of productImages"
                             [class.thumbnail]="item.isThumbnail">
                            <img ghmImage [src]="item.url"
                                 [nhImageViewer]="urlFile + item.url"
                                 [class]="item.isThumbnail ? 'isThumbnail' : ''"
                                 [errorImageUrl]="'/assets/images/no-image.png'">
                            <span *ngIf="item.isThumbnail" class="mg-overlay"></span>
                            <button class="btn btn-sm btn-remove red" type="button"
                                    [swal]="confirmDeleteImage"
                                    (click)="removeImage(item)">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-sm btn-check blue"
                                    [class.display-none]="!item.isThumbnail" (click)="checkThumbnail(item)"
                                    type="button">
                                <i class="fa fa-circle-o" aria-hidden="true" *ngIf="!item.isThumbnail"></i>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="item.isThumbnail">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div formArrayName="translations">
                        <div class="form-group" *ngIf="languages && languages.length > 1">
                            <label i18n-ghmLabel="@@language" ghmLabel="Language"
                                   class="col-sm-2 control-label"
                                   [required]="true"></label>
                            <div class="col-sm-10">
                                <ghm-select [data]="languages"
                                            i18n-title="@@pleaseSelectLanguage"
                                            title="-- Please select language --"
                                            name="language"
                                            [(value)]="currentLanguage"
                                            (itemSelected)="currentLanguage = $event.id"></ghm-select>
                            </div>
                        </div>
                        <div class="form-group" [formGroup]="model"
                             [class.has-error]="formErrors?.id">
                            <label class="control-label col-sm-2" i18n-ghmLabel="@@productCategory"
                                   ghmLabel="Mã SP"></label>
                            <div class="col-sm-10">
                                <ghm-input
                                        elementId="{{'code ' + currentLanguage}}"
                                        formControlName="id"
                                        placeholder="Không nhập mã SP hệ thống sẽ tự sinh mã"
                                        [isDisabled]="isUpdate"
                                        i18n-placeholder="@@enterProductName"></ghm-input>
                                <span class="help-block">
                                {formErrors?.id, select, maxlength {Mã SP không được vượt quá 500 ký tự.} pattern {Mã SP không đúng định dạng}}
                        </span>
                            </div>
                        </div>
                        <div class="form-group" [formGroup]="model"
                             [class.has-error]="formErrors?.categories">
                            <label class="control-label col-sm-2" i18n-ghmLabel="@@productCategory"
                                   ghmLabel="Nhóm SP"
                                   [required]="true"></label>
                            <div class="col-sm-10">
                                <nh-dropdown-tree [data]="categoryTree"
                                                  [title]="id ? categoryText : 'Chọn nhóm SP'"
                                                  [isMultiple]="true"
                                                  formControlName="categories"
                                                  (accepted)="onAcceptSelectCategory($event)">
                                </nh-dropdown-tree>
                                <span class="help-block">{formErrors?.categories, select, required {Product Category is required}}</span>
                            </div>
                        </div><!-- END: Product category -->
                        <div class="form-group"
                             *ngFor="let modelTranslation of translations.controls; index as i"
                             [formGroupName]="i"
                             [hidden]="modelTranslation.value.languageId !== currentLanguage"
                             [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                            <label class="col-sm-2 control-label" ghmLabel="Tên SP"
                                   i18n-ghmLabel="@@productName"
                                   [required]="true"></label>
                            <div class="col-sm-10">
                                <ghm-input
                                        elementId="{{'name ' + currentLanguage}}"
                                        formControlName="name"
                                        placeholder="Nhập tên SP"
                                        i18n-placeholder="@@enterProductName"></ghm-input>
                                <span class="help-block">
                                {
                                translationFormErrors[modelTranslation.value.languageId]?.name,
                                select, required {Vui lòng nhập tên SP.} maxlength {Tên SP không được vượt quá 256 ký tự.}
                                        pattern  {Tên SP phải là chữ.}
                                }
                            </span>
                            </div>
                        </div><!-- END: Product name -->
                        <div class="form-group"
                             *ngFor="let modelTranslation of translations.controls; index as i"
                             [formGroupName]="i"
                             [hidden]="modelTranslation.value.languageId !== currentLanguage"
                             [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.seoLink">
                            <label class="col-sm-2 control-label" ghmLabel="SeoLink"
                                   i18n-ghmLabel="@@description"></label>
                            <div class="col-sm-10">
                                <input name="" class="form-control" rows="3"
                                       formControlName="seoLink"
                                       placeholder="Nhập seolink"
                                       i18n-placeholder="@@enterDescription"/>
                                <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.seolink,
                            select, maxlength {SeoLink không được phép vượt quá 500 ký tự.}
                            }
                        </span>
                            </div>
                        </div>
                        <div class="form-group"
                             *ngFor="let modelTranslation of translations.controls; index as i"
                             [formGroupName]="i"
                             [hidden]="modelTranslation.value.languageId !== currentLanguage"
                             [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                            <label class="col-sm-2 control-label" ghmLabel="Mô tả"
                                   i18n-ghmLabel="@@description"></label>
                            <div class="col-sm-10">
                             <textarea name="" class="form-control" rows="3"
                                       formControlName="description"
                                       placeholder="Nhập nội dung mô tả"
                                       i18n-placeholder="@@enterDescription"></textarea>
                                <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.description,
                            select, maxlength {Thông tin mô tả SP không được phép vượt quá 500 ký tự.}
                            }
                        </span>
                            </div>
                        </div><!-- END: Product description -->
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" ghmLabel="Đơn vị tính"
                               i18n-ghmLabel="@@productUnit"
                               [required]="true"></label>
                        <div class="col-sm-4" [class.has-error]="formErrors?.unitId">
                            <app-unit-suggestion
                                    [selectedItem]="model.value.unitId ? {id: model.value.unitId, name: model.value.unitName} : null"
                                    (itemSelected)="onUnitSelected($event)"
                                    (itemRemoved)="onUnitRemoved()"></app-unit-suggestion>
                            <span class="help-block">{formErrors?.unitId, select, required {Vui lòng chọn đơn vị tính} maxlength {Đơn vị tính không được phép vượt quá 50 ký tự.}}</span>
                        </div>
                        <label class="col-sm-2 control-label" ghmLabel="Giá bán"
                               i18n-ghmLabel="@@salePrice"
                               [required]="true"></label>
                        <div class="col-sm-4" [class.has-error]="formErrors?.salePrice">
                            <div class="input-group">
                                <dx-number-box placeholder="Giá bán" formControlName="salePrice" format="#,##0"
                                               [showClearButton]="true"></dx-number-box>
                                <span class="input-group-addon">
                                    VNĐ
                                    </span>
                            </div>
                            <span class="help-block">{formErrors?.salePrice, select, required {Vui lòng chọn giá bán} isValid {Giá bán phải là số.}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-2" [class.has-error]="formErrors?.isActive">
                            <dx-check-box formControlName="isActive" text="Kích hoạt"></dx-check-box>
                        </div>
                        <div class="col-sm-3" [class.has-error]="formErrors?.isHot">
                            <dx-check-box formControlName="isHot" text="SP nổi bật"></dx-check-box>
                        </div>
                        <div class="col-sm-4" [class.has-error]="formErrors?.isHomePage">
                            <dx-check-box formControlName="isHomePage" text="Hiển thị trang chủ"></dx-check-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="cm-mgt-10 cm-mgb-10">Thuộc tính SP</h3>
                    <table class="table table-hover table-striped"
                           formArrayName="attributes">
                        <thead>
                        <tr>
                            <th class="middle w200" i18n="@@productAttribute">Thuộc tính SP</th>
                            <th class="middle" i18n="@@productAttributeValue">Giá trị thuộc tính SP</th>
                            <th class="middle center w100" i18n="@@websiteVisible">Hiển thị website</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of attributes.controls; let i = index"
                            [formGroupName]="i">
                            <td>
                                <ng-container *ngIf="!isReadOnly">
                                    <app-product-attribute-suggestion

                                            [selectedItem]="item.value.attributeId ? {id: item.value.attributeId, name: item.value.attributeName} : null"
                                            (itemSelected)="onAttributeSelected($event, item, i)"
                                            (itemRemoved)="onAttributeRemoved(i)"></app-product-attribute-suggestion>
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="!item.value.isSelfContent; else selfContentTemplate">
                                    <app-product-attribute-value-suggestion
                                            [class.has-error]="attributeFormErrors[i].productAttributeValues"
                                            [multiple]="item.value.isMultiple"
                                            [attributeId]="item.value.attributeId"
                                            [selectedItem]="item.value.attributeValues ? item.value.attributeValues : []"
                                            (itemSelected)="onProductAttributeValueSelected($event, item, i)"
                                            (itemRemoved)="onProductAttributeValueRemoved(item)"></app-product-attribute-value-suggestion>
                                </ng-container>
                                <ng-template #selfContentTemplate>
                                        <textarea type="text" formControlName="value" class="form-control"
                                                  rows="3"
                                                  [class.has-error]="attributeFormErrors[i].value"
                                                  placeholder="Nhập nội dung"
                                                  i18n-placeholder="@@enterContent"></textarea>
                                </ng-template>
                            </td>
                            <td class="center middle">
                                <dx-check-box formControlName="isShowClient"></dx-check-box>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <div class="form-group">
                <div class="pull-right cm-mgr-10">
                    <dx-check-box *ngIf="!isUpdate" [(value)]="isCreateAnother" text="Tiếp tục tạo"></dx-check-box>
                    <button class="btn blue cm-mgr-5" i18n="@@save"
                            [disabled]="isSaving">
                        <i class="fa fa-spinner" *ngIf="isSaving"></i>
                        Lưu
                    </button>
                    <button type="button" class="btn default" i18n="@@close" nh-dismiss
                            [disabled]="isSaving">
                        Đóng
                    </button>
                </div>
            </div>
        </nh-modal-footer>
    </form>
</nh-modal>

<swal
        #confirmDeleteImage
        i18n="@@confirmDeleteImage"
        i18n-title="@@confirmTitleDeleteImage"
        i18n-text="@@confirmTextDeleteImage"
        title="Are you sure for delete this Image?"
        type="question"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel"
        [showCancelButton]="true"
        [focusCancel]="true">
</swal>
