<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="side-nav-menu">
            <ul class="nav">
                <li [class.active]="view === 1">
                    <a href="javascript://" (click)="changeView(1)">
                        <i class="fas fa-plane"></i> Nghỉ lễ
                    </a>
                </li>
                <li [class.active]="view === 2">
                    <a href="javascript://" data-toggle="tab" (click)="changeView(2)">
                        <i class="fas fa-desktop"></i>
                        Máy chấm công
                    </a>
                </li>
                <li [class.active]="view === 3">
                    <a href="javascript://" data-toggle="tab" (click)="changeView(3)">
                        <i class="far fa-calendar-check"></i>
                        Ca làm việc
                    </a>
                </li>
                <li [class.active]="view === 4">
                    <a href="javascript://" data-toggle="tab" (click)="changeView(4)">
                        <i class="fas fa-cogs"></i>
                        Cấu hình chung
                    </a>
                </li>
            </ul>
        </div>
    </div><!-- END Menu -->
    <div class="col-sm-8 col-lg-9">
        <app-timekeeping-config-holiday *ngIf="view === 1"></app-timekeeping-config-holiday>
        <app-timekeeping-machine *ngIf="view === 2"></app-timekeeping-machine>
        <app-timekeeping-config-shift *ngIf="view === 3"></app-timekeeping-config-shift>
        <app-timekeeping-general *ngIf="view === 4"></app-timekeeping-general>
    </div><!-- END Content -->
</div>
