<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@surveyReportPageTitle">My survey</span>
    <small i18n="@@surveyReportModuleTitle">Survey report management</small>
</h1>
<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@enterKeyword" i18n-placeholder placeholder="Enter keyword."
               name="keyword" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-dropdown-tree
            [data]="surveyGroupTree" i18n-title="@@selectSurveyGroup"
            title="-- Select survey group --"
            (nodeSelected)="onSurveyGroupSelected($event)"
        >
        </nh-dropdown-tree>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date [(ngModel)]="startDate" name="startDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date [(ngModel)]="endDate" name="endDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <button class="btn btn-primary" [disabled]="isSearching">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgr-5">
        <button type="button" class="btn btn-default" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover table-stripped">
        <thead>
        <tr>
            <th class="middle center w50" i18n="@@no">No</th>
            <th class="middle" i18n="@@surveyName">Survey name</th>
            <th class="middle text-right w150" i18n="@@actions">Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of listItems$ | async; let i = index">
            <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td class="middle">
                <a (click)="showDetail(report.surveyId, report.surveyUserId)">{{ report.surveyName }}</a>
            </td>
            <td class="middle text-right w100">
                <a (click)="showDetail(report.surveyId, report.surveyUserId)"
                   type="button"
                   class="btn btn-primary btn-sm" i18n="@@viewReport">
                    View report
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ghm-paging [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageShow]="6"
            [isDisabled]="isSearching"
            [pageSize]="pageSize"
            (pageClick)="search($event)"></ghm-paging>

<app-survey-report-user-answer-times></app-survey-report-user-answer-times>

