<h1 class="page-title">
       <span class="cm-mgr-5" *ngFor="let modelTranslation of productDetail?.translations"
             i18n="@@productFormPageTitle">
           <ng-container
                   *ngIf="modelTranslation?.languageId === currentLanguage">{{modelTranslation.name}}
           </ng-container>
       </span>
    <small i18n="@@productModuleTitle">Product management</small>
</h1>
<nh-tab>
    <nh-tab-pane [active]="true"
                 title="Product info"
                 i18n-title="@@productInfo"
                 id="productInfo">
        <form action="" class="form-horizontal">
            <div class="row">
                <div class="col-sm-8">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                     <span class="caption-subject bold caption font-red-sunglo uppercase">
                                        <i class="fa fa-cube" aria-hidden="true"></i>
                                         <span i18n="@@productInfo"> Product Info</span>
                                     </span>
                            </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn btn-sm default cm-mgr-5" routerLink="/products"
                                   title="Back">
                                    <i class="fa fa fa-arrow-left"></i> Back to list </a>
                                <a href="javascript:;" class="btn btn-sm blue cm-mgr-5" *ngIf="permission.edit"
                                   (click)="edit()">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body bordered cm-pdt-0">
                            <div class="form-group" *ngIf="languages && languages.length > 1">
                                <label i18n-ghmLabel="@@language" ghmLabel="Language"
                                       class="col-sm-3 control-label"
                                       [required]="true"></label>
                                <div class="col-sm-9">
                                    <nh-select [data]="languages"
                                               i18n-title="@@pleaseSelectLanguage"
                                               title="-- Please select language --"
                                               name="language"
                                               [(value)]="currentLanguage"
                                               (onSelectItem)="currentLanguage = $event.id"></nh-select>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="control-label col-sm-3" i18n-ghmLabel="@@productCategory"
                                       ghmLabel="Product Category"></label>
                                <div class="col-sm-9">
                                    <div class="form-control height-auto">{{categoryText}}</div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input"
                                 *ngFor="let modelTranslation of productDetail?.translations ;"
                                 [hidden]="modelTranslation.languageId !== currentLanguage">
                                <label class="col-sm-3 control-label" ghmLabel="Product name"
                                       i18n-ghmLabel="@@productName"></label>
                                <div class="col-sm-9">
                                    <div class="form-control height-auto">{{modelTranslation.name}}</div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input"
                                 *ngFor="let modelTranslation of productDetail?.translations;"
                                 [hidden]="modelTranslation.languageId !== currentLanguage">
                                <label class="col-sm-3 control-label" ghmLabel="Description"
                                       i18n-ghmLabel="@@description"></label>
                                <div class="col-sm-9">
                                    <div class="height-auto form-control">{{modelTranslation.description}}</div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input"
                                 *ngFor="let modelTranslation of productDetail?.translations;"
                                 [hidden]="modelTranslation.languageId !== currentLanguage">
                                <label class="col-sm-3 control-label" ghmLabel="Content"
                                       i18n-ghmLabel="@@content"></label>
                                <div class="col-sm-9">
                                    <div class="height-auto form-control">
                                        <nh-safeHtml [html]="modelTranslation.content"></nh-safeHtml>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group cm-mg-0">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <mat-checkbox color="primary" [checked]="productDetail?.isHot" [disabled]="true"
                                                  i18n="@@isHot">
                                        {productDetail?.isHot, select, 0 {Normal} 1 {Hot}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group cm-mg-0">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <mat-checkbox color="primary" [checked]="productDetail?.isHomePage"
                                                  [disabled]="true" i18n="@@isHomePage">
                                        {productDetail?.isHomePage, select, 0 {Not Home Page} 1 {Home Page}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <mat-checkbox [checked]="productDetail?.isManagementByLot" color="primary"
                                                  [disabled]="true">
                                        <span i18n="@@isManagementByLot"></span> Management By Lot?
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <mat-checkbox [checked]="productDetail?.isActive" [disabled]="true"
                                                  color="primary">
                                        <span i18n="@@isActive">
                                             {productDetail?.isActive, select, 0 {Inactive} 1 {Active}}
                                        </span>
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <a routerLink="/products" class="btn default" i18n="@@close">
                                        Close
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                     <span class="caption-subject bold caption font-red-sunglo uppercase"
                                           i18n="@@seoContent">
                                        <i class="fa fa-image" aria-hidden="true"></i>
                                         <span i18n="@@image"> Image</span>
                                     </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="product-images">
                                <div class="image-content" *ngFor="let item of productDetail?.images"
                                     [class.thumbnail]="item.isThumbnail">
                                    <img ghmImage [src]="item.url"
                                         [nhImageViewer]="item.url"
                                         [errorImageUrl]="'/assets/images/no-image.png'"
                                         [isUrlAbsolute]="true">
                                    <button class="btn btn-sm btn-check blue" *ngIf="item.isThumbnail"
                                            type="button">
                                        <i class="fa fa-check" aria-hidden="true">
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nh-tab-pane>
    <nh-tab-pane title="Product Unit"
                 *ngIf="id"
                 i18n-title="@@productUnit"
                 id="productUnit"
                 (tabSelected)="clickTabProductUnit($event)">
        <app-product-form-product-unit [productId]="id"
                                       [isReadonly]="true"
                                       [listProductUnit]="listProductUnit"
                                       [listProductUnitConversion]="listProductUnitConversion"></app-product-form-product-unit>
    </nh-tab-pane>
    <nh-tab-pane *ngIf="id"
                 title="Product Attribute"
                 i18n-title="@@productAttribute"
                 id="productAttribute"
                 (tabSelected)="clickTabProductAttribute($event)">
        <app-product-form-attribute [isReadOnly]="true"
                                    [listProductValue]="listProductValue"></app-product-form-attribute>
    </nh-tab-pane>
</nh-tab>
