<style>
    label {
        text-align: left !important;
    }
</style>
<nh-modal #productFormModal size="lg">
    <nh-modal-header class="uppercase bold">
        <span i18n="@@productDetailModalTitle">Chi tiết sản phẩm</span>
    </nh-modal-header>
    <form action="" class="form-horizontal">
        <nh-modal-content>
            <div class="row">
                <div class="col-sm-3">
                    <div class="product-thumbnail w200 center cm-mgb-10">
                        <img ghmImage [src]="thumbnail"
                             [class]="'img-responsive'"
                             [nhImageViewer]="urlFile + thumbnail"
                             [errorImageUrl]="'/assets/images/no-image.png'">
                    </div>
                    <div class="product-images">
                        <div class="image-content" *ngFor="let item of productImages"
                             [class.thumbnail]="item.isThumbnail">
                            <img ghmImage [src]="item.url"
                                 [nhImageViewer]="urlFile + item.url"
                                 [class]="item.isThumbnail ? 'isThumbnail' : ''"
                                 [errorImageUrl]="'/assets/images/no-image.png'">
                            <span *ngIf="item.isThumbnail" class="mg-overlay"></span>
                            <button class="btn btn-sm btn-check blue"
                                    [class.display-none]="!item.isThumbnail"
                                    type="button">
                                <i class="fa fa-circle-o" aria-hidden="true" *ngIf="!item.isThumbnail"></i>
                                <i class="fa fa-check" aria-hidden="true" *ngIf="item.isThumbnail">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group" *ngIf="languages && languages.length > 1">
                        <label i18n-ghmLabel="@@language" ghmLabel="Language"
                               class="col-sm-3 control-label"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <nh-select [data]="languages"
                                       i18n-title="@@pleaseSelectLanguage"
                                       title="-- Chọn ngôn ngữ --"
                                       name="language"
                                       [(value)]="currentLanguage"
                                       (onSelectItem)="currentLanguage = $event.id"></nh-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Mã sản phẩm"
                               i18n-ghmLabel="@@productName"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <div class="form-control height-auto">
                                {{ product?.id }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" i18n-ghmLabel="@@productCategory"
                               ghmLabel="Nhóm sản phẩm"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <div class="form-control height-auto height-auto">
                           <span class="badge badge-info cm-mgr-5" *ngFor="let category of categories">
                            {{ category.categoryName }}
                           </span>
                            </div>
                        </div>
                    </div><!-- END: Product category -->
                    <div class="form-group"
                         *ngFor="let translation of product?.translations">
                        <ng-container *ngIf="translation?.languageId === currentLanguage">
                            <label class="col-sm-3 control-label" ghmLabel="Tên sản phẩm"
                                   i18n-ghmLabel="@@productName"
                                   [required]="true"></label>
                            <div class="col-sm-9">
                                <div class="form-control height-auto">
                                    {{ translation.name }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-group"
                         *ngFor="let translation of product?.translations"
                         [hidden]="translation?.languageId !== currentLanguage">
                        <label class="col-sm-3 control-label" ghmLabel="SeoLink"
                               i18n-ghmLabel="@@productName"></label>
                        <div class="col-sm-9">
                            <div class="form-control height-auto">
                                {{ translation.seoLink }}
                            </div>
                        </div>
                    </div><!-- END: Product name -->
                    <div class="form-group"
                         *ngFor="let translation of product?.translations"
                         [hidden]="translation?.languageId !== currentLanguage">
                        <label class="col-sm-3 control-label" ghmLabel="Mô tả"
                               i18n-ghmLabel="@@description"></label>
                        <div class="col-sm-9">
                            <div class="form-control height-auto">{{ translation?.description }}</div>
                        </div>
                    </div><!-- END: Product description -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Đơn vị tính"
                               i18n-ghmLabel="@@productUnit"
                               [required]="true"></label>
                        <div class="col-sm-3">
                            <div class="form-control height-auto">{{ product?.unitName }}</div>
                        </div>
                        <label class="col-sm-3 control-label" ghmLabel="Giá bán"
                               i18n-ghmLabel="@@salePrice"
                               [required]="true"></label>
                        <div class="col-sm-3">
                            <div class="form-control height-auto">{{ product?.salePrice | formatNumber}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-3">
                            <dx-check-box [value]="product?.isActive" text="Sử dụng" [disabled]="true"></dx-check-box>
                        </div>
                        <div class="col-sm-3">
                            <dx-check-box [value]="product?.isHot" text="Sản phẩm nổi bật"
                                          [disabled]="true"></dx-check-box>
                        </div>
                        <div class="col-sm-3">
                            <dx-check-box [value]="product?.isHomePage" text="Hiển thị trang chủ"
                                          [disabled]="true"></dx-check-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <nh-tab>
                        <nh-tab-pane [active]="true"
                                     title="Thuộc tính sản phẩm"
                                     id="attributeInfo">
                            <ng-container *ngFor="let attribute of attributes; let i = index">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           ghmLabel="{{attribute?.attributeName}}">
                                    </label>
                                    <div class="col-sm-9">
                                        <ng-container *ngIf="!attribute.isSelfContent; else selfContentTemplate">
                                <span *ngFor="let attributeValue of attribute?.attributeValues"
                                      class="badge badge-info cm-mgr-5">
                                        {{ attributeValue.name }}
                                 </span>
                                        </ng-container>
                                        <ng-template #selfContentTemplate>
                                            <nh-safeHtml [html]="attribute.value"></nh-safeHtml>
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>
                        </nh-tab-pane>
                        <nh-tab-pane title="Chi tiết sản phẩm" id="productDetail">
                            <div class="col-sm-12"
                                 *ngFor="let translation of product?.translations">
                                <ng-container *ngIf="translation?.languageId === currentLanguage">
                                    <nh-safeHtml [html]="translation.content"></nh-safeHtml>
                                </ng-container>
                            </div>
                        </nh-tab-pane>
                    </nh-tab>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <div class="form-group">
                <div class="pull-right cm-mgr-10">
                    <button type="button" class="btn default" i18n="@@close" nh-dismiss
                            [disabled]="isSaving">
                        Đóng
                    </button>
                </div>
            </div>
        </nh-modal-footer>
    </form>
</nh-modal>

<swal
        #confirmDeleteImage
        i18n="@@confirmDeleteImage"
        i18n-title="@@confirmTitleDeleteImage"
        i18n-text="@@confirmTextDeleteImage"
        title="Are you sure for delete this Image?"
        type="question"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel"
        [showCancelButton]="true"
        [focusCancel]="true">
</swal>
