<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listAccountTitle">List account.</span>
    <small i18n="@@configModuleTitle">Configs</small>
</h1>

<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control"
               i18n-placeholder="@@enterUserNameOrEmailOrPhoneNumberPlaceholder"
               placeholder="Enter username or email or phone number."
               name="searchInput" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [data]="[{id: true, name: 'Đã kích hoạt'},{id: false, name: 'Chưa kích hoạt'}]"
            [title]="'-- Tất cả trạng thái --'"
            [(value)]="isActive"
            (onSelectItem)="onStatusSelected($event)"></nh-select>
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn btn-light" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5 pull-right">
        <button class="btn blue cm-mgr-5" *ngIf="permission.add"
                type="button" (click)="add()" i18n="@@add">
            Add
        </button>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">No</th>
        <th class="middle center w150" i18n="@@userName">Username</th>
        <th class="middle w250" i18n="@@fullName">Fullname</th>
        <th class="middle w200" i18n="@@email">Email</th>
        <th class="middle w200" i18n="@@phoneNumber">Phone number</th>
        <th class="middle" i18n="@@isActive">Is Active</th>
        <th class="middle text-right w150" i18n="@@actions" *ngIf="permission.edit || permission.delete">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of listItems$ | async; let i = index">
        <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td class="center middle">{{ account.userName }}</td>
        <td class="middle">{{ account.fullName }}</td>
        <td class="middle">{{ account.email }}</td>
        <td class="middle">{{ account.phoneNumber }}</td>
        <td class="middle">
                <span class="badge" [class.badge-danger]="!account.isActive"
                      [class.badge-success]="account.isActive">
                    {account.isActive, select, 0 {InActive} 1 {Activated}}
                </span>
        </td>
        <td class="middle text-right">
            <button type="button" class="btn blue btn-outline btn-sm" *ngIf="permission.edit" (click)="edit(account)">
                <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn red btn-outline btn-sm" *ngIf="permission.delete" [swal]="confirmDelete"
                    (confirm)="delete(account.id)">
                <i class="fa fa-trash-o"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<ghm-paging [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageShow]="6"
            [isDisabled]="isSearching"
            [pageSize]="pageSize"
            (pageClick)="search($event)"
></ghm-paging>
<swal
    #confirmDelete
    i18n-title="@@titleConfirmDeleteAccount"
    i18n-text="@@textConfirmDeleteAccount"
    title="Are you sure want to delete this account?"
    text="Warning: After delete you can not recover this account."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
<app-account-form (saveSuccessful)="search(1)"></app-account-form>
