<nh-modal #printPreviewModal size="md">
    <nh-modal-header class="uppercase font-green-sharp bold" i18n="@@productList">
        Danh sách sản phẩm
    </nh-modal-header>
    <form action="" class="form-horizontal" (ngSubmit)="printBarcode()">
        <nh-modal-content>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th i18n="@@no">STT</th>
                    <th i18n="@@productName">Tên sản phẩm</th>
                    <th i18n="@@unit">Đơn vị</th>
                    <th class="text-right" i18n="@@price">Giá bán</th>
                    <th class="text-right" i18n="@@quantity">Số lượng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let barcode of barcodes; let i = index">
                    <td class="middle">{{ (i + 1) }}</td>
                    <td class="middle">{{ barcode.name }}</td>
                    <td class="middle">
                        <nh-select [data]="barcode.units"
                                   title="-- Select unit --"
                                   [selectedItem]="{id: barcode.unitId, name: barcode.unitName}"
                                   i18n-title="@@selectUnit"
                                   (shown)="onUnitDropdownShown(barcode)"
                                   (itemSelected)="onUnitSelected($event, barcode)"></nh-select>
                    </td>
                    <td class="text-right middle">{{ barcode.price | ghmCurrency:0 }}</td>
                    <td class="text-right w100 middle">
                        <input type="text" class="form-control"
                               ghm-text-selection
                               [(ngModel)]="barcode.quantity" name="quantity-{{i}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </nh-modal-content>
        <nh-modal-footer>
            <button class="btn blue cm-mgr-5" i18n="@@print">
                In
            </button>
            <button type="button" class="btn default" i18n="@@close" nh-dismiss>
                Đóng
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>

<div #barcodeArea style="display: none;">
    <div class="print-barcode-page">
        <div class="row" *ngFor="let items of rows">
            <div class="barcode-item" *ngFor="let barcode of items">
                <div class="pdl-5 pdr-5">
                    <div class="bold">{{ barcode.name }}</div>
                    <div class="bold">Giá: {{ barcode.price | ghmCurrency:0 }}</div>
                </div>
                <div class="barcode-wrapper">
                    <ngx-barcode [bc-value]="barcode.id"
                                 [bc-font-size]="12"
                                 [bc-width]="1"
                                 [bc-height]="27"
                                 [bc-margin]="0"
                                 [bc-margin-top]="0"
                                 [bc-margin-bottom]="5"
                                 [bc-margin-left]="5"
                                 [bc-margin-right]="5"
                                 [bc-display-value]="true"></ngx-barcode>
                </div>
            </div>
            <div class="page-break" *ngIf="rows.length > 2"></div>
        </div>
    </div><!-- END: print-barcode-page -->
</div>
