<nh-modal #surveyFormModal
          size="md"
          (show)="onModalShown()"
          (hidden)="onModalHidden()">
    <nh-modal-header>
        <i class="fa fa-book cm-mgr-10" aria-hidden="true"></i>
        <span i18n="@@titleFormTitle">{isUpdate, select, 1 {Update survey} 0 {Add new survey}}</span>
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div class="form-group" *ngIf="languages.length > 1">
                <label i18n-ghmLabel="@@language" ghmLabel="Language"
                       class="col-sm-4 control-label"
                       [required]="true"></label>
                <div class="col-sm-8">
                    <nh-select [data]="languages"
                               [(value)]="currentLanguage"></nh-select>
                </div>
            </div>
            <div class="form-group">
                <label i18n-ghmLabel="@@surveyGroup" ghmLabel="Survey group"
                       class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <nh-dropdown-tree
                            [data]="surveyGroupTree" i18n-title="@@selectSurveyGroup"
                            [title]="'-- Select survey group --'"
                            formControlName="surveyGroupId">
                        </nh-dropdown-tree>
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-primary" type="button" (click)="addGroup()">-->
                        <!--<i class="fa fa-plus"></i>-->
                        <!--</button>-->
                        <!--</span>-->
                    </div><!-- /input-group -->
                </div>
            </div>
            <span formArrayName="modelTranslations">
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                    <label i18n-ghmLabel="@@surveyName" ghmLabel="Survey name"
                           class="col-sm-4 control-label"
                           [required]="true"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter survey name"
                               i18n-placeholder="@@enterSurveyName" formControlName="name">
                        <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.name,
                            select, required {Survey name is required} maxlength {Survey name not allowed over 500 characters}
                            }
                        </span>
                    </div>
                </div>
            </span>
            <div class="form-group">
                <label i18n-ghmLabel="@@surveyType" ghmLabel="Survey type"
                       class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <nh-select
                        i18n-title="@@pleaseSelectSurveyTypeTitle"
                        title="-- Please select survey type --"
                        [data]="surveyTypes"
                        formControlName="type"></nh-select>
                </div>
            </div>
            <div class="form-group">
                <label i18n-ghmLabel="@@chooseQuestion" ghmLabel="Choose question"
                       class="col-sm-4 control-label"></label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" i18n="@@chooseQuestion"
                            (click)="chooseQuestion()">
                        Choose question
                    </button>
                    <div class="help-block" *ngIf="model.value.totalQuestion > 0">
                        {{ model.value.totalQuestion }} <span i18n="@@questions">questions</span>
                    </div>
                </div>
                <label i18n-ghmLabel="@@chooseParticipant" ghmLabel="Choose participant"
                       class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" i18n="@@chooseParticipant"
                            (click)="chooseParticipant()">
                        Choose participant
                    </button>
                    <div class="help-block" *ngIf="listSelectedUsers.length > 0">
                        {{ listSelectedUsers.length }} <span i18n="@@users">users</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label i18n-ghmLabel="@@surveyTime" ghmLabel="Survey time"
                       class="col-sm-4 control-label"></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="60"
                           formControlName="limitedTime">
                </div>
                <label i18n-ghmLabel="@@surveyTimes" ghmLabel="Survey times"
                       class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="1"
                           formControlName="limitedTimes">
                </div>
            </div>
            <div class="form-group">
                <label i18n-ghmLabel="@@startTime" ghmLabel="Start time"
                       class="col-sm-4 control-label"></label>
                <div class="col-sm-3">
                    <nh-date formControlName="startDate"
                             format="DD/MM/YYYY HH:mm:ss"
                             [mask]="true"></nh-date>
                </div>
                <label i18n-ghmLabel="@@endTime" ghmLabel="End time"
                       class="col-sm-2 control-label"></label>
                <div class="col-sm-3">
                    <nh-date formControlName="endDate"
                             format="DD/MM/YYYY HH:mm:ss"
                             [mask]="true"></nh-date>
                </div>
            </div>
            <span formArrayName="modelTranslations">
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                    <label i18n-ghmLabel="@@description" ghmLabel="Description"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <textarea name="" rows="3"
                                  class="form-control"
                                  placeholder="Enter description"
                                  i18n-description="@@enterDescription"
                                  formControlName="description"></textarea>
                        <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.description,
                            select,
                            required {Survey description is required}
                            maxlength {Survey description not allowed over 4000 characters}
                            }
                        </span>
                    </div>
                </div>
            </span>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox color="primary"
                                  formControlName="isActive">
                        <span i18n="@@activeStatus">
                            {model.value.isActive, select, 0 {Inactive} 1 {Active}}
                        </span>
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox color="primary"
                                  formControlName="isPreRendering"><span i18n="@@isPreRendering">Pre Rendering</span>
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox color="primary"
                                  formControlName="isRequire"><span i18n="@@isRequire">Is Require</span></mat-checkbox>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                          *ngIf="!isUpdate"
                          i18n="@@isCreateAnother"
                          class="cm-mgr-5"
                          color="primary">
                Create another
            </mat-checkbox>
            <ghm-button classes="btn btn-primary cm-mgr-5" [loading]="isSaving" i18n="@@save">
                Save
            </ghm-button>
            <ghm-button type="button" classes="btn btn-default"
                        nh-dismiss="true"
                        [loading]="isSaving"
                        i18n="@@cancel">
                Cancel
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>

<app-question-select
    [listSelectedQuestions]="listSelectedQuestions"
    [listSelectedQuestionGroups]="listSelectedQuestionGroups"
    (accepted)="onAcceptSelectQuestion($event)"
></app-question-select>

<nh-user-picker
    i18n-title="@@selectParticipant"
    i18n-allTitle="@@listUser"
    i18n-selectedTitle="@@listSelectedUser"
    title="Select participant"
    allTitle="List user"
    selectedTitle="List selected user"
    [selectedItems]="listSelectedUsers"
    (accepted)="onAcceptSelectUsers($event)"
></nh-user-picker>
