<div class="ghm-select-picker-container" *ngIf="isShow">
    <div class="ghm-select-picker-header" *ngIf="title">
        <h4 class="bold">{{ title }}</h4>
    </div><!-- END: .ghm-select-picker-header -->
    <div class="ghm-select-picker-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" i18n="@@PleaseSelectAtLeastOneItem" *ngIf="errorMessage">
                    {errorMessage, select, required {Please select at least one item} other {}}
                </div>
            </div>
        </div>
        <div class="ghm-select-picker-left">
            <h4 class="title">{{allTitle}}</h4>
            <ul class="ghm-select-picker-items">
                <li *ngFor="let item of source" (click)="selectItem(item)">{{ item.name }}</li>
            </ul>
            <div class="row" *ngIf="paging">
                <div class="text-right" class="col-sm-12" *ngIf="totalRows > 0">
                    <ul class="pagination">
                        <li *ngFor="let pageNumber of listPages" [class.active]="pageNumber === currentPage">
                            <a href="javascript://" (click)="pageClick(pageNumber)">{{pageNumber}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- END: .ghm-select-picker-left -->
        <div class="ghm-select-picker-right">
            <h4 class="title">{{selectedTitle}}</h4>
            <ul class="ghm-select-picker-items">
                <li *ngFor="let item of selectedItems">
                    {{ item.name }}
                    <a href="javascript://" class="ghm-select-picker-item-action" (click)="removeItem(item.id)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </li>
            </ul>
        </div><!-- END: .ghm-select-picker-right -->
    </div><!-- END: .ghm-select-picker-body -->
    <div class="ghm-select-picker-footer text-right">
        <button class="btn btn-primary cm-mgr-5" i18n="@@accept" (click)="accept()">Accept</button>
        <button class="btn btn-default" i18n="@@cancel" (click)="dismiss()">Cancel</button>
    </div><!-- END: .ghm-select-picker-footer -->
</div><!-- END: .ghm-select-picker-container -->
