<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@inventoryPageTitle">Kiêm kê</span>
    <small i18n="@@warehouseModuleTitle">Quản lý kho</small>
</h1>
<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <app-warehouse-suggestion
            [selectedItem]="warehouseId && warehouseName ? {id: warehouseId, name: warehouseName} : null"
            (itemSelected)="selectWarehouse($event)"></app-warehouse-suggestion>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date placeholder="Từ ngày"
                 i18n-placeholder="@@fromDate"
                 [(ngModel)]="fromDate"
                 [allowRemove]="true"
                 [mask]="true"
                 [showTime]="true"
                 (selectedDateEvent)="search(1)"
                 name="fromDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date placeholder="Đến ngày"
                 i18n-placeholder="@@toDate"
                 [(ngModel)]="toDate"
                 [allowRemove]="true"
                 [mask]="true"
                 [showTime]="true"
                 (selectedDateEvent)="search(1)"
                 name="toDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [title]="'-- Tất cả --'"
            i18n-title="@@allTitle"
            [data]="[{id: 1, name: 'Đã xử lý'}, {id: 0, name: 'Chưa xử lý'}]"
            [value]="isResolve"
            (onSelectItem)="selectResolve($event)"
        ></nh-select>
    </div>
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@keywordSearch" i18n-placeholder
               placeholder="Nhập từ khóa tìm kiếm."
               name="searchInput" [(ngModel)]="keyword">
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn default" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <a class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add" routerLink="/goods/inventories/add"
           type="button" i18n="@@add">
            Thêm
        </a>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">STT</th>
        <th class="middle w200" i18n="@@warehouse">Kho kiểm kê</th>
        <th class="middle " i18n="@@creator">Người tạo</th>
        <th class="middle w150" i18n="@@inventoryDate">Ngày kiểm kê</th>
        <th class="middle w100" i18n="@@issuePerson">Trạng thái</th>
        <th class="middle text-right" i18n="@@description">Ghi chú</th>
        <th class="middle text-right w150" i18n="@@action" *ngIf="permission.edit || permission.delete"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listItems$ | async; let i = index">
        <td class="middle center">{{(currentPage - 1) * pageSize + i + 1}}</td>
        <td class="middle">{{ item.warehouseName }}</td>
        <td class="middle">{{ item.creatorFullName }}</td>
        <td class="middle">{{ item.date | dateTimeFormat:'DD/MM/YYYY HH:mm' }}</td>
        <td class="middle">
         <span class="badge"
               [class.badge-success]="item.status === inventoryStatus.balanced"
               [class.badge-danger]="item.status === inventoryStatus.temporary">{item.status, select, 0 {Chưa xử lý} 1 {Đã xử lý} Khác {}}</span>
        </td>
        <td class="middle text-right">{{item.note}}</td>
        <td class="text-right middle" *ngIf="permission.edit || permission.delete">
            <nh-dropdown>
                <button type="button" class="btn btn-sm btn-light btn-no-background no-border" matTooltip="Menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <ul class="nh-dropdown-menu right" role="menu">
                    <li>
                        <a *ngIf="permission.view"
                           routerLink="/goods/inventories/{{ item.id }}"
                           i18n="@@edit">
                            <!--<i class="fa fa-eye"></i>-->
                            <mat-icon class="menu-icon">info</mat-icon>
                            Xem
                        </a>
                    </li>
                    <li>
                        <a *ngIf="permission.edit && item.status !== inventoryStatus.balanced"
                           routerLink="/goods/inventories/edit/{{ item.id }}"
                           i18n="@@edit">
                            <mat-icon class="menu-icon">edit</mat-icon>
                            Sửa
                        </a>
                    </li>
                    <li>
                        <a *ngIf="permission.delete && item.status !== inventoryStatus.balanced"
                           (click)="confirm(item)" i18n="@@delete">
                            <mat-icon class="menu-icon">delete</mat-icon>
                            Xóa
                        </a>
                    </li>
                </ul>
            </nh-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<!--<app-inventory-form (saveSuccessful)="search(1)"></app-inventory-form>-->

<ghm-paging
    class="pull-right"
    [totalRows]="totalRows"
    [currentPage]="currentPage"
    [pageShow]="6"
    [pageSize]="pageSize"
    (pageClick)="search($event)"
    i18n="@@inventory" i18n-pageName
    [pageName]="'Inventory'">
</ghm-paging>

<swal
    #confirmDelete
    i18n="@@confirmDelete"
    i18n-title="@@confirmTitleDeleteInventory"
    i18n-text="@@confirmTextDeleteInventory"
    title="Are you sure for delete this inventory?"
    text="You can't recover this inventory after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<nh-menu #nhMenu>
    <nh-menu-item (clicked)="detail($event)">
        <!--<i class="fa fa-eye"></i>-->
        <mat-icon class="menu-icon">info</mat-icon>
        <span i18n="@@view">Chi tiết</span>
    </nh-menu-item>
    <nh-menu-item (clicked)="edit($event)">
        <mat-icon class="menu-icon">edit</mat-icon>
        <span i18n="@@edit">Sửa</span>
    </nh-menu-item>
    <nh-menu-item
        (clicked)="confirm($event)">
        <mat-icon class="menu-icon">delete</mat-icon>
        <span i18n="@@edit">Xóa</span>
    </nh-menu-item>
</nh-menu>
