<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-building-o"></i>
                    <span class="caption-subject bold uppercase"> Phòng ban - Nhân viên</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="overflow-x-auto">
                    <nh-tree [data]="officeTree"
                             (onSelectNode)="onSelectOffice($event)"
                    ></nh-tree>
                </div>
            </div>
        </div>
    </div><!-- END: Office portlet -->
    <div class="col-sm-8 col-md-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>
                    <span class="caption-subject bold uppercase"> Lịch làm việc</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
                    <div class="form-group">
                        <input class="form-control" placeholder="Nhập tên nhân viên cần tìm"
                               (keyup)="keyword = searchInput.value" #searchInput/>
                    </div>
                    <div class="form-group">
                        <button mat-raised-button color="primary">
                            <!--<i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>-->
                            <!--<i class="fa fa-search" *ngIf="!isSearching"></i>-->
                            <mat-icon>search</mat-icon>
                            Tìm kiếm
                        </button>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" mat-raised-button (click)="showConfigModal()">
                            <mat-icon>settings</mat-icon>
                            Cấu hình
                        </button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-main">
                        <thead>
                        <tr>
                            <th rowspan="2" class="center middle w50 merge-row" *ngIf="isHasUpdatePermission">
                                <mat-checkbox color="primary" [checked]="isSelectAll"
                                              (change)="onChangeSelectAll()"></mat-checkbox>
                            </th>
                            <th rowspan="2" class="center middle merge-row w250">Họ tên nhân viên</th>
                            <th rowspan="2" class="center middle merge-row">Ca làm việc</th>
                            <th class="center"
                                [attr.colspan]="isHasUpdatePermission ? '9' : '8'">Thời gian làm việc
                            </th>
                        </tr>
                        <tr>
                            <th class="w50 center">Ca</th>
                            <th class="w50 center">CN</th>
                            <th class="w50 center">T2</th>
                            <th class="w50 center">T3</th>
                            <th class="w50 center">T4</th>
                            <th class="w50 center">T5</th>
                            <th class="w50 center">T6</th>
                            <th class="w50 center">T7</th>
                            <th class="w100 center" *ngIf="isHasUpdatePermission"></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="listUserWorkSchedules.length === 0 && !isSearching">
                        <tr>
                            <td class="center middle" [attr.colspan]="isHasUpdatePermission ? '12' : '11'">
                                Vui lòng chọn phòng ban
                            </td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="isSearching; else contentTemplate">
                        <tr>
                            <td [attr.colspan]="isHasUpdatePermission ? '12' : '11'">
                                <div class="spinner">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <ng-template #contentTemplate>
                            <tbody>
                            <ng-template ngFor let-workSchedule let-index="index" [ngForOf]="listUserWorkSchedules">
                                <tr>
                                    <td class="center middle" *ngIf="isHasUpdatePermission"
                                        [attr.rowspan]="workSchedule?.shifts?.length === 0 ? 0 : workSchedule?.shifts?.length + 1">
                                        <mat-checkbox color="primary" [checked]="workSchedule.isSelected"
                                                      (change)="onSelectedChange(workSchedule)"></mat-checkbox>
                                    </td>
                                    <td [attr.rowspan]="workSchedule?.shifts?.length === 0 ? 0 : workSchedule?.shifts?.length + 1"
                                        class="bold middle">
                                        {{workSchedule?.fullName}}
                                    </td>
                                    <td class="center middle"
                                        [attr.rowspan]="workSchedule?.shifts?.length === 0 ? 0 : workSchedule?.shifts?.length + 1">
                                        <nh-select
                                            #selectShiftGroupDropdown
                                            [data]="listShiftGroups"
                                            [title]="'-- Chọn nhóm ca làm việc --'"
                                            [isEnable]="!isSearchingShiftGroups"
                                            [value]="workSchedule?.shiftGroupId"
                                            (onSelectItem)="onSelectShiftGroup($event, workSchedule)"
                                        ></nh-select>
                                    </td>
                                    <td colspan="9" class="center middle"
                                        *ngIf="!workSchedule.shifts || workSchedule?.shifts?.length=== 0">
                                        Vui lòng chọn ca làm việc
                                    </td>
                                </tr>
                                <tr *ngFor="let shift of workSchedule?.shifts; let dayIndex = index">
                                    <td class="center middle bold">{{shift.code}}</td>
                                    <td class="center" *ngFor="let day of listDays">
                                        <mat-checkbox color="primary" *ngIf="isHasUpdatePermission"
                                                      [checked]="hasChecked(shift.workingDaysValue, day.value)"
                                                      (change)="onChangeWorkingDay(day, shift)"></mat-checkbox>
                                        <i class="fa fa-check color-green" *ngIf="!isHasUpdatePermission"></i>
                                    </td>
                                    <td class="center middle" *ngIf="isHasUpdatePermission && dayIndex === 0"
                                        [attr.rowspan]="workSchedule?.shifts?.length">
                                        <button type="button" mat-raised-button color="primary" (click)="save(workSchedule)">
                                            <!--<i class="fa fa-save" *ngIf="!isSaving"></i>-->
                                            <!--<i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>-->
                                            <mat-icon>save</mat-icon>
                                            Lưu lại
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                            </tbody>
                        </ng-template>
                    </table><!-- END: table -->
                </div>
                <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="6" (pageClick)="search($event)"
                        [isDisabled]="isSearching" [pageName]="'lịch làm việc'"></ghm-paging>
            </div>
        </div>
    </div>
</div>

<nh-modal #configModal [size]="'md'">
    <nh-modal-header [showCloseButton]="true">
        <h4>
            <i class="fa fa-gears"></i>
            Cấu hình ca làm việc cho nhân viên được chọn
        </h4>
    </nh-modal-header>
    <form class="form-horizontal">
        <nh-modal-content>
            <div class="form-group">
                <label for="" class="col-md-3 col-sm-4 control-label" [required]="true"
                            ghmLabel="Ca làm việc"></label>
                <div class="col-md-9 col-sm-8">
                    <nh-select
                        #selectShiftGroupDropdown
                        [data]="listShiftGroups"
                        [title]="'-- Chọn nhóm ca làm việc --'"
                        (onSelectItem)="onSelectShiftGroupForMulti($event)"
                    ></nh-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered table striped tale-hover">
                        <thead>
                        <tr>
                            <th colspan="8">Thời gian làm việc</th>
                        </tr>
                        <tr>
                            <th class="center w50">Ca</th>
                            <th class="center w50">CN</th>
                            <th class="center w50">T2</th>
                            <th class="center w50">T3</th>
                            <th class="center w50">T4</th>
                            <th class="center w50">T5</th>
                            <th class="center w50">T6</th>
                            <th class="center w50">T7</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let shift of selectedShifts">
                            <td class="center">{{shift.code}}</td>
                            <td class="center" *ngFor="let day of listDays">
                                <mat-checkbox color="primary"
                                              [checked]="hasChecked(shift.workingDaysValue, day.value)"
                                              (change)="onChangeWorkingDay(day, shift)"></mat-checkbox>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <button type="button" mat-raised-button color="primary" (click)="acceptAndSaveConfig()">
                <mat-icon>save</mat-icon>
                Đồng ý & lưu lại
            </button>
            <button type="button" mat-raised-button nh-dismiss="true">
                <mat-icon>close</mat-icon>
                Đóng
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>
