
<style>
  label {
    text-align: left !important;
  }

  ::ng-deep numberAlign {
    text-align: right;
  }
</style>
<nh-modal #productFormModal size="lg"
          (shown)="onModalShown()"
          (hidden)="onModalHidden()">
  <nh-modal-header class="uppercase bold">
    <span i18n="@@productFormModalTitle">{isUpdate, select, 0 {Thêm mới sản phẩm} 1 {Cập nhật thông tin sản phẩm}}</span>
  </nh-modal-header>
  <form action="" class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
    <nh-modal-content>
      <div class="row">
        <div class="col-sm-3">
          <div class="product-thumbnail w200 center cm-mgb-10">
            <img ghmImage [src]="thumbnail"
                 [class]="'img-responsive'"
                 [nhImageViewer]="urlFile + thumbnail"
                 [errorImageUrl]="'/assets/images/no-image.png'">
          </div>
          <ghm-file-explorer i18n-buttonText="@@selectImage"
                             [multiple]="true"
                             [buttonText]="'Chọn ảnh'"
                             (itemSelected)="selectProductImage($event)"
                             (acceptSelected)="uploadImageProduct($event)"></ghm-file-explorer>
          <button *ngIf="thumbnail" type="button" class="btn red cm-mgl-5" (click)="removeThumbnail()">
            Xóa ảnh
          </button>
          <div class="product-images">
            <div class="image-content" *ngFor="let item of productImages"
                 [class.thumbnail]="item.isThumbnail">
              <img ghmImage [src]="item.url"
                   [nhImageViewer]="urlFile + item.url"
                   [class]="item.isThumbnail ? 'isThumbnail' : ''"
                   [errorImageUrl]="'/assets/images/no-image.png'">
              <span *ngIf="item.isThumbnail" class="mg-overlay"></span>
              <button class="btn btn-sm btn-remove red" type="button"
                      (click)="removeImage(item)">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-sm btn-check blue"
                      [class.display-none]="!item.isThumbnail" (click)="checkThumbnail(item)"
                      type="button">
                <i class="fa fa-circle-o" aria-hidden="true" *ngIf="!item.isThumbnail"></i>
                <i class="fa fa-check" aria-hidden="true" *ngIf="item.isThumbnail">
                </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div formArrayName="translations">
            <div class="form-group" *ngIf="languages && languages.length > 1">
              <label i18n-ghmLabel="@@language" ghmLabel="Language"
                     class="col-sm-3 control-label"
                     [required]="true"></label>
              <div class="col-sm-9">
                <ghm-select [data]="languages"
                            i18n-title="@@pleaseSelectLanguage"
                            title="-- Please select language --"
                            name="language"
                            [(value)]="currentLanguage"
                            (itemSelected)="currentLanguage = $event.id"></ghm-select>
              </div>
            </div>
            <div class="form-group" [formGroup]="model"
                 [class.has-error]="formErrors?.id">
              <label class="control-label col-sm-3" i18n-ghmLabel="@@productCategory"
                     ghmLabel="Mã sản phẩm"></label>
              <div class="col-sm-9">
                <ghm-input
                        elementId="{{'code ' + currentLanguage}}"
                        formControlName="id"
                        placeholder="Không nhập mã sản phẩmhệ thống sẽ tự sinh mã"
                        [isDisabled]="isUpdate"
                        i18n-placeholder="@@enterProductName"></ghm-input>
                <span class="help-block">
                                {formErrors?.id, select, maxlength {Mã sản phẩm không được vượt quá 500 ký tự.} pattern {Mã sản phẩmkhông đúng định dạng}}
                        </span>
              </div>
            </div>
            <div class="form-group"
                 *ngFor="let modelTranslation of translations.controls; index as i"
                 [formGroupName]="i"
                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
              <label class="col-sm-3 control-label" ghmLabel="Tên sản phẩm"
                     i18n-ghmLabel="@@productName"
                     [required]="true"></label>
              <div class="col-sm-9">
                <ghm-input
                        elementId="{{'name ' + currentLanguage}}"
                        formControlName="name"
                        placeholder="Nhập tên sản phẩm"
                        i18n-placeholder="@@enterProductName"></ghm-input>
                <span class="help-block">
                                {
                                translationFormErrors[modelTranslation.value.languageId]?.name,
                                select, required {Vui lòng nhập tên sản phẩm.} maxlength {Tên sản phẩmkhông được vượt quá 256 ký tự.}
                                        pattern  {Tên sản phẩm phải là chữ.}
                                }
                            </span>
              </div>
            </div><!-- END: Product name -->
            <div class="form-group"
                 *ngFor="let modelTranslation of translations.controls; index as i"
                 [formGroupName]="i"
                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.seoLink">
              <label class="col-sm-3 control-label" ghmLabel="SeoLink"
                     i18n-ghmLabel="@@description"></label>
              <div class="col-sm-9">
                <input name="" class="form-control" rows="3"
                       formControlName="seoLink"
                       placeholder="Nhập seolink"
                       i18n-placeholder="@@enterDescription"/>
                <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.seolink,
                            select, maxlength {SeoLink không được phép vượt quá 500 ký tự.}
                            }
                        </span>
              </div>
            </div>
            <div class="form-group"
                 *ngFor="let modelTranslation of translations.controls; index as i"
                 [formGroupName]="i"
                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
              <label class="col-sm-3 control-label" ghmLabel="Mô tả"
                     i18n-ghmLabel="@@description"></label>
              <div class="col-sm-9">
                             <textarea name="" class="form-control" rows="3"
                                       formControlName="description"
                                       placeholder="Nhập nội dung mô tả"
                                       i18n-placeholder="@@enterDescription"></textarea>
                <span class="help-block">
                            {
                            translationFormErrors[modelTranslation.value.languageId]?.description,
                            select, maxlength {Thông tin mô tả sản phẩm không được phép vượt quá 500 ký tự.}
                            }
                        </span>
              </div>
            </div><!-- END: Product description -->
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" ghmLabel="Đơn vị tính"
                   i18n-ghmLabel="@@productUnit"
                   [required]="true"></label>
            <div class="col-sm-3" [class.has-error]="formErrors?.unitId">
              <app-unit-suggestion
                      [selectedItem]="model.value.unitId ? {id: model.value.unitId, name: model.value.unitName} : null"
                      (itemSelected)="onUnitSelected($event)"
                      (itemRemoved)="onUnitRemoved()"></app-unit-suggestion>
              <span class="help-block">{formErrors?.unitId, select, required {Vui lòng chọn đơn vị tính} maxlength {Đơn vị tính không được phép vượt quá 50 ký tự.}}</span>
            </div>
            <label class="col-sm-3 control-label" ghmLabel="Giá bán(VNĐ)"
                   i18n-ghmLabel="@@salePrice"
                   [required]="true"></label>
            <div class="col-sm-3" [class.has-error]="formErrors?.salePrice">
              <dx-number-box placeholder="Giá bán" formControlName="salePrice" format="#,##0"
                             [showClearButton]="true" class="numberAlign"></dx-number-box>
              <span class="help-block">{formErrors?.salePrice, select, required {Vui lòng chọn giá bán} isValid {Giá bán phải là số.}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 col-sm-offset-3" [class.has-error]="formErrors?.isActive">
              <dx-check-box formControlName="isActive" text="Kích hoạt"></dx-check-box>
            </div>
            <div class="col-sm-3" [class.has-error]="formErrors?.isHot">
              <dx-check-box formControlName="isHot" text="Sản phẩmnổi bật"></dx-check-box>
            </div>
            <div class="col-sm-3" [class.has-error]="formErrors?.isHomePage">
              <dx-check-box formControlName="isHomePage" text="Hiển thị trang chủ"></dx-check-box>
            </div>
          </div>
        </div>
      </div>
    </nh-modal-content>
    <nh-modal-footer>
      <div class="form-group">
        <div class="pull-right cm-mgr-10">
          <dx-check-box *ngIf="!isUpdate" [(value)]="isCreateAnother" text="Tiếp tục tạo"></dx-check-box>
          <button class="btn blue cm-mgr-5" i18n="@@save"
                  [disabled]="isSaving">
            <i class="fa fa-spinner" *ngIf="isSaving"></i>
            Lưu
          </button>
          <button type="button" class="btn default" i18n="@@close" nh-dismiss
                  [disabled]="isSaving">
            Đóng
          </button>
        </div>
      </div>
    </nh-modal-footer>
  </form>
</nh-modal>
