<!--<div class="tabbable-custom">-->
    <!--<ul class="nav nav-tabs ">-->
        <!--<li class="navigation-back">-->
            <!--<i class="fa fa-angle-left"></i>-->
        <!--</li>-->
        <!--<li *ngFor="let tab of listTabs">-->
            <!--<a routerLink="tab.url" [class.active]="tab.isActive"> {{tab.title}} </a>-->
        <!--</li>-->
        <!--<li class="navigation-next">-->
            <!--<i class="fa fa-angle-right"></i>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="tab-content">-->
        <!--<div class="tab-pane active" id="tab-content">-->
            <!--<ng-content></ng-content>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
