<nh-modal #questionDetailModal size="md"
          (hidden)="hideModal()">
    <nh-modal-header>
        <span *ngFor="let questionTranslation of listQuestionTranslation; index as i"
              [hidden]="questionTranslation.languageId !== currentLanguage" i18n="@@question">
            <b class="cm-mgl-20">Question: {{questionTranslation.name}}</b>
        </span>
    </nh-modal-header>
    <div class="form-horizontal">
        <nh-modal-content>
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase"
                                  i18n="@@questionDetail">Answer</span>
                        </div>
                        <ghm-button
                            *ngIf="permission.delete && questionDetail.isApprover && questionDetail.status !== questionStatus.pending && questionDetail.status !== questionStatus.approved"
                            icon="fa fa-trash-o" classes="btn btn-danger btn-sm pull-right cm-mgb-10"
                            [swal]="confirmDeleteQuestion"
                            (confirm)="delete(questionDetail.versionId)"></ghm-button>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <!--<div class="form-group cm-mgb-5">-->
                                <!--<label i18n="@@questionName" i18n-ghmLabel ghmLabel="Question name"-->
                                <!--class="col-sm-3 control-label bold"></label>-->
                                <!--<div class="col-sm-9 middle cm-mgt-10"-->
                                <!--*ngFor="let questionTranslation of listQuestionTranslation; index as i"-->
                                <!--[hidden]="questionTranslation.languageId !== currentLanguage">-->
                                <!--<span class="middle bold cm-mgb-0">{{questionTranslation.name}}</span>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group cm-mgb-5">
                                    <div class="form-group" *ngIf="languages && languages.length > 1">
                                        <label i18n-ghmLabel="@@language" ghmLabel="Language"
                                               class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                            <nh-select [data]="languages"
                                                       i18n-title="@@pleaseSelectLanguage"
                                                       title="-- Please select language --"
                                                       name="language"
                                                       [(value)]="currentLanguage"
                                                       (onSelectItem)="currentLanguage = $event.id"></nh-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5"
                                     *ngFor="let questionTranslation of listQuestionTranslation; index as i"
                                     [hidden]="questionTranslation.languageId !== currentLanguage">
                                    <label i18n="@@questionContent" i18n-ghmLabel ghmLabel="Question content"
                                           class="col-sm-3 control-label bold"
                                           *ngIf="questionTranslation.content"></label>
                                    <div class="col-sm-9 middle cm-mgt-10" *ngIf="questionTranslation.content">
                                    <span class="middle cm-mgb-0" *ngIf="questionTranslation.content">
                                        {{questionTranslation.content}}</span>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5" *ngIf="questionDetail.questionType === questionType.singleChoice ||
                                                            questionDetail.questionType === questionType.multiChoice ||
                                                            questionDetail.questionType === questionType.vote">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <ul class="list-style-none cm-pdl-0">
                                            <li *ngFor="let answer of listAnswer; let i= index" class="cm-mgb-10">
                                            <span class="center middle w50">
                                                <span *ngIf="questionDetail.questionType === questionType.vote"
                                                      [innerHTML]="renderAnswerVote(answer.order)">
                                                </span>
                                                <i class="fa fa-circle-o fontSize24 color-gray"
                                                   *ngIf="questionDetail.questionType === questionType.singleChoice && !answer.isCorrect"></i>
                                                <i class="fa fa-circle fontSize24 color-gray"
                                                   *ngIf="questionDetail.questionType === questionType.singleChoice && answer.isCorrect"></i>
                                                <i class="fa fa-square-o fontSize24 color-gray"
                                                   *ngIf="questionDetail.questionType === questionType.multiChoice && !answer.isCorrect"></i>
                                                <i class="fa fa fa-check-square-o fontSize24 color-gray"
                                                   *ngIf="questionDetail.questionType === questionType.multiChoice && answer.isCorrect"></i>
                                            </span>
                                                <span class="middle"
                                                      [hidden]="translations.languageId !== currentLanguage"
                                                      *ngFor="let translations of answer.answerTranslations; index as i">
                                                    <span>{{translations.name}}</span>
                                            </span>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5"
                                     *ngIf="questionDetail.questionType === questionType.essay">
                                    <label i18n="@@answer" i18n-ghmLabel ghmLabel="Answer"
                                           class="col-sm-3 control-label bold"></label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3"
                                                  disabled
                                                  i18n="@@enterAnswerPlaceholder" i18n-placeholder
                                                  placeholder="Enter answer."></textarea>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5"
                                     *ngIf="questionDetail.questionType === questionType.selfResponded">
                                    <label i18n="@@answer" i18n-ghmLabel ghmLabel="Answer"
                                           class="col-sm-3 control-label bold"></label>
                                    <div class="col-sm-9">
                                        <input class="form-control cm-mgt-10"
                                               *ngFor="let item of listAnswerSelfResponded"
                                               disabled i18n="@@placeAnswerHolder"
                                               i18n-placeholder placeholder="Please enter answer">
                                        <!--<input class="form-control cm-mgt-10" disabled i18n="@@placeAnswerHolder" i18n-placeholder-->
                                        <!--placeholder="Please enter answer">-->
                                        <!--<input class="form-control cm-mgt-10" disabled i18n="@@placeAnswerHolder" i18n-placeholder-->
                                        <!--placeholder="Please enter answer">-->
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5"
                                     *ngIf="questionDetail.status === questionStatus.decline">
                                    <label i18n="@@declineReason" i18n-ghmLabel ghmLabel="Decline reason"
                                           class="col-sm-3 control-label color-red bold"></label>
                                    <div class="col-sm-9">
                                        <div class="form-control">
                                            {{questionDetail.declineReason}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase"
                                  i18n="@@questionInformation">Question information</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="form-group cm-mgb-10">
                                    <label i18n="@@questionGroupName" i18n-ghmLabel ghmLabel="Question group name"
                                           class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9"
                                         *ngFor="let questionTranslation of listQuestionTranslation; index as i"
                                         [hidden]="questionTranslation.languageId !== currentLanguage">
                                        <div class="form-control">
                                            {{questionTranslation.questionGroupName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-10"
                                     *ngIf="questionDetail.questionType !== questionType.selfResponded">
                                    <label i18n="@@score" i18n-ghmLabel ghmLabel="Score"
                                           class="col-sm-3 control-label"></label>
                                    <div class="col-sm-3">
                                        <div class="form-control">
                                            {{questionDetail.score}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-10"
                                     *ngIf="questionDetail.questionType === questionType.selfResponded">
                                    <label i18n="@@totalAnswer" i18n-ghmLabel ghmLabel="Total answer"
                                           class="col-sm-3 control-label"></label>
                                    <div class="col-sm-3">
                                        <div class="form-control">
                                            {{questionDetail.totalAnswer}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-10">
                                    <label i18n="@@questionExplain" i18n-ghmLabel ghmLabel="Note"
                                           class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9"
                                         *ngFor="let questionTranslation of listQuestionTranslation; index as i"
                                         [hidden]="questionTranslation.languageId !== currentLanguage">
                                        <div class="form-control">
                                            {{questionTranslation.explain}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-10">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <i class="fa fa-square-o fontSize24"
                                           *ngIf="!questionDetail.isActive"></i>
                                        <i class="fa fa fa-check-square-o fontSize24 color-gray"
                                           *ngIf="questionDetail.isActive"></i>
                                        {questionDetail.isActive, select, 0 {Inactive} 1 {Active}}
                                    </div>
                                </div>
                                <div class="form-group cm-mgb-5">
                                    <label i18n="@@questionStatus" i18n-ghmLabel ghmLabel="Question status"
                                           class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <div class="form-control">
                                            {{questionDetail.status === questionStatus.draft ? 'Draft' :
                                            questionDetail.status === questionStatus.pending ? 'Pending' :
                                            questionDetail.status === questionStatus.approved ? 'Approved' :
                                            questionDetail.status === questionStatus.decline ? 'Decline' : ''}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <ghm-button *ngIf="(questionDetail.status === questionStatus.draft
                         || questionDetail.status === questionStatus.decline) && questionDetail.isApprover"
                        classes="btn btn-primary cm-mgr-5" type="button"
                        (clicked)="updateStatus(questionStatus.pending)">
                <span i18n="@@send">Send</span>
            </ghm-button>
            <ghm-button
                *ngIf="(questionDetail.status === questionStatus.pending) && questionDetail.isApprover"
                classes="btn btn-primary cm-mgr-5" type="button"
                (clicked)="updateStatus(questionStatus.approved)">
                <span i18n="@@approve">Approve</span>
            </ghm-button>
            <ghm-button
                *ngIf="(questionDetail.status === questionStatus.pending) && questionDetail.isApprover"
                classes="btn btn-danger cm-mgr-5"
                (clicked)="updateStatus(questionStatus.decline)">
                <span i18n="@@decline">Decline</span>
            </ghm-button>
            <ghm-button classes="btn btn-default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Close</span>
            </ghm-button>
        </nh-modal-footer>
    </div>
</nh-modal>

<app-survey-question-explain-decline-reason
    [questionVersionId]="questionDetail.versionId"
    (onUpdateSuccess)="updateStatusSuccess()">
</app-survey-question-explain-decline-reason>

<swal
    #confirmDeleteQuestion
    i18n="@@confirmDeleteQuestion"
    i18n-title
    i18n-text
    title="Are you sure for delete this question?"
    text="You can't recover this question after delete."
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
