<div class="row">
    <div class="col-sm-4 col-lg-3">
        <div class="portlet light bordered">
            <!--<div class="portlet-title">-->
            <!--<div class="caption">-->
            <!--<i class="fa fa-building"></i>-->
            <!--<span class="caption-subject font-green-sharp bold uppercase">Đơn vị</span>-->
            <!--</div>-->
            <!--</div>-->
            <div class="portlet-body">
                <mat-checkbox color="primary" [(ngModel)]="isSelectFormChildOffice">
                    <ng-container i18n="@@selectAllEmployeeParentOffice">Select all employee parent office
                    </ng-container>
                </mat-checkbox>
                <nh-tree [data]="officeTree" (nodeSelected)="onSelectOffice($event)"></nh-tree>
            </div>
        </div>
    </div><!-- end office -->
    <div class="col-sm-8 col-lg-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase"
                          i18n="@@configManager">Config manager</span>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
                    <div class="form-group cm-pdr-5">
                        <nh-select [data]="filters" i18n="@@select" i18n-title [title]="'-- Select --'"
                                   [(ngModel)]="type" name="type" (onSelectItem)="onSelectFilter($event)"></nh-select>
                    </div>
                    <div class="form-group cm-mgr-5">
                        <div class="input-group">
                            <input type="text" class="form-control" i18n="@@keywordSearch" i18n-placeholder
                                   placeholder="Enter keyword for search please." name="search"
                                   (keyup)="keyword = searchBox.value" #searchBox>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" [disabled]="isSearching">
                                    <i *ngIf="!isSearching" class="fa fa-search"></i>
                                    <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="button" (click)="refresh()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="form-group pull-right"  *ngIf="permission.add">
                        <button class="btn btn-primary" type="button" i18n="@@configManager" [disabled]="!listUserSelect || (listUserSelect && listUserSelect.length === 0) " (click)="configManager()">
                            Config manager
                        </button>
                    </div>
                </form>
                <table class="table table-bordered table-stripped table-hover">
                    <thead>
                    <tr>
                        <th class="center w50">
                            <mat-checkbox [(ngModel)]="isSelectAll" color="primary" (change)="selectAll()"></mat-checkbox>
                        </th>
                        <th class="center w250" i18n="@@fullName">Full Name</th>
                        <th class="center" i18n="@@managerDirect">Manager direct</th>
                        <th class="center" i18n="@@approver">Manager approve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of listUser; let i = index">
                        <td class="center middle">
                            <mat-checkbox color="primary" [(ngModel)]="item.isSelect" (change)="selectUser($event, item)"></mat-checkbox>
                        </td>
                        <td class="middle">
                            <div class="media">
                                <div class="media-left">
                                    <a href="javascript://">
                                        <img ghmImage
                                             class="avatar-sm"
                                             src="{{item.avatar}}"
                                             [alt]="item.fullName"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{item.fullName}}</h4>
                                    {{item.positionName}}
                                </div>
                            </div>
                        </td>
                        <td class="middle center">
                            <div class="inline">
                                <ghm-user-suggestion
                                    [selectedUser]="item.managerUserSelect"
                                    (userSelected)="onSelectManager($event, item)"
                                ></ghm-user-suggestion>
                                <ghm-button
                                    *ngIf="item.managerId"
                                    icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                                    [swal]="confirmDeleteManager"
                                    (confirm)="onRemoveManager(item)"></ghm-button>
                            </div>
                        </td>
                        <td class="middle center">
                            <div class="inline">
                                <ghm-user-suggestion
                                    [selectedUser]="item.approveUserSelect"
                                    (userSelected)="onSelectApprove($event, item)"
                                ></ghm-user-suggestion>
                                <ghm-button
                                    *ngIf="item.approveId"
                                    icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                                    [swal]="confirmDeleteApprove"
                                    (confirm)="onRemoveApprove(item)"></ghm-button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="5"
                            (pageClick)="onPageClick($event)"
                            [isDisabled]="isSearching" [pageName]="'nhân viên'"></ghm-paging>
            </div>
        </div>
    </div><!-- end list user -->
</div>

<swal
    #confirmDeleteManager
    i18n="@@confirmDeleteManagerDirect"
    i18n-title
    i18n-text
    title="Are you sure for delete this manager direct?"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<swal
    #confirmDeleteApprove
    i18n="@@confirmDeleteManagerApprove"
    i18n-title
    i18n-text
    title="Are you sure for delete this manager approve?"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<nh-modal #managerConfigModal [backdropStatic]="false" [size]="'md'">
    <nh-modal-header>
      <i class="fa fa-cogs"></i> <b><ng-container i18n="@@configManagerDirectAndManagerApprove"></ng-container> Config manager direct/ manager approve</b>
    </nh-modal-header>
    <nh-modal-content>
        <form class="form-horizontal">
            <div class="form-body">
                <div class="form-group cm-mgb-10">
                    <label class="col-md-2 col-sm-3 control-label"
                           i18n="@@managerDirect" i18n-ghmLabel ghmLabel="Manager direct"></label>
                    <div class="col-md-4 col-sm-3">
                        <ghm-user-suggestion
                            (userSelected)="onSelectManagerDirect($event)"></ghm-user-suggestion>
                    </div>
                    <label class="col-md-2 col-sm-3 control-label"
                           i18n="@@managerApprove" i18n-ghmLabel ghmLabel="Manager approve"></label>
                    <div class="col-md-4 col-sm-3">
                        <ghm-user-suggestion
                            (userSelected)="onSelectManagerApprove($event)"
                        ></ghm-user-suggestion>
                    </div>
                </div>
            </div>
        </form>
    </nh-modal-content>
    <nh-modal-footer>
        <div class="form-group pull-right">
            <ghm-button classes="btn btn-primary cm-mgr-5" (clicked)="save()"
                        [loading]="isSaving">
                <span i18n="@@Save">Save</span>
            </ghm-button>
            <ghm-button classes="btn btn-default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Close</span>
            </ghm-button>
        </div>
    </nh-modal-footer>
</nh-modal>
