<div class="row">
  <div class="col-sm-12">
    <form class="form-inline" (ngSubmit)="search(1)">
      <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@searchPlaceHolder" placeholder="Please enter news title"
               (keyup)="keyword = searchGroupKeyword.value" #searchGroupKeyword/>
      </div>
      <div class="form-group cm-mgr-5">
        <nh-dropdown-tree [data]="categoryTree"
                          [width]="350"
                          (nodeSelected)="selectCategory($event)"></nh-dropdown-tree>
      </div>
      <div class="form-group">
        <button type="submit" class="btn blue">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row cm-mgt-10">
  <div class="col-sm-12">
    <ul class="media-list select-news-container">
      <li class="media cursor-pointer" *ngFor="let item of listNews"
          [class.selected]="item.selected"
          (click)="onSelectItem(item)">
        <div class="media-left">
          <a href="javascript://">
            <img ghmImage [src]="item.image" class="w50" [isUrlAbsolute]="true"/>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{item.title}}</h4>
          {{item.description}}
        </div>
      </li>
    </ul>
    <ghm-paging [totalRows]="totalRows" [pageSize]="pageSize" [currentPage]="currentPage" [pageShow]="6"
                (pageClick)="search($event)"
                [isDisabled]="isSearching" i18n-pageName="@@news" pageName="News"></ghm-paging>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-right">
    <button type="button" class="btn blue cm-mgr-5" (click)="accept()" i18n="@@accept">
      Accept
    </button>
    <button type="button" class="btn default" (click)="cancel()" i18n="@@close">
      Close
    </button>
  </div>
</div>
