<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_5_1" data-toggle="tab"> Thông tin chương trình </a>
        </li>
        <li>
            <a href="#tab_5_2" data-toggle="tab"> Dịch vụ áp dụng </a>
        </li>
        <li>
            <a href="#tab_5_3" data-toggle="tab"> Mã giảm giá </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_5_1">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Tên chương trình:</label>
                    <div class="col-sm-8">
                        <div class="form-control bold">{{promotion.name}}</div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Người tạo:</label>
                    <div class="col-sm-8">
                        <div class="form-control bold">{{promotion.creatorFullName}}</div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Ngày tạo:</label>
                    <div class="col-sm-8">
                        <div class="form-control bold">
                            {{promotion.createTime | dateTimeFormat:'DD/MM/YYYY HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Thời gian áp dụng:</label>
                    <div class="col-sm-8">
                        <div class="form-control bold">
                            {{promotion.fromDate | dateTimeFormat:'DD/MM/YYYY'}} - {{promotion.toDate |
                            dateTimeFormat:'DD/MM/YYYY'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Nội dung chương trình:</label>
                    <div class="col-sm-8">
                        <div class="form-control height-auto bold" [innerHTML]="promotion.description"></div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="" class="control-label col-sm-4">Trạng thái kích hoạt:</label>
                    <div class="col-sm-8">
                        <mat-icon class="color-green" *ngIf="promotion.isActive">done</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_5_2">
            <!--<promotion-subject-list-->
                <!--[isReadOnly]="true"-->
                <!--[promotionId]="promotionId"-->
            <!--&gt;</promotion-subject-list>-->
            <!--<div class="clear"></div>-->
        </div>
        <div class="tab-pane" id="tab_5_3">
            <!--<promotion-voucher-list-->
                <!--#promotionVoucherList-->
                <!--[isReadOnly]="true"-->
                <!--[promotionId]="promotionId"></promotion-voucher-list>-->
        </div>
    </div>
</div>
