<div *ngIf="!isShowForm">
    <form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
        <div class="form-group pull-right cm-mgb-10" *ngIf="isHasInsertPermission && allowAdd">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="addNew()"><i
                class="fa fa-plus"></i> Thêm mới
            </button>
        </div>
    </form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="middle w50 center class=center">STT</th>
            <th class="middle center w150">Trình độ học vấn</th>
            <th class="middle center w150">Học vị</th>
            <th class="middle center">Trường đào tạo</th>
            <th class="middle center">Chuyên ngành</th>
            <th class="middle center w100" *ngIf="isHasDeletePermission || isHasUpdatePermission">Sửa, xóa</th>
        </tr>
        </thead>
        <tbody *ngIf="!isSearching">
        <tr *ngFor="let item of list; let i = index">
            <td class="center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td><a href="javascript://" (click)="detail(item)">{{ item.academicLevelName }}</a></td>
            <td><a href="javascript://" (click)="showUserInfo(item.userId)">{{item.degreeName}}</a></td>
            <td>{{item.schoolName}}</td>
            <td>{{item.specializeName}}</td>
            <td class="center w100" *ngIf="isHasUpdatePermission || isHasDeletePermission">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-bars"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                        <li *ngIf="isHasViewPermission" (click)="detail(item)"><a href="javascript://">
                            <i class="fa fa-eye"></i> Chi tiết</a>
                        </li>
                        <li *ngIf="isHasUpdatePermission && allowAdd" (click)="setUpdate(item)"><a href="javascript://">
                            <i class="fa fa-pencil"></i> Chỉnh sửa</a>
                        </li>
                        <li *ngIf="isHasDeletePermission && allowAdd" (click)="delete(item.id)"><a href="javascript://">
                            <i class="fa fa-trash-o"></i> Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="isSearching">
        <tr>
            <td colspan="8" class="center">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="5" (pageClick)="onPageClick($event)"
            [isDisabled]="isSearching" [pageName]="'Trình độ học vấn'"></ghm-paging>
</div>
<academic-level-form [hidden]="!isShowForm"
                     [userId]="userId"
                     (onCloseForm)="onFormClosed($event)"></academic-level-form>

<nh-modal #academicLevelModal size="md">
    <nh-modal-header>
        <h4 class="modal-title">Chi tiết trình độ học vấn</h4>
    </nh-modal-header>
    <nh-modal-content>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Trình độ học vấn</label>
                <div class="col-sm-9">
                    <div class="form-control">{{academic.academicLevelName}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Học vị</label>
                <div class="col-sm-9">
                    <div class="form-control">{{academic.degreeName}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Trường đào tạo</label>
                <div class="col-sm-9">
                    <div class="form-control">{{academic.schoolName}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Chuyên ngành</label>
                <div class="col-sm-9">
                    <div class="form-control">{{academic.specializeName}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ghi chú</label>
                <div class="col-sm-9">
                    <div class="form-control height-auto">{{academic.note}}</div>
                </div>
            </div>
        </div>
    </nh-modal-content>
    <nh-modal-footer>
        <button mat-raised-button type="button" nh-dismiss="true">
            <i class="fa fa-times"></i>
            Đóng lại
        </button>
    </nh-modal-footer>
</nh-modal>
