<div class="survey">
    <div class="row">
        <div class="col-sm-12 user-exam cm-mgt-10">
            <div class="media-left pull-left cm-pdl-10">
                <img ghmImage
                     class="avatar-md"
                     src="{{examUserDetail?.avatar}}"
                     [alt]="examUserDetail?.fullName"/>
            </div>
            <div class="user-info media-right">
                <div class="full-name">{{ examUserDetail?.fullName }}</div>
                <div class="description">{{ examUserDetail?.officeName }} - {{examUserDetail?.positionName }}</div>
                <div class="time">Ngày thi: <b>{{examUserDetail?.startTime | dateTimeFormat: 'DD/MM/YYYY'}}</b></div>
                <div class="time">Thời gian : <b>{{examUserDetail?.startTime | dateTimeFormat: 'hh:mm:ss'}}</b> - <b>{{examUserDetail?.endTime| dateTimeFormat: 'hh:mm:ss'}}</b></div>
            </div>
            <hr class="color-border cm-mg-0">
        </div>
    </div>
    <div class="row survey-container">
        <div class="col-sm-9">
            <div class="exam-container" [ngStyle]="{'max-height': height + 'px', 'overflow-x': 'hidden'}">
                <div class="survey-title">
                    <h4 class="star-title fontSize18 cm-mgt-0">{{ examUserDetail?.surveyName }}</h4>
                    <div class="countdown">
                        Thời gian: {{transform(examUserDetail?.totalSeconds)}}
                    </div>
                </div>
                <div class="question-container" *ngIf="listQuestion && listQuestion.length > 0">
                    <div class="question-item list-group-item" *ngFor="let question of listQuestion; let i = index">
                        <div class="question-left">
                            <div class="question-number">{{question.order}}.</div>
                        </div>
                        <div class="question-body">
                            <div class="question-name" [innerHTML]="question.name" [id]="i+1"></div>
                            <div class="answer-container" *ngIf="question.questionType !== questionType.vote">
                                <div class="answer-item" *ngFor="let answer of question.answers; let j = index">
                                    <div class="answer-name media-right cm-pdl-0">
                                        <mat-radio-button color="primary" value="answer.answerId"
                                                          [name]="question.versionId"
                                                          [disabled]="true"
                                                          [checked]="answer.isSelected"
                                                          *ngIf="question.questionType === questionType.singleChoice">
                                            <span [innerHTML]="answer.name"
                                                  [class.bold]="answer.isSelected"
                                                  [class.color-green]="answer.isCorrect && answer.isSelected"
                                                  [class.color-red]="!answer.isCorrect && answer.isSelected && answer.isCorrect !== null">
                                            </span>
                                            <i class="fa fa-check color-green size-24 cm-pdl-5"
                                               *ngIf="answer.answerIsCorrect && !answer.isSelected"></i>
                                        </mat-radio-button>
                                        <mat-checkbox color="primary"
                                                      [disabled]="true"
                                                      *ngIf="question.questionType === questionType.multiChoice"
                                                      [checked]="answer.isSelected">
                                            <span [innerHTML]="answer.name"
                                                  [class.bold]="answer.isSelected"
                                                  [class.color-green]="answer.isCorrect && answer.isSelected"
                                                  [class.color-red]="!answer.isCorrect && answer.isSelected && answer.isCorrect !== null"></span>
                                            <i class="fa fa-check color-green size-24 cm-pdl-5"
                                               *ngIf="answer.answerIsCorrect && !answer.isSelected"></i>
                                        </mat-checkbox>
                                        <textarea type="text" class="form-control"
                                                  *ngIf="question.questionType === questionType.essay"
                                                  rows="3"
                                                  [readonly]="true"
                                                  name="{{question.versionId}}"
                                                  i18="@@answerPlaceHolder"
                                                  i18n-placeholder
                                                  placeholder="Please enter answer."
                                                  [(ngModel)]="answer.value"></textarea>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input class="form-control" name="{{question.versionId}}"
                                                       [readonly]="true"
                                                       *ngIf="question.questionType === questionType.selfResponded"
                                                       [(ngModel)]="answer.value"
                                                       i18="@@answerPlaceHolder"
                                                       i18n-placeholder
                                                       placeholder="Please enter answer.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="answer-container" *ngIf="question.questionType === questionType.vote">
                                <ul class="list-inline">
                                    <li *ngFor="let answer of question.answers;" class="list-inline-item cm-pd-0"
                                        [matTooltip]="answer.name"
                                        [matTooltipPosition]="'above'">
                                        <i class="fa fa-star-o fontSize24"
                                           [class.color-orange]="answer.order <= question.orderAnswerSelect"
                                           aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row" class="paging-question">-->
                    <!--<div class="col-sm-6">-->
                    <!--<div class="form-inline">-->
                    <!--<div class="form-group cm-mgr-5">-->
                    <!--<nh-select-->
                    <!--[data]="[{id: 5, name: '5 question'}, {id: 10, name: '10 question'}, {id: 20, name: '20 question'}, {id: 50, name: '50 question'}]"-->
                    <!--[(ngModel)]="pageSize"-->
                    <!--&lt;!&ndash;(onSelectItem)="search(1)"></nh-select>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<ghm-paging [totalRows]="totalQuestion" class="paging"-->
                    <!--class="cm-mg-0"-->
                    <!--[pageSize]="pageSize"-->
                    <!--[currentPage]="currentPage"-->
                    <!--[pageShow]="6"-->
                    <!--(pageClick)="search($event)"-->
                    <!--[isDisabled]="isSearching"-->
                    <!--[pageName]="'Question'">-->
                    <!--</ghm-paging>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-sm-12">-->
                        <!--<div class="form-group pull-right">-->
                            <!--<button class="btn btn-primary" (click)="closeExamDetail()">Đóng</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-sm-3 score-container">
            <div class="answer-sheet">
                <span>Answer sheet</span>
            </div>
            <div class="table-question">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr *ngFor="let row of listRowTableScore">
                        <td *ngFor="let column of listColTableScore" class="middle center"
                            [class.has-answer]="listQuestionIndexHasAnswer.indexOf((row - 1) * this.colTableScore + column) >= 0">
                            <a *ngIf="totalQuestion >= ((row - 1) * this.colTableScore + column)">
                                {{(row - 1) * this.colTableScore + column}}
                                <i class="fa fa-check color-green"
                                   *ngIf="listQuestionIndexCorrect.indexOf((row - 1) * this.colTableScore + column) >=0"></i>
                                <i class="fa fa-times color-red"
                                   *ngIf="listQuestionIndexInCorrect.indexOf((row - 1) * this.colTableScore + column) >= 0"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p>
                <a (click)="showQuestionHasAnswer()" [class.bold]="noTab === questionAnswerStatus.hasAnswer">Đã trả lời: {{totalQuestionHasAnswer}}</a>
            </p>
            <p>
                <a (click)="showQuestionNoAnswer()" [class.bold]="noTab === questionAnswerStatus.noAnswer">Chưa trả lời: {{totalQuestionNotAnswer}}</a>
            </p>
            <p>
                <a (click)="showAllQuestion()" [class.bold]="noTab === questionAnswerStatus.all">Tổng số câu: {{totalQuestion}}</a>
            </p>
            <p *ngIf="isManager || (!isManager && examUserDetail?.isViewResult)">
                <a (click)="showQuestionCorrect()" [class.bold]="noTab === questionAnswerStatus.correct">Số câu trả lời đúng:
                    {{examUserDetail?.totalCorrectAnswers}}</a>
            </p>
            <p *ngIf="isManager || (!isManager && examUserDetail?.isViewResult)">
                <a (click)="showQuestionInCorrect()" [class.bold]="noTab === questionAnswerStatus.inCorrect">Số câu trả lời sai:
                    {{!listQuestionIndexInCorrect ? 0 : listQuestionIndexInCorrect.length}}</a>
            </p>
        </div>
    </div>
</div>
