<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listProductCategoryPageTitle">Danh sách nhóm sản phẩm</span>
    <small i18n="@@productModuleTitle">Quản lý sản phẩm</small>
</h1>
<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@keywordSearch" i18n-placeholder
               placeholder="Nhập từ khóa tìm kiếm"
               name="searchInput" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [data]="[{id: false, name: 'inActive'},{id: true, name: 'Active'}]"
            i18n="@@selectStatus"
            i18n-title
            [title]="'-- Chọn trạng thái --'"
            [(value)]="isActive"
            (onSelectItem)="selectIsActive($event)"></nh-select>
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn default" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <button class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add" (click)="add()"
                type="button">
            Thêm
        </button>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">STT</th>
        <th class="middle " i18n="@@questionGroup">Nhóm Sản Phẩm</th>
        <th class="middle center" i18n="@@status">Trạng Thái</th>
        <th class="middle" i18n="@@description">Mô Tả</th>
        <th class="middle text-right w150" i18n="@@actions" *ngIf="permission.edit || permission.delete">Thao Tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listProductCategory; let i = index"
        nhContextMenuTrigger
        [nhContextMenuTriggerFor]="nhMenu"
        [nhContextMenuData]="item">
        <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td class="middle"><span [innerHTML]="item.nameLevel"></span>{{ item.name }}</td>
        <td class="middle center">
            <mat-checkbox *ngIf="!item.isActive" color="primary" [checked]="item.isActive"
                          (change)="updateStatus(item)"></mat-checkbox>
            <mat-checkbox *ngIf="item.isActive" color="primary"[checked]="item.isActive"
                          [swal]="waringUpdateProductCategory"
                          (confirm)="updateStatus(item)"></mat-checkbox>
        </td>
        <td class="middle">{{item.description}}</td>
        <td class="text-right middle" *ngIf="permission.edit || permission.delete">
            <nh-dropdown>
                <button type="button" class="btn btn-sm btn-light btn-no-background no-border" matTooltip="Menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <ul class="nh-dropdown-menu right" role="menu">
                    <li>
                        <a *ngIf="permission.edit"
                           (click)="edit(item)"
                           i18n="@@edit">
                            <i class="fa fa-pencil"></i>
                            Sửa
                        </a>
                    </li>
                    <li>
                        <a (click)="confirm(item)" i18n="@@delete">
                            <i class="fa fa-trash"></i>
                            Xóa
                        </a>
                    </li>
                </ul>
            </nh-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<ghm-paging
    class="pull-right"
    [totalRows]="totalRows"
    [currentPage]="currentPage"
    [pageShow]="6"
    [pageSize]="pageSize"
    (pageClick)="search($event)"
    i18n="@@productCategory" i18n-pageName
    [pageName]="'Category'">
</ghm-paging>

<app-product-category-form (saveSuccessful)="search(1)"></app-product-category-form>

<swal
    #confirmDeleteProductCategory
    i18n="@@confirmDeleteProductCategory"
    i18n-title="@@confirmTitleDeleteProductCategory"
    i18n-text="@@confirmTextDeleteProductCategory"
    title="Bạn có muốn xóa nhóm sản phẩm này?"
    text="Bạn không thể khôi phục nhóm sản phẩm này sau khi xóa."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng Ý"
    cancelButtonText="Hủy"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<swal
    #waringUpdateProductCategory
    i18n="@@waringUpdateProductCategory"
    i18n-title="@@waringTitleUpdateProductCategory"
    i18n-text="@@waringTextUpdateProductCategory"
    title="Are you sure for update status isActive this product category?"
    text="All children product category deactivate ."
    type="warning"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng Ý"
    cancelButtonText="Hủy"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<nh-menu #nhMenu>
    <nh-menu-item (clicked)="edit($event)">
       <i class="fa fa-edit"></i>
        <span i18n="@@edit">Sửa</span>
    </nh-menu-item>
    <nh-menu-item *ngIf="permission.delete"
                  (clicked)="confirm($event)">
       <i class="fa fa-trash"></i>
        <span i18n="@@edit">Xóa</span>
    </nh-menu-item>
</nh-menu>

