<div class="row cm-mgb-10">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search(1)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập tiêu đề tin cần tìm."
                       [(ngModel)]="keyword" name="keyword">
            </div>
            <div class="form-group">
                <!--<button class="btn btn-primary">-->
                <!--<i class="fas fa-search"></i>-->
                <!--</button>-->
                <ghm-button [loading]="isSearching" icon="fas fa-search"></ghm-button>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" (click)="newsFormComponent.add()">
                    <i class="fas fa-plus"></i>
                    Thêm
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-stripped">
            <thead>
            <tr>
                <th class="center middle w50">STT</th>
                <th class="center middle">Tiêu đề bài viết</th>
                <th class="center middle">Ảnh</th>
                <th class="center middle w50">Ngày tạo</th>
                <th class="center middle w50">Người tạo</th>
                <th class="center middle w50">Trạng thái</th>
                <th class="center middle w50">Nổi bật</th>
                <th class="center middle w50">Trang chủ</th>
                <th class="center middle w100">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listItems$ | async; let i = index">
                <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td class="middle">{{ item.title }}</td>
                <td class="middle">{{ item.image }}</td>
                <td class="middle">{{ item.createTime | dateTimeFormat: 'DD/MM/YYYY HH:mm' }}</td>
                <td class="middle">{{ item.creatorFullName }}</td>
                <td class="center middle">
                    <mat-checkbox color="primary" [checked]="item.isActive"></mat-checkbox>
                </td>
                <td class="center middle">
                    <mat-checkbox color="primary" [checked]="item.isHot"></mat-checkbox>
                </td>
                <td class="center middle">
                    <mat-checkbox color="primary" [checked]="item.isHomePage"></mat-checkbox>
                </td>
                <td class="center middle">
                    <button type="button" class="btn btn-sm btn-primary" matTooltip="Sửa"
                            [matTooltipPosition]="'above'"
                            (click)="newsFormComponent.edit(item)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" matTooltip="Xóa"
                            [matTooltipPosition]="'above'"
                            [swal]="{ title: 'Bạn có chắc chắn muốn xóa tin tức không?', type: 'warning' }"
                            (confirm)="delete(item.id)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="6" (pageClick)="search($event)"
                    [isDisabled]="isSearching" pageName="tin tức"></ghm-paging>
    </div>
</div>

<app-news-form (onSaveSuccess)="search(1)"></app-news-form>
