<nh-modal #faqGroupFormModal
          size="md"
          (shown)="onModalShown()"
          (hidden)="onModalHidden()">
    <nh-modal-header>
        <span>{isUpdate, select, 1 {Cập nhật nhóm câu hỏi} 0 {Thêm mới nhóm câu hỏi}}</span>
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div formArrayName="translations">
                <div class="form-group" *ngIf="languages && languages.length > 1">
                    <label i18n-ghmLabel="@@language" ghmLabel="Language"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <ghm-select [data]="languages"
                                    i18n-title="@@pleaseSelectLanguage"
                                    title="-- Chọn ngôn ngữ --"
                                    name="language"
                                    [(value)]="currentLanguage"
                                    (itemSelected)="currentLanguage = $event.id"></ghm-select>
                    </div>
                </div>
                <div *ngFor="let translation of translations.controls; index as i"
                     [hidden]="translation.value.languageId !== currentLanguage"
                     [formGroupName]="i">
                    <div class="form-group"
                         [class.has-error]="translationFormErrors[translation.value.languageId]?.name">
                        <label i18n-ghmLabel ghmLabel="Tên nhóm"
                               class="col-sm-4 control-label" [required]="true"></label>
                        <div class="col-sm-8">
                            <ghm-input [elementId]="'name'"
                                       placeholder="Nhập tên nhóm."
                                       formControlName="name"></ghm-input>
                            <span class="help-block">
                              {
                                translationFormErrors[translation.value.languageId]?.name,
                                select, required {Tên nhóm không được để trống} maxLength {Tên nhóm không được vượt quá 256 ký tự}
                              }
                          </span>
                        </div>
                    </div>
                    <div class="form-group"
                         [class.has-error]="translationFormErrors[translation.value.languageId]?.description">
                        <label i18n="@@description" i18n-ghmLabel ghmLabel="Mô tả"
                               class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                        <textarea class="form-control" rows="3" formControlName="description" placeholder="Nhập mô tả."></textarea>
                            <span class="help-block">
                                        {
                                        translationFormErrors[translation.value.languageId]?.description,
                                        select, maxLength {Mô tả nhóm câu hỏi không được vượt quá 500 ký tự}
                                        }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" [formGroup]="model">
                    <div class="col-sm-8 col-sm-offset-4">
                        <dx-check-box formControlName="isActive"
                                      text="{{model.value.isActive === 0 ? 'Chưa kích hoạt' : 'Kích hoạt'}}">
                        </dx-check-box>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <div class="pull-right cm-mgb-10">
                <dx-check-box [(value)]="isCreateAnother"
                              *ngIf="!isUpdate"
                              text="Tiếp tục thêm">
                </dx-check-box>
                <ghm-button classes="btn blue cm-mgr-5" [loading]="isSaving" i18n="@@save">
                    Lưu
                </ghm-button>
                <ghm-button type="button" classes="btn btn-light"
                            nh-dismiss="true"
                            [loading]="isSaving">
                    Hủy
                </ghm-button>
            </div>
        </nh-modal-footer>
    </form>
</nh-modal>
