<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listOfficePageTitle">List office</span>
    <small i18n="@@officeModuleTitle">Office management</small>
</h1>

<div class="row">
    <div class="col-sm-12">
        <form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
            <div class="form-group cm-mgr-5">
                <input type="text" class="form-control" i18n="@@enterKeyword" i18n-placeholder
                       placeholder="Enter keyword." name="keyword" [(ngModel)]="keyword">
            </div>
            <div class="form-group cm-mgr-5">
                <nh-select
                    i18n-title="@@filterByStatusTitle"
                    title="-- Filter by status --"
                    [data]="listActiveSearch"
                    [(value)]="isActive"
                    (onSelectItem)="search(1)"></nh-select>
            </div>
            <div class="form-group cm-mgr-5">
                <ghm-button icon="fa search" classes="btn btn-primary" [loading]="isSearching">
                    <i class="fa fa-search"></i>
                </ghm-button>
            </div>
            <div class="form-group cm-mgr-5">
                <button class="btn btn-default" (click)="refresh()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" (click)="add()"
                        i18n="@@add" *ngIf="permission.add">
                    Add
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover table-stripped">
            <thead>
            <tr>
                <th class="center middle w50" i18n="@@no">No</th>
                <th class="middle" i18n="@@officeName">Office name</th>
                <th class="middle" i18n="@@parentOffice">Parent office</th>
                <th class="middle" i18n="@@officeCode">Office code</th>
                <th class="middle" i18n="@@officeCode">Office type</th>
                <th class="middle w50" i18n="@@activeStatus">Active status</th>
                <th class="text-right middle w150" i18n="@@actions" *ngIf="permission.edit || permission.delete">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let office of listItems$ | async; let i = index">
                <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td class="middle">
                    <!--<i *ngFor="let item of createRange(office.level)"-->
                    <!--class="fa fa-long-arrow-right cm-mgr-5 color-blue"></i>-->
                    <a href="javasript://" (click)="edit(office.id)"
                       *ngIf="permission.edit; else officeNameWithoutEdit">
                        <span [innerHTML]="office.nameLevel"></span>
                        {{office.name}}
                    </a>
                    <ng-template #officeNameWithoutEdit>
                        {{ office.name }}
                    </ng-template>
                </td>
                <td class="middle">
                    {{ office.parentName }}
                </td>
                <td class="middle">{{ office.code }}</td>
                <td class="middle">
                        <span i18n="@@officeType" class="badge"
                              [class.badge-info]="office.officeType == 0"
                              [class.badge-success]="office.officeType == 1"
                              [class.badge-danger]="office.officeType == 2"
                              [class.badge-warning]="office.officeType == 3"
                        >
                            {office.officeType, plural, =0 {Normal} =1 {Hr} =2 {Director} =3 {Stand alone company} other {N/A}}
                        </span>
                </td>
                <td class="middle">
                        <span class="badge" [class.badge-danger]="!office.isActive"
                              [class.badge-success]="office.isActive">{office.activeStatus, select, active {Activated} inActive {In active}}</span>
                </td>
                <td class="text-right middle" *ngIf="permission.edit || permission.delete">
                    <ghm-button *ngIf="permission.edit" icon="fa fa-eye" classes="btn btn-default btn-sm"
                                (clicked)="detail(office.id)"></ghm-button>
                    <ghm-button *ngIf="permission.edit" icon="fa fa-edit" classes="btn btn-primary btn-sm"
                                (clicked)="edit(office.id)"></ghm-button>
                    <ghm-button *ngIf="permission.delete" icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                                [swal]="confirmDeleteOffice" (confirm)="delete(office.id)"></ghm-button>
                </td>
            </tr>
            </tbody>
        </table>
        <ghm-paging
            [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageSize]="pageSize"
            [pageShow]="6"
            [isDisabled]="isSearching"
            (pageClick)="search($event)"></ghm-paging>
    </div>
</div>

<app-office-form (saveSuccessful)="search(1)"></app-office-form>
<app-office-detail (edited)="edit($event)"></app-office-detail>
<swal #confirmDeleteOffice
      i18n-title="@@confirmDeleteOfficeTitle"
      i18n-text="@@confirmDeleteOfficeText"
      title="Are you sure for delete this office?"
      text="You can't recover this office after delete."
      type="question"
      i18n-confirmButtonText="@@accept"
      i18n-cancelButtonText="@@cancel"
      confirmButtonText="Accept"
      cancelButtonText="Cancel"
      [showCancelButton]="true">
</swal>
