<div class="row">
    <div class="col-sm-12">
        <span class="">
            <span><b class="font-size-18">Thông tin nhân sự {{userInfo.fullName}}</b></span>
        </span>
        <ul class="list-inline pull-right">
            <li class="list-inline-item cm-pdl-0">
                <ghm-button
                            *ngIf="permission.view"
                            icon="fa fa-print" classes="btn btn-default btn-sm"
                            (clicked)="print()"></ghm-button>
            </li>
            <li class="list-inline-item cm-pdl-0">
                <ghm-button
                            icon="fa fa-edit" classes="btn btn-primary btn-sm"
                            (clicked)="edit()"></ghm-button>
            </li>
            <li class="list-inline-item cm-pdl-0">
                <ghm-button
                            *ngIf="permission.delete"
                            icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                            [swal]="confirmDeleteTitle"
                            (confirm)="delete()"></ghm-button>
            </li>
        </ul>
        <hr class="cm-mgt-15">
    </div>
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic center">
                    <img ghmImage
                         class="img-responsive img-circle"
                         [src]="userInfo.avatar"
                         [alt]="userInfo.fullName"/>
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{userInfo.fullName}}</div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li [class.active]="formValue === 1">
                            <a href="javascript://" (click)="showForm(1)">
                                <i class="mdi mdi-account-card-details"></i> Thông tin
                            </a>
                        </li>
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 2">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(2)">-->
                        <!--<i class="mdi mdi-briefcase-check"></i>-->
                        <!--Quản lý hợp đồng-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 3">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(3)">-->
                        <!--<i class="mdi mdi-book-open-page-variant"></i> Trình độ học vấn-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 4">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(4)">-->
                        <!--<i class="mdi mdi-verified"></i> Quá trình bảo hiểm-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 5">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(5)">-->
                        <!--<i class="mdi mdi-car"></i> Quá trình công tác-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 6">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(6)">-->
                        <!--<i class="mdi mdi-library"></i> Quá trình đào tạo-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 7">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(7)">-->
                        <!--<i class="fa fa-archive"></i> Quản lý hồ sơ, giấy tờ-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 8">-->
                        <!--<a href="javascript://" data-toggle="tab"-->
                        <!--(click)="showForm(8)">-->
                        <!--<i class="mdi mdi-trophy-award"></i> Khen thưởng - Kỷ luật-->
                        <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript://" (click)="showForm(null)">
                                <i class="mdi mdi-arrow-left-bold"></i>
                                Trở về trang danh sách
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <form class="form-horizontal user-form">
                <div class="tabbable-custom">
                    <ul class="nav nav-tabs" *ngIf="languages && languages.length > 1">
                        <li [class.active]="item.id === currentLanguage"
                            *ngFor="let item of languages; let i = index">
                            <a href="javascript://" (click)="currentLanguage = item.id"> {{item.name }} </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">{{formTitle}}</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@username" i18n-ghmLabel ghmLabel="User Name"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control ">
                                                        {{ userInfo.userName }}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@enrollNumber" i18n-ghmLabel
                                                       ghmLabel="Enroll Number"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control ">
                                                        {{ userInfo.enrollNumber }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@fullName" ghmLabel="Full Name"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control ">
                                                        {{ userInfo.fullName }}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@gender" i18n-ghmLabel ghmLabel="Gender"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control ">
                                                        {{ userInfo.gender === gender.female ? 'Nữ' : gender.male ?
                                                        'Nam' : 'Giới tính khác' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@birthday" i18n-ghmLabel ghmLabel="Birthday"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">{{userInfo.birthday |
                                                        dateTimeFormat:"MM/DD/YYYY"}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@office" i18n-ghmLabel ghmLabel="Office"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">{{userTranslation.officeName}}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@position" i18n-ghmLabel ghmLabel="Positon?"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">{{userTranslation.positionName}}</div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@title" i18n-ghmLabel ghmLabel="Title"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">{{userTranslation.titleName}}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@isLeader" i18n-ghmLabel ghmLabel="IsLeader?"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.userType === userType.staff ? "Khác" :
                                                        userInfo.userType === userType.leader ? "Trưởng đơn vị" :
                                                        userInfo.userType === userType.viceLeader ? "Phó đơn vị" : ""}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@academicUnit" i18n-ghmLabel
                                                       ghmLabel="Academic Unit"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.academicRank === academicRank.master ? "Thạc sỹ" :
                                                        userInfo.academicRank === academicRank.phD ? "Trưởng đơn vị" :
                                                        userInfo.academicRank === academicRank.professor ? "Giáo sư" :
                                                        ""}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@identificationCard" i18n-ghmLabel
                                                       ghmLabel="Identification Card"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.idCardNumber}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="identificationCardDateIssue" i18n-ghmLabel
                                                       ghmLabel="Identification Card Date Issue"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.idCardDateOfIssue | dateTimeFormat:"MM/DD/YYYY"}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@placeOfIssueIdentityCard" i18n-ghmLabel
                                                       ghmLabel="Place Of Issue Identition Card"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.idCardPlaceOfIssue}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@marriedStatus" i18n-ghmLabel
                                                       ghmLabel="Married Status"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.marriedStatus === marriedStatus.single ? 'Chưa kết hôn' : userInfo.marriedStatus === marriedStatus.married ? 'Đã kết hôn'
                                                        : userInfo.marriedStatus === marriedStatus.separated ? 'Đã ly thân' : userInfo.marriedStatus === marriedStatus.divorce ? 'Đã ly hôn' : '' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label" i18n="@@denomination"
                                                       i18n-ghmLabel ghmLabel="Religion"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.denomination === 0 ? 'Không' : userInfo.denomination
                                                        === 1 ? 'Phật giáo'
                                                        : userInfo.denomination === 2 ? 'Thiên chúa giáo' : userInfo.denomination === 3 ? 'Hindu giáo' : ''
                                                        }}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@ethnic" i18n-ghmLabel ghmLabel="Ethnic"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.ethnicName}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@nationality" i18n-ghmLabel
                                                       ghmLabel="Nationality"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.nationality}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@province" i18n-ghmLabel ghmLabel="Province"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.provinceName}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@district" i18n-ghmLabel ghmLabel="District"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.districtName}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@bankingNumber" i18n-ghmLabel
                                                       ghmLabel="Banking Number"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{userInfo.bankingNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@bankName" i18n-ghmLabel ghmLabel="Bank Name"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.bankName}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@branchBank" i18n-ghmLabel ghmLabel="Branch Bank"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.branchBank}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passport" i18n-ghmLabel ghmLabel="Passport"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.passportId}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passportDateOfIssue" i18n-ghmLabel
                                                       ghmLabel="Passport Date Of Issue"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.passportDateOfIssue | dateTimeFormat : 'MM/DD/YYYY'}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passportPlaceOfIssue" i18n-ghmLabel
                                                       ghmLabel="Passport PlaceOf Issue"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.passportPlaceOfIssue}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@tin" i18n-ghmLabel ghmLabel="Person income tax"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.tin}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@joinedDate" i18n-ghmLabel ghmLabel="Joined Date"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.joinedDate | dateTimeFormat : 'MM/DD/YYYY'}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@cardNumber" i18n-ghmLabel ghmLabel="Attendance cards"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.cardNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase"
                                                      i18n="@@informationContact">Information Contact</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@nativeCountry" i18n-ghmLabel
                                                       ghmLabel="Native Country"></label>
                                                <div class="col-md-10 col-sm-9"
                                                     *ngFor="let userTranslation of listUserTranslation; index as i"
                                                     [hidden]="userTranslation.languageId !== currentLanguage">
                                                    <div class="form-control">
                                                        {{userTranslation.nativeCountry}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 *ngFor="let userTranslation of listUserTranslation; index as i"
                                                 [hidden]="userTranslation.languageId !== currentLanguage">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@residentRegister" i18n-ghmLabel
                                                       ghmLabel="Resident Register"></label>
                                                <div class="col-md-10 col-sm-9">
                                                    <div class="form-control">
                                                        {{userTranslation.residentRegister}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 *ngFor="let userTranslation of listUserTranslation; index as i"
                                                 [hidden]="userTranslation.languageId !== currentLanguage">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@address" i18n-ghmLabel ghmLabel="Address"></label>
                                                <div class="col-md-10 col-sm-9">
                                                    <div class="form-control">
                                                        {{userTranslation.address}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@ext" i18n-ghmLabel ghmLabel="Ext"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control">
                                                        {{ userInfo.ext}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <app-user-contact [listUserContacts]="listUserContact"
                                                                      [userId]="userId"
                                                                      [isUpdate]="isUpdate"
                                                                      [isDetail]="true"
                                                                      [label]="'Mobile'"
                                                                      [type]="contactType.mobilePhone"></app-user-contact>
                                                </div>
                                                <div class="col-sm-6">
                                                    <app-user-contact [listUserContacts]="listUserContact"
                                                                      [userId]="userId"
                                                                      [isUpdate]="isUpdate"
                                                                      [isDetail]="true"
                                                                      [label]="'Email'"
                                                                      [type]="contactType.email"></app-user-contact>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="col-sm-12">
                        <button class="btn btn-default" type="button" (click)="closeForm()"
                                [disabled]="isSaving || formErrors.length > 0">
                            <i class="fa fa-times"></i>
                            Trở về trang danh sách
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<swal
    #confirmDeleteTitle
    i18n="@@confirmDeleteUser"
    i18n-title
    i18n-text
    title="Are you sure for delete this user?"
    text="You can't recover this user after delete."
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
