<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@userFormPageTitle">{isUpdate, select, 0 {Add new user} 1 {Update user info}}</span>
    <small i18n="@@userModuleTitle">User management</small>
</h1>

<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet bordered">
                <div class="profile-userpic center">
                    <img ghmImage
                         class="img-responsive img-circle"
                         [src]="model.value.avatar"
                         [alt]="model.value.fullName"/>
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{model.value.fullName}}</div>
                </div>
                <div class="profile-userbuttons center overflow-hidden">
                    <nh-upload [url]="'/api/upload/images'"
                               class="img-responsive"
                               [allowFileTypes]="['.jpg', '.png', '.jpeg']"
                               [selectText]="'Thay đổi ảnh đại diện'"
                               (onComplete)="afterUploadAvatar($event)"></nh-upload>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li [class.active]="formValue === 1">
                            <a href="javascript://" (click)="showForm(1)">
                                <i class="mdi mdi-account-card-details"></i> Thông tin
                            </a>
                        </li>
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 2">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(2)">-->
                        <!--<i class="mdi mdi-briefcase-check"></i>-->
                        <!--Quản lý hợp đồng-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 3">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(3)">-->
                        <!--<i class="mdi mdi-book-open-page-variant"></i> Trình độ học vấn-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 4">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(4)">-->
                        <!--<i class="mdi mdi-verified"></i> Quá trình bảo hiểm-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 5">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(5)">-->
                        <!--<i class="mdi mdi-car"></i> Quá trình công tác-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 6">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(6)">-->
                        <!--<i class="mdi mdi-library"></i> Quá trình đào tạo-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 7">-->
                        <!--<a href="javascript://" data-toggle="tab" (click)="showForm(7)">-->
                        <!--<i class="fa fa-archive"></i> Quản lý hồ sơ, giấy tờ-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li *ngIf="isUpdate" [class.active]="formValue === 8">-->
                        <!--<a href="javascript://" data-toggle="tab"-->
                        <!--(click)="showForm(8)">-->
                        <!--<i class="mdi mdi-trophy-award"></i> Khen thưởng - Kỷ luật-->
                        <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript://" (click)="showForm(null)">
                                <i class="mdi mdi-arrow-left-bold"></i>
                                Trở về trang danh sách
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <form class="form-horizontal user-form" [hidden]="formValue !== 1" (ngSubmit)="save()" [formGroup]="model">
                <div class="tabbable-custom">
                    <ul class="nav nav-tabs" *ngIf="languages && languages.length > 1">
                        <li [class.active]="item.id === currentLanguage"
                            *ngFor="let item of languages; let i = index">
                            <a href="javascript://" (click)="currentLanguage = item.id"> {{ item.name }} </a>
                        </li>
                    </ul>
                    <div class="tab-content" formArrayName="modelTranslations">
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">{{formTitle}}</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@username" i18n-ghmLabel ghmLabel="User Name"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.userName">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@enterUserNamePlaceHolder"
                                                           i18n-placeholder
                                                           placeholder="Enter User Name"
                                                           formControlName="userName"
                                                           *ngIf="!isUpdate"/>
                                                    <div class="form-control cursor-not-allow disabled"
                                                         *ngIf="isUpdate">
                                                        {{ model.value.userName }}
                                                    </div>
                                                    <span class="help-block">
                                                    {{ formErrors.userName }}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@enrollNumber" i18n-ghmLabel
                                                       ghmLabel="Enroll Number"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <div class="form-control" disabled>{{model.value.enrollNumber}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@fullName" ghmLabel="Full Name"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.fullName">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@enterFullName" i18n-placeholder
                                                           placeholder="Enter Full Name"
                                                           formControlName="fullName" id="fullName"/>
                                                    <span class="help-block">
                                                        {{ formErrors.fullName }}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@gender" i18n-ghmLabel ghmLabel="Gender"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.gender">
                                                    <nh-select
                                                        [data]="[{id: gender.female, name: 'Nữ'},{id: gender.male, name: 'Nam'}, {id: gender.other, name: 'Giới tính khác'}]"
                                                        i18n="@@selectGender"
                                                        i18n-title
                                                        [title]="'-- Select Gender --'"
                                                        formControlName="gender"></nh-select>
                                                    <span class="help-block">
                                                        {{ formErrors.gender}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@birthday" i18n-ghmLabel ghmLabel="Birthday"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.birthday">
                                                    <nh-date formControlName="birthday"
                                                             [type]="'inputButton'"
                                                             [format]="'MM/DD/YYYY'"
                                                             [title]="'Chọn ngày sinh'"></nh-date>
                                                    <span class="help-block">
                                                        {{ formErrors.birthday}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@office" i18n-ghmLabel ghmLabel="Office"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.officeId">
                                                    <nh-dropdown-tree [data]="officeTree"
                                                                      [width]="350"
                                                                      (nodeSelected)="onSelectOffice($event)"
                                                                      formControlName="officeId"></nh-dropdown-tree>
                                                    <span class="help-block">
                                                        {{ formErrors.officeId }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@position" i18n-ghmLabel ghmLabel="Positon?"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.positionId ">
                                                    <nh-select [data]="listPosition"
                                                               i18n="@@selectPosition"
                                                               i18n-title
                                                               [title]="'-- Select Position --'"
                                                               [isEnable]="isEnableSelectTitleButton"
                                                               formControlName="positionId"
                                                               (onSelectItem)="onSelectPosition($event)"></nh-select>
                                                    <span class="help-block">
                                                        {{ formErrors.positionId }}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@title" i18n-ghmLabel ghmLabel="Title"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.titleName">
                                                    <div readonly class="disabled form-control">
                                                        {{translationFormErrors[modelTranslation.value.languageId]?.titleName
                                                        ? "Vui lòng chọn chức danh" : modelTranslation.value.titleName}}
                                                    </div>
                                                    <span class="help-block">
                                                        {{translationFormErrors[modelTranslation.value.languageId]?.titleName}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@isLeader" i18n-ghmLabel ghmLabel="IsLeader?"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.userType ">
                                                    <nh-select formControlName="userType"
                                                               [data]="[{id: userType.staff, name: 'Khác'},{id: userType.leader, name: 'Trưởng đơn vị'}, {id: userType.viceLeader, name: 'Phó đơn vị'}]"
                                                               i18n="@@select"
                                                               i18n-title
                                                               [title]="'-- Select --'"></nh-select>
                                                    <span class="help-block">
                                                        {{ formErrors.userType}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@academicUnit" i18n-ghmLabel
                                                       ghmLabel="Academic Unit"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.academicRank ">
                                                    <nh-select formControlName="academicRank"
                                                               [data]="[{id: academicRank.master, name: 'Thạc sỹ'},{id: academicRank.phD, name: 'Tiến sỹ'}, {id: academicRank.professor, name: 'Giáo sư'}]"
                                                               i18n="@@select"
                                                               i18n-title
                                                               [title]="'-- Select --'"></nh-select>
                                                    <span class="help-block">
                                                        {{ formErrors.academicRank}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label" [required]="true"
                                                       i18n="@@identificationCard" i18n-ghmLabel
                                                       ghmLabel="ID Card"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model"
                                                     [class.has-error]="formErrors.idCardNumber ">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@enterIdentificationCardPlaceHolder"
                                                           placeholder="Enter ID Card"
                                                           formControlName="idCardNumber"/>
                                                    <span class="help-block">
                                                        {{ formErrors.idCardNumber}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="identificationCardDateIssue" i18n-ghmLabel
                                                       ghmLabel="ID Date Of Issue"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model"
                                                     [class.has-error]="formErrors.idCardDateOfIssue ">
                                                    <nh-date formControlName="idCardDateOfIssue"
                                                             [type]="'inputButton'"
                                                             i18n="@@selectIdentificationCardDateIssue"
                                                             i18n-title
                                                             [format]="'MM/DD/YYYY'"
                                                             [title]="'Select Identification Card Date Issue'"></nh-date>
                                                    <span class="help-block">
                                                        {{ formErrors.idCardDateOfIssue}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@placeOfIssueIdentityCard" i18n-ghmLabel
                                                       ghmLabel="Place Of Issue Identition Card"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [formGroupName]="i"
                                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.idCardPlaceOfIssue">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@placeOfIssueIdentityCardPlaceHolder"
                                                           placeholder="Enter Place Of Issue Identition Card"
                                                           formControlName="idCardPlaceOfIssue"/>
                                                    <span class="help-block">
                                                        {{
                                                        translationFormErrors[modelTranslation.value.languageId]?.idCardPlaceOfIssue
                                                        }}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@marriedStatus" i18n-ghmLabel
                                                       ghmLabel="Married Status"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model"
                                                     [class.has-error]="formErrors.marriedStatus ">
                                                    <nh-select
                                                        [data]="[{id: marriedStatus.single, name: 'Chưa kết hôn'}, {id: marriedStatus.married, name: 'Đã kết hôn'},{id: marriedStatus.separated, name: 'Đã ly thân'},{id: marriedStatus.divorce, name: 'Đã ly hôn'}]"
                                                        i18n="@@selectMarriedStatus"
                                                        i18n-title
                                                        [title]="'-- Select Married Status --'"
                                                        formControlName="marriedStatus"></nh-select>
                                                    <span class="help-block">
                                                        {{ formErrors.marriedStatus}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label" i18n="@@denomination"
                                                       i18n-ghmLabel ghmLabel="Religion"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <nh-select [liveSearch]="true"
                                                               [data]="listReligion"
                                                               i18n="@@selectDenomination"
                                                               i18n-title
                                                               [title]="'-- Select Religion --'"
                                                               formControlName="denomination"></nh-select>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@ethnic" i18n-ghmLabel ghmLabel="Ethnic"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model">
                                                    <nh-select [liveSearch]="true" [data]="listEthnic"
                                                               i18n="@@selectEthic"
                                                               i18n-title
                                                               [title]="'-- Select Ethnic --'"
                                                               formControlName="ethnic"></nh-select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@nationality" i18n-ghmLabel
                                                       ghmLabel="Nationality"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [formGroupName]="i"
                                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.nationality">
                                                    <nh-select [liveSearch]="true" [data]="listNational"
                                                               i18n="@@selectNationality"
                                                               i18n-title
                                                               [title]="'-- Select Nationality --'"
                                                               formControlName="nationality"
                                                               (onSelectItem)="onSelectNational($event)"></nh-select>
                                                    <span class="help-block">
                                                        {{translationFormErrors[modelTranslation.value.languageId]?.nationality}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@province" i18n-ghmLabel ghmLabel="Province"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model">
                                                    <nh-select [liveSearch]="true" [data]="listProvince"
                                                               i18n="@@selectProvince"
                                                               i18n-title
                                                               [title]="'-- Select Province --'"
                                                               formControlName="provinceId"
                                                               [isEnable]="enableSelectProvince"
                                                               (onSelectItem)="onProvinceSelect($event)"></nh-select>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@district" i18n-ghmLabel ghmLabel="District"></label>
                                                <div class="col-md-4 col-sm-3">
                                                    <nh-select [liveSearch]="true" [data]="listDistrict"
                                                               i18n="@@selectDistrict"
                                                               i18n-title
                                                               [title]="'-- Select District --'"
                                                               [isEnable]="enableSelectDistrict"
                                                               formControlName="districtId"></nh-select>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@bankingNumber" i18n-ghmLabel
                                                       ghmLabel="Banking Number"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.bankingNumber">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@bankingNumberPlaceHolder" i18n-placeHolder
                                                           placeholder="Enter banking number"
                                                           formControlName="bankingNumber"/>
                                                    <span class="help-block">
                                                        {{ formErrors.bankingNumber}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@bankName" i18n-ghmLabel ghmLabel="Bank Name"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [formGroupName]="i"
                                                     [class.hass-error]="translationFormErrors[modelTranslation.value.languageId]?.bankName">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@bankNameHolder" i18n-placeHolder
                                                           placeholder="Enter bankName"
                                                           formControlName="bankName"/>
                                                    <span class="help-block">
                                                        {{ translationFormErrors[modelTranslation.value.languageId]?.bankName}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@branchBank" i18n-ghmLabel ghmLabel="Branch Bank"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [formGroupName]="i"
                                                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.branchBank">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@branchBankHolder" i18n-placeHolder
                                                           placeholder="Enter branchBank"
                                                           formControlName="branchBank"/>
                                                    <span class="help-block">
                                                        {{ translationFormErrors[modelTranslation.value.languageId]?.branchBank}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passport" i18n-ghmLabel ghmLabel="Passport"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.passportId ">
                                                    <input type="text" class="form-control" formControlName="passportId"
                                                           value=""
                                                           i18n="@@passportPlaceHolder" i18n-placeHolder
                                                           placeholder="Enter passport"/>
                                                    <span class="help-block">
                                                        {{ formErrors.passportId}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passportDateOfIssue" i18n-ghmLabel
                                                       ghmLabel="Passport Date Of Issue"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.passportDateOfIssue">
                                                    <nh-date formControlName="passportDateOfIssue"
                                                             [type]="'inputButton'"
                                                             [format]="'MM/DD/YYYY'"
                                                             i18n="@@selectPassortDateOfIssue"
                                                             i18n-title
                                                             [title]="'Select Passport Date Of Issue'"></nh-date>
                                                    <span class="help-block">
                                                        {{formErrors.passportDateOfIssue}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@passportPlaceOfIssue" i18n-ghmLabel
                                                       ghmLabel="Passport Place Of Issue"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                     [formGroupName]="i"
                                                     [class.hass-block]="translationFormErrors[modelTranslation.value.languageId]?.passportPlaceOfIssue">
                                                    <input type="text" class="form-control"
                                                           i18n="@@passportPlaceOfIssue" i18n-palceHolder
                                                           placeholder="Enter Passport Place of Issue"
                                                           formControlName="passportPlaceOfIssue" value=""/>
                                                    <span class="help-block">
                                                        {{ translationFormErrors[modelTranslation.value.languageId]?.passportPlaceOfIssue}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@tin" i18n-ghmLabel ghmLabel="Person income tax"></label>
                                                <div class="col-md-4 col-sm-3" [formGroup]="model"
                                                     [class.has-error]="formErrors.tin ">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@tinPlaceHolder" i18n-placeHolder
                                                           placeholder="Enter Person income tax"
                                                           formControlName="tin"/>
                                                    <span class="help-block">
                                                        {{ formErrors.tin}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@joinedDate" i18n-ghmLabel ghmLabel="Joined Date"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.joinedDate">
                                                    <nh-date formControlName="joinedDate"
                                                             [type]="'inputButton'"
                                                             i18n="@@selectJoinedDate"
                                                             i18n-title
                                                             [format]="'MM/DD/YYYY'"
                                                             [title]="'Select joined date'"></nh-date>
                                                    <span class="help-block">
                                                        {{formErrors.joinedDate}}
                                                    </span>
                                                </div>
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@cardNumber" i18n-ghmLabel
                                                       ghmLabel="Attendance cards"></label>
                                                <div class="col-md-4 col-sm-3"
                                                     [class.has-error]="formErrors.cardNumber">
                                                    <input type="text" formControlName="cardNumber"
                                                           class="form-control"/>
                                                    <span class="help-block">
                                                        {{formErrors.cardNumber}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-title tabbable-line">
                                            <div class="caption caption-md">
                                                <i class="icon-globe theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase"
                                                      i18n="@@informationContact">Information Contact</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-group"
                                                 *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                 [formGroupName]="i"
                                                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.nativeCountry">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@nativeCountry" i18n-ghmLabel
                                                       ghmLabel="Native Country"></label>
                                                <div class="col-md-10 col-sm-9">
                                            <textarea type="text" value="" class="form-control"
                                                      i18n="@@nativeCountryPlaceHolder"
                                                      placeholder="Enter NativeCountry"
                                                      formControlName="nativeCountry" rows="3"></textarea>
                                                    <span class="help-block">
                                                        {{ translationFormErrors[modelTranslation.value.languageId]?.nativeCountry}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                 [formGroupName]="i"
                                                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.residentRegister">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@residentRegister" i18n-ghmLabel
                                                       ghmLabel="Resident Register"></label>
                                                <div class="col-md-10 col-sm-9">
                                                <textarea type="text" value="" class="form-control"
                                                          formControlName="residentRegister"
                                                          i18n="@@residentRegisterPlaceHolder" i18n-placeHolder
                                                          placeholder="Enter ResidentRegister" rows="3"></textarea>
                                                    <span class="help-block">
                                                        {{translationFormErrors[modelTranslation.value.languageId]?.residentRegister}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                                                 [hidden]="modelTranslation.value.languageId !== currentLanguage"
                                                 [formGroupName]="i"
                                                 [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.address">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@address" i18n-ghmLabel ghmLabel="Address"></label>
                                                <div class="col-md-10 col-sm-9">
                                                <textarea type="text" value="" class="form-control"
                                                          i18n="@@addressPlaseHolder" i18n-placeHolder
                                                          placeholder="Enter Address"
                                                          formControlName="address" rows="3"></textarea>
                                                    <div class="help-block">
                                                        {{translationFormErrors[modelTranslation.value.languageId]?.address}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" [formGroup]="model">
                                                <label class="col-md-2 col-sm-3 control-label"
                                                       i18n="@@ext" i18n-ghmLabel ghmLabel="Ext"></label>
                                                <div class="col-md-4 col-sm-3" [class.has-error]="formErrors.ext ">
                                                    <input type="text" value="" class="form-control"
                                                           i18n="@@extPlaceHolder" i18n-placeHolder
                                                           placeholder="Enter Ext"
                                                           formControlName="ext"/>
                                                    <span class="help-block">
                                                        {{formErrors.ext}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <app-user-contact [listUserContacts]="listUserContact"
                                                                      [userId]="userId"
                                                                      [isUpdate]="isUpdate"
                                                                      [type]="contactType.mobilePhone"
                                                                      [label]="'Mobile'"
                                                                      i18n="@@placeholderMobile"
                                                                      i18n-placeholder
                                                                      [placeholder]="'Please enter mobile'"
                                                                      (onSelectUserContact)="selectUserContact($event)"></app-user-contact>
                                                </div>
                                                <div class="col-sm-6">
                                                    <app-user-contact [listUserContacts]="listUserContact"
                                                                      [userId]="userId"
                                                                      [isUpdate]="isUpdate"
                                                                      [type]="contactType.email"
                                                                      [label]="'Email'"
                                                                      i18n="@@placeholderEmail"
                                                                      i18n-placeholder
                                                                      [placeholder]="'Please enter email'"
                                                                      (onSelectUserContact)="selectUserContact($event)"></app-user-contact>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <div class="col-sm-12">
                        <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                                      *ngIf="!isUpdate"
                                      i18n="@@isCreateAnother"
                                      class="cm-mgr-5"
                                      color="primary">
                            Create another
                        </mat-checkbox>
                        <button class="btn btn-primary cm-mgr-5" type="submit"
                                [disabled]="isSaving">
                            <i class="fa fa-save" *ngIf="!isSaving"></i>
                            <i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
                            Lưu lại
                        </button>
                        <button class="btn btn-default" type="button" (click)="closeForm()"
                                [disabled]="isSaving || formErrors.length > 0">
                            <i class="fa fa-times"></i>
                            Hủy bỏ
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
