<nh-modal #productUnitFormModal size="lg"
          (shown)="onModalShow()"
          (hidden)="onModalHidden()">
    <nh-modal-header class="uppercase bold">
        {isUpdate, select, 0 {Thêm mới đơn vị} 1 {Cập nhật đơn vị} other {}}
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div class="col-sm-12">
                <div formArrayName="translations">
                    <div class="form-group" *ngIf="languages && languages.length > 1">
                        <label i18n-ghmLabel="@@language" ghmLabel="Language"
                               class="col-sm-4 control-label"
                               [required]="true"></label>
                        <div class="col-sm-8">
                            <nh-select [data]="languages"
                                       i18n-title="@@pleaseSelectLanguage"
                                       title="-- Chọn ngôn ngữ --"
                                       name="language"
                                       [(value)]="currentLanguage"
                                       (onSelectItem)="currentLanguage = $event.id"></nh-select>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10"
                         *ngFor="let modelTranslation of translations.controls; index as i"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                        <label i18n-ghmLabel="@@name" ghmLabel="Tên đơn vị"
                               class="col-sm-4 control-label" [required]="true"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="{{'name ' + currentLanguage}}"
                                   i18n-placeholder="@@enterUnitNamePlaceHolder"
                                   placeholder="Nhập tên đơn vị."
                                   formControlName="name">
                            <span class="help-block">{ translationFormErrors[modelTranslation.value.languageId]?.name, select,
                                                        required {Tên đơn vị không được để trống}
                                                        maxLength {Tên đơn vị không được để quá 256 ký tự}
                                                        pattern {Tên đơn vị phải là chữ}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10"
                         *ngFor="let modelTranslation of translations.controls; index as i"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.abbreviation">
                        <label i18n-ghmLabel="@@abbreviation" ghmLabel="Đơn vị viết tắt"
                               class="col-sm-4 control-label" [required]="true"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   i18n-placeholder="@@enterUnitabbreviationPlaceHolder"
                                   placeholder="Enter abbreviation."
                                   formControlName="abbreviation">
                            <span class="help-block">{ translationFormErrors[modelTranslation.value.languageId]?.abbreviation, select,
                                required {Đơn vị viết tắt không được để trống}
                                maxLength {Đơn vị viết tắt không được vượt quá 50 ký tự}
                                pattern {Đơn vị viết tắt phải là các chữ cái a-z, A-Z, 0-9}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of translations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                        <label i18n="@@description" i18n-ghmLabel ghmLabel="Mô tả đơn vị"
                               class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                                                    <textarea class="form-control" rows="3"
                                                              formControlName="description"
                                                              i18n-placeholder="@@enterDescriptionPlaceholder"
                                                              placeholder="Nhập mô tả."></textarea>
                            <span class="help-block">
                                  {translationFormErrors[modelTranslation.value.languageId]?.description, select, maxLength {Môt tả đơn vị không được vượt quá 500 ký tự}}
                             </span>
                        </div>
                    </div>
                    <div class="form-group" [formGroup]="model">
                        <div class="col-sm-8 col-sm-offset-4">
                            <mat-checkbox color="primary" formControlName="isActive" i18n="@@isActive">
                                {model.value.isActive, select, 0 {Chưa kích hoạt} 1 {Kich hoạt}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                          *ngIf="!isUpdate"
                          i18n="@@isCreateAnother"
                          class="cm-mgr-5"
                          color="primary">
                Tiếp tục thêm
            </mat-checkbox>
            <ghm-button classes="btn blue cm-mgr-5"
                        [loading]="isSaving">
                <span i18n="@@Save">Lưu</span>
            </ghm-button>
            <ghm-button classes="btn default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Đóng</span>
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>
