<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@rolePageTitle">Roles</span>
    <small i18n="@@configModuleTitle">Configs</small>
</h1>

<div class="row cm-mgb-10">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search(1)">
            <div class="form-group">
                <input type="text" class="form-control" i18n-placeholder="@@keywordSearch"
                       placeholder="Enter keyword for search please.">
            </div>
            <div class="form-group">
                <ghm-button icon="fa fa-search" classes="btn btn-primary" [loading]="isSearching"></ghm-button>
            </div>
            <div class="form-group pull-right">
                <a *ngIf="permission.add"
                   class="btn btn-primary"
                   routerLink="/config/roles/add"
                   i18n="@@add">
                    Add
                </a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th class="center middle w50" i18n="@@no">No</th>
                <th class="middle" i18n="@@roleName">Role name</th>
                <th class="middle" i18n="@@description">Description</th>
                <th class="middle" i18n="@@roleType">Role type</th>
                <th class="text-right middle w150" i18n="@@action"
                    *ngIf="permission.view || permission.edit || permission.delete">Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listItems$ | async; let i = index">
                <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td class="middle"><a href="javascript://" (click)="detail(item.id)">{{ item.name }}</a></td>
                <td class="middle">{{ item.description }}</td>
                <td class="middle" i18n="@@roleType">{item.type, select, 0 {Built in} 1 {Custom}}</td>
                <td class="text-right middle" *ngIf="permission.view || permission.edit || permission.delete">
                    <!--<ghm-button icon="fa fa-eye" classes="btn dark btn-outlet btn-sm"-->
                                <!--*ngIf="item.type !== 0"-->
                                <!--(clicked)="detail(item)"></ghm-button>-->
                    <a *ngIf="permission.edit && item.type !== 0"
                       class="btn blue btn-outline btn-sm">
                        <i class="fa fa-edit"></i>
                    </a>
                    <!--<ghm-button icon="fa fa-edit" classes="btn blue btn-outline btn-sm"-->
                    <!--*ngIf="item.type !== 0"-->
                    <!--(clicked)="edit(item)"></ghm-button>-->
                    <ghm-button icon="fa fa-trash-o" classes="btn red btn-outline btn-sm"
                                *ngIf="item.type !== 0"
                                [swal]="deleteRole"
                                (confirm)="delete(item.id)"></ghm-button>
                </td>
            </tr>
            </tbody>
        </table>
        <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="6" (pageClick)="search($event)"
                    [isDisabled]="isSearching" [pageName]="'quyền'"></ghm-paging>
    </div>
</div>

<!--<app-role-form (saveSuccessful)="search(1)"></app-role-form>-->
<!--<app-role-detail></app-role-detail>-->
<app-role-detail></app-role-detail>
<swal
    i18n="@@confirmDeleteRole"
    i18n-title
    i18n-text
    #deleteRole
    title="Are you sure for delete this role?"
    text="You can't recover this role after delete."
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
