<div class="row">
    <div class="col-sm-6" *ngIf="isShowSummary">
        {{ summaryMessage }}
    </div>
    <div class="text-right" [ngClass]="isShowSummary ? 'col-sm-6' : 'col-sm-12'" *ngIf="totalRows > 0">
        <ul class="pagination" *ngIf="isShowPaging">
            <li *ngIf="isShowPrevious" (click)="previousClick()" [class.disabled]="isDisabled">
                <a href="javascript://" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li *ngFor="let item of listPageShow" [class.active]="item === currentPage"
                [class.disabled]="isDisabled"><a href="javascript://" (click)="onClick(item)">{{item}}</a></li>
            <li *ngIf="isShowNext" (click)="nextClick()" [class.disabled]="isDisabled">
                <a href="javascript://" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
