<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top" app-header2></div>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper" app-sidebar2></div>
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <router-outlet></router-outlet>
            </div><!-- END: .page-content -->
        </div><!-- END: .page-content-wrapper -->
    </div><!-- END: .page-container -->
</div><!-- END: .page-wrapper -->
