<!--<table class="table table-bordered table-stripped table-hover">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th class="middle center w50" i18n="@@no">STT</th>-->
        <!--<th class="middle" i18n="@@contactPerson">Ngươi liên hệ</th>-->
        <!--<th class="middle" i18n="@@phoneNumber">Số điện thoại</th>-->
        <!--<th class="middle" i18n="@@emain">Email</th>-->
        <!--<th class="middle center" i18n="@@workStatus">Trạng thái làm việc</th>-->
        <!--<th class="middle center w100" i18n="@@action"-->
            <!--*ngIf="(permission.edit || permission.delete || permission.add) && !isReadOnly">-->
            <!--<button class="btn btn-sm blue" *ngIf="permission.add" i18n="@@add" (click)="add()"-->
                    <!--type="button">-->
                <!--<i class="fa fa-plus"></i>-->
            <!--</button>-->
        <!--</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let item of listContact; let i = index"-->
        <!--nhContextMenuTrigger-->
        <!--[nhContextMenuTriggerFor]="nhMenu"-->
        <!--[nhContextMenuData]="item">-->
        <!--<td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>-->
        <!--<td class="middle">{{ item.fullName }}</td>-->
        <!--<td class="middle">{{item.phoneNumber}}</td>-->
        <!--<td class="middle">{{item.email}}</td>-->
        <!--<td class="middle center w120"> <span class="badge" [class.badge-danger]="item.status === workStatus.quit"-->
                                              <!--[class.badge-success]="item.status === workStatus.official"-->
                                              <!--[class.badge-warning]="item.status === workStatus.transfer">-->
                                 <!--{item.status, select, 0 {Nghỉ Việc} 1 {Chinh Thức} 2 {Chuyển Công Tác} other {}}-->
                            <!--</span>-->
        <!--</td>-->
        <!--<td class="middle text-right" *ngIf="(permission.edit || permission.delete) && !isReadOnly">-->
            <!--<nh-dropdown>-->
                <!--<button type="button" class="btn btn-sm btn-light btn-no-background no-border pull-right"-->
                        <!--matTooltip="Menu">-->
                    <!--<mat-icon>more_horiz</mat-icon>-->
                <!--</button>-->
                <!--<ul class="nh-dropdown-menu right" role="menu">-->
                    <!--<li>-->
                        <!--<a *ngIf="permission.edit"-->
                           <!--(click)="edit(item)" i18n="@@edit">-->
                            <!--<i class="fa fa-edit"></i>-->
                            <!--Sửa-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a-->
                            <!--(click)="delete(item.id)" i18n="@@delete">-->
                            <!--<i class="fa fa-trash"></i>-->
                            <!--Xóa-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nh-dropdown>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

<dx-data-grid
    id="gridContactContainer"
    keyExpr="id"
    [allowColumnResizing]="true"
    [showRowLines]="true"
    [wordWrapEnabled]="true"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    [dataSource]="listContact"
    [noDataText]="'Không có dữ liệu'"
    (onContextMenuPreparing)="rightClickContextMenu($event)"
    [showBorders]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column caption="STT" [width]="50" cellTemplate="NoTemplate" alignment="center"></dxi-column>
    <div *dxTemplate="let data of 'NoTemplate'">
        {{ (currentPage - 1) * pageSize + data.rowIndex + 1 }}
    </div>
    <dxi-column dataField="fullName" caption="Người liên hệ"></dxi-column>
    <dxi-column dataField="phoneNumber" [width]="150" caption="Số điện thoại"></dxi-column>
    <dxi-column dataField="email" caption="Email"></dxi-column>
    <dxi-column dataField="status" type="boolean" [width]="120" caption="Trạng thái làm việc" alignment="center"
                cellTemplate="statusTemplate"></dxi-column>
    <div *dxTemplate="let cell of 'statusTemplate'">
        <span class="badge" [class.badge-danger]="cell.data.status === workStatus.quit"
              [class.badge-success]="cell.data.status === workStatus.official"
              [class.badge-warning]="cell.data.status === workStatus.transfer">
                                 {cell.data.status, select, 0 {Nghỉ Việc} 1 {Chinh Thức} 2 {Chuyển Công Tác} other {}}
        </span>
    </div>
    <dxi-column cellTemplate="actionTemplate" [width]="100" caption="Thao tác" alignment="center" headerCellTemplate="addContactTemplate"
                *ngIf="(permission.edit || permission.delete || permission.add)&& !isReadOnly">
    </dxi-column>
    <div *dxTemplate="let header of 'addContactTemplate'">
        <a *ngIf="permission.add" class="btn blue btn-sm text-decoration-none dx-icon-plus" href="javascript://" (click)="add()"></a>
    </div>
    <div *dxTemplate="let cell of 'actionTemplate'" class="center middle">
        <a *ngIf="permission.edit" class="color-dark-blue text-decoration-none cm-mgr-5"
           i18n="@@edit" title="Sửa"
           (click)="edit(cell.data)">
            <i class="dx-icon-edit"></i>
        </a>
        <a title="Xóa"
           class="color-red text-decoration-none" *ngIf="permission.delete"
           (click)="confirm(cell.data)" i18n="@@delete">
            <i class="dx-icon-remove"></i>
        </a>
    </div>
</dx-data-grid>

<app-product-contact-form
    [subjectId]="subjectId"
    [type]="type"
    [listContact]="listContact"
    (saveSuccess)="updateSuccess($event)"
    (insertSuccess)="addSuccess($event)"></app-product-contact-form>

<swal
    #confirmDeleteContact
    i18n="@@confirmDeleteContact"
    i18n-title="@@confirmTitleDeleteContact"
    i18n-text="@@confirmTextDeleteContact"
    title="Bạn có muốn xóa người liên hệ này?"
    text="Bạn không thể khôi phục người liên hệ này sau khi xóa."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng ý"
    cancelButtonText="Hủy"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<!--<nh-menu #nhMenu>-->
<!--<nh-menu-item (clicked)="edit($event)">-->
<!--<i class="fa fa-edit"></i>-->
<!--<span i18n="@@edit">Sửa</span>-->
<!--</nh-menu-item>-->
<!--<nh-menu-item *ngIf="permission.delete"-->
<!--(clicked)="confirm($event)">-->
<!--<i class="fa fa-trash"></i>-->
<!--<span i18n="@@edit">Xóa</span>-->
<!--</nh-menu-item>-->
<!--</nh-menu>-->
