<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listBrandPageTitle">Danh sách thương hiệu</span>
    <small i18n="@@productModuleTitle">Quản lý sản phẩm</small>
</h1>
<form class="form-inline" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <ghm-input icon="dx-icon-search"
                   (remove)="search(1)"
                   i18n="@@keywordSearch" i18n-placeholder
                   placeholder="Nhập từ khóa tìm kiếm"
                   name="searchInput" [(ngModel)]="keyword"></ghm-input>
    </div>
    <div class="form-group cm-mgr-5">
        <ghm-select
            [width]="200"
            [data]="[{id: false, name: 'Chưa kích hoạt'},{id: true, name: 'Kích hoạt'}]"
            i18n="@@selectStatus"
            i18n-title
            [title]="'-- Chọn trạng thái --'"
            [value]="isActive"
            (itemSelected)="selectIsActive($event)"></ghm-select>
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="dx-icon-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn btn-light" type="button" (click)="resetFormSearch()">
            <i class="dx-icon-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <button class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add" (click)="add()"
                type="button">
            Thêm
        </button>
    </div>
</form>

<dx-data-grid
    id="gridContainer"
    keyExpr="id"
    [allowColumnResizing]="true"
    [showRowLines]="true"
    [wordWrapEnabled]="true"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    [dataSource]="listBrand"
    [noDataText]="'Không có dữ liệu'"
    (onContextMenuPreparing)="rightClickContextMenu($event)"
    [showBorders]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxi-column caption="STT" [width]="50" cellTemplate="NoTemplate" alignment="center" cssClass = "middle"></dxi-column>
    <div *dxTemplate="let data of 'NoTemplate'">
        {{ (currentPage - 1) * pageSize + data.rowIndex + 1 }}
    </div>
    <dxi-column dataField="name" caption="Tên thương hiệu" cssClass = "middle"></dxi-column>
    <dxi-column dataField="email" [width]="200" caption="Email" cssClass = "middle"></dxi-column>
    <dxi-column dataField="phoneNumber" [width]="150" caption="Số điện thoại" cssClass = "middle"></dxi-column>
    <dxi-column dataField="address" caption="Địa chỉ" cssClass = "middle"></dxi-column>
    <dxi-column dataField="isActive" type="boolean" [width]="120" caption="Trạng thái" alignment="center" cssClass = "middle">
        <dxo-header-filter [dataSource]="[
                                    {text: 'Kích hoạt', value: ['isActive', '=', true]},
                                    {text: 'Chưa kích hoạt', value: ['isActive', '=', false]}]"></dxo-header-filter>
    </dxi-column>
    <dxi-column cellTemplate="actionTemplate" [width]="100" caption="Thao tác" alignment="center"
                *ngIf="permission.edit || permission.delete" cssClass = "middle" cssClass = "middle"></dxi-column>
    <div *dxTemplate="let cell of 'actionTemplate'" class="center middle">
        <a *ngIf="permission.edit" class="color-dark-blue text-decoration-none cm-mgr-5"
           i18n="@@edit" title="Sửa"
           (click)="edit(cell.data)">
            <i class="dx-icon-edit"></i>
        </a>
        <a title="Xóa"
           [swal]="confirmDeleteBrand"
           class="color-red text-decoration-none" *ngIf="permission.delete"
           (click)="confirm(cell.data)" i18n="@@delete">
            <i class="dx-icon-remove"></i>
        </a>
    </div>
</dx-data-grid>

<div class="cm-mgt-10">
    <ghm-paging
        class="pull-right"
        [totalRows]="totalRows"
        [currentPage]="currentPage"
        [pageShow]="6"
        [pageSize]="pageSize"
        (pageClick)="search($event)"
        (selectPage)="changePageSize($event)"
        i18n="@@productCategory" i18n-pageName
        [pageName]="'Thương Hiệu'">
    </ghm-paging>
</div>
<app-product-brand-form (saveSuccessful)="search(currentPage)"></app-product-brand-form>

<swal
    #confirmDeleteBrand
    i18n="@@confirmDeleteBrand"
    i18n-title="@@confirmTitleDeleteBrand"
    i18n-text="@@confirmTextDeleteBrand"
    title="Bạn có chắc chắn muốn xóa thương hiệu này?"
    text="Bạn không thể khôi phục thương hiệu này sau khi xóa."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng Ý"
    cancelButtonText="Hủy"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<!--<nh-menu #nhMenu>-->
<!--<nh-menu-item (clicked)="edit($event)">-->
<!--<i class="fa fa-edit"></i>-->
<!--<span i18n="@@edit">Sửa</span>-->
<!--</nh-menu-item>-->
<!--<nh-menu-item *ngIf="permission.delete"-->
<!--(clicked)="confirm($event)">-->
<!--<i class="fa fa-edit"></i>-->
<!--<span i18n="@@edit">Xóa</span>-->
<!--</nh-menu-item>-->
<!--</nh-menu>-->
