<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@attributeDetailPageTitle">Attribute detail</span>
    <small i18n="@@productModuleTitle">Product management</small>
</h1>

<nh-tab>
    <nh-tab-pane [active]="true"
                 title="Attribute info"
                 i18n-title="@@attributeInfo"
                 id="attributeInfo">
        <form action="" class="form-horizontal">
            <ng-container *ngFor="let translation of productAttribute?.translations">
                <ng-container *ngIf="translation.languageId === currentLanguage">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" ghmLabel="Attribute name"
                               i18n-ghmLabel="@@attributeName"
                               [required]="true"></label>
                        <div class="col-sm-8">
                            <div class="form-control height-auto">{{ translation?.name }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" ghmLabel="Description"
                               i18n-ghmLabel="@@description"></label>
                        <div class="col-sm-8">
                            <div class="form-control height-auto">{{ translation?.description }}</div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox [checked]="productAttribute?.isMultiple" color="primary"
                                  [disabled]="true"><span i18n="@@allowMultiple"></span>
                        Allow multiple
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox [checked]="productAttribute?.isRequire" color="primary"
                                  [disabled]="true"><span i18n="@@isRequire"></span> Require?
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox [checked]="productAttribute?.isActive" color="primary"
                                  [disabled]="true"><span i18n="@@isActive"></span> Active
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <mat-checkbox [checked]="productAttribute?.isSelfContent" color="primary"
                                  [disabled]="true"><span i18n="@@selfResponding"></span>
                        Self responding
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <button routerLink="/products/attributes" class="btn btn-light" i18n="@@close">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </nh-tab-pane><!-- END: Attribute info -->
    <nh-tab-pane id="attributeValue"
                 title="Attribute values"
                 i18n-title="@@attributeValues"
                 (tabSelected)="onAttributeValueTabSelected()"
                 [show]="!isSelfContent">
        <app-product-attribute-value
            [readOnly]="true"
            [attributeId]="id"></app-product-attribute-value>
    </nh-tab-pane><!-- END: Attribute value info -->
</nh-tab>
