<nh-modal #tasksFormModal size="md">
    <nh-modal-header>
        <i class="fa fa-clipboard"></i>
        {{ isUpdate ? 'Cập nhật công việc' : 'Tạo công việc'}}
    </nh-modal-header>
    <form class="form-horizontal">
        <nh-modal-content>
            <div class="form-body">
                <div class="form-group">
                    <label ghmLabel="Nhân viên" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" placeholder="-- chọn nhân viên --"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ghmLabel="Công việc" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <div class="input-icon">
                            <i class="fa fa-clipboard"></i>
                            <input type="text" class="form-control" placeholder="Nhập tên công việc"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ghmLabel="Ngày bắt đầu dự kiến" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input type="text" class="form-control" placeholder="Chọn ngày bắt đầu dự kiến"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ghmLabel="Ngày kết thúc dự kiến" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input type="text" class="form-control" placeholder="Chọn ngày kết thúc dự kiến"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ghmLabel="Nội dung công việc" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <textarea class="form-control" row="5" placeholder="Nhập nội dung công việc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ghmLabel="Trạng thái" class="col-md-3 control-label" [required]="true"></label>
                    <div class="col-md-9">
                        <nh-select title="-- Chọn trạng thái --" [data]="[]"></nh-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i> Người tham gia
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--<ghm-user-suggestion-->
                                            <!--[sources]="[]"-->
                                        <!--&gt;</ghm-user-suggestion>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-user"></i> Người theo dõi
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--<ghm-user-suggestion-->
                                            <!--[sources]="[]"-->
                                        <!--&gt;</ghm-user-suggestion>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <a href="javascript://" (click)="showMore()">
                            {{ isShowMore ? 'Thu nhỏ' : 'Thêm thông tin' }}
                            <i class="fa"
                               [class.fa-caret-down]="!isShowMore"
                               [class.fa-caret-up]="isShowMore"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <ghm-button icon="fa fa-save" classes="btn btn-primary" [loading]="isSaving">
                Thực hiện
            </ghm-button>
            <ghm-button type="button" icon="fa fa-times" classes="btn btn-default" nh-dismiss="true">
                Đóng
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>
