<nh-modal #changePasswordModal>
    <nh-modal-header class="uppercase font-green-sharp bold">
        <i class="icon-key cm-mgr-5"></i> <span i18n="@@changePassword">Change password</span>
    </nh-modal-header>
    <form action="" class="form-horizontal" [formGroup]="model" (ngSubmit)="save()">
        <nh-modal-content>
            <div class="form-group"
                 [class.has-error]="formErrors.oldPassword">
                <label ghmLabel="Old password"
                       i18n-ghmLabel="oldPassword"
                       [required]="true" class="col-sm-12"></label>
                <div class="col-sm-12">
                    <input id="oldPassword"
                           type="password"
                           autocomplete="new-password"
                           class="form-control" i18n-placeholder="@@enterOldPassword"
                           placeholder="Enter old password"
                           formControlName="oldPassword">
                    <span class="help-block">
                        {
                        formErrors?.oldPassword,
                        select, required {Please enter old password} maxlength {Old password not allowed over 50 characters}
                        }
                    </span>
                </div>
            </div>
            <div class="form-group"
                 [class.has-error]="formErrors.newPassword">
                <label ghmLabel="New password"
                       i18n-ghmLabel="newPassword"
                       [required]="true" class="col-sm-12"></label>
                <div class="col-sm-12">
                    <input type="password"
                           autocomplete="off"
                           class="form-control"
                           i18n-placeholder="@@enterNewPassword"
                           placeholder="Enter new password"
                           formControlName="newPassword"
                           autocomplete="off">
                    <span class="help-block">
                        {
                        formErrors?.newPassword,
                        select, required {Please enter new password} maxlength {New password not allowed over 50 characters}
                        }
                    </span>
                </div>
            </div>
            <div class="form-group"
                 [class.has-error]="formErrors.confirmNewPassword">
                <label ghmLabel="Confirm password"
                       i18n-ghmLabel="newPassword"
                       [required]="true" class="col-sm-12"></label>
                <div class="col-sm-12">
                    <input type="password"
                           autocomplete="off"
                           class="form-control"
                           i18n-placeholder="@@enterConfirmPassword"
                           placeholder="Enter confirm password"
                           formControlName="confirmNewPassword"
                           autocomplete="off">
                    <span class="help-block">
                        {
                        formErrors?.confirmNewPassword,
                        select,
                        required {Please enter confirm password}
                        maxlength {Confirm password not allowed over 50 characters}
                        validateEqual {Confirm new password doesn't match}
                        }
                    </span>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer class="text-right">
            <button class="btn blue cm-mgr-5" i18n="@@save">
                Save
            </button>
            <button type="button" class="btn default" nh-dismiss i18n="@@cancel">
                Cancel
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>
