
.goods-delivery-note-content {
    .title {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .delivery-date-wrapper {
        display: flex;
        text-align: center;
        justify-content: center;

        div {
            width: 90px;
            display: flex;
            align-items: center;
        }
    }
    .red {
        color: red;
    }
}
