<nh-modal #questionGroupFormModal size="md"
          (show)="onModalShow()"
          (hidden)="onModalHidden()">
    <nh-modal-header>
        {isUpdate, select, 0 {Add new question group} 1 {Update question group} other {}}
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div class="col-sm-12">
                <div formArrayName="modelTranslations">
                    <div class="form-group" *ngIf="languages && languages.length > 1">
                        <label i18n-ghmLabel="@@language" ghmLabel="Language"
                               class="col-sm-4 control-label"
                               [required]="true"></label>
                        <div class="col-sm-8">
                            <nh-select [data]="languages"
                                       i18n-title="@@pleaseSelectLanguage"
                                       title="-- Please select language --"
                                       name="language"
                                       [(value)]="currentLanguage"
                                       (onSelectItem)="currentLanguage = $event.id"></nh-select>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                        <label i18n-ghmLabel="@@questionGroupName" ghmLabel="Question Group Name"
                               class="col-sm-4 control-label" [required]="true"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   i18n-placeholder="@@enterQuestionGroupNamePlaceHolder"
                                   placeholder="Enter question group name."
                                   formControlName="name">
                            <span class="help-block">
                                                        { translationFormErrors[modelTranslation.value.languageId]?.name, select, required {Survey name is required} maxlength {question group name
                                                        name not allowed over 256 characters} }
                                                </span>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10">
                        <label i18n-ghmLabel="@@questionGroup" ghmLabel="Question Group"
                               class="col-sm-4 control-label"></label>
                        <div class="col-sm-8" [formGroup]="model">
                            <nh-dropdown-tree
                                [width]="500"
                                [data]="questionGroupTree" i18n-title="@@selectQuestionGroup"
                                title="-- Select question group --"
                                formControlName="parentId">
                            </nh-dropdown-tree>
                        </div>
                    </div>
                    <div class="form-group cm-mgb-10"
                         [hidden]="modelTranslation.value.languageId !== currentLanguage"
                         *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                         [formGroupName]="i"
                         [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                        <label i18n="@@description" i18n-ghmLabel ghmLabel="Description"
                               class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                                                    <textarea class="form-control" rows="3"
                                                              formControlName="description"
                                                              i18n-placeholder="@@enterDescriptionPlaceholder"
                                                              placeholder="Enter description."></textarea>
                            <span class="help-block">
                                                        { translationFormErrors[modelTranslation.value.languageId]?.description, select, maxlength {Question group description not allowed
                                                        over 500 characters} }
                                                    </span>
                        </div>
                    </div>
                    <div class="form-group" [formGroup]="model">
                        <div class="col-sm-8 col-sm-offset-4">
                            <mat-checkbox color="primary" formControlName="isActive" i18n="@@isActive">
                                {model.value.isActive, select, 0 {Inactive} 1 {Active}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                          *ngIf="!isUpdate"
                          i18n="@@isCreateAnother"
                          class="cm-mgr-5"
                          color="primary">
                Create another
            </mat-checkbox>
            <ghm-button classes="btn btn-primary cm-mgr-5"
                        [loading]="isSaving">
                <span i18n="@@Save">Save</span>
            </ghm-button>
            <ghm-button classes="btn btn-default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Close</span>
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>
