<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listPageTitle">List pages</span>
    <small i18n="@@ConfigModuleTitle">Config module</small>
</h1>

<div class="row cm-mgb-10">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search()">
            <div class="form-group">
                <input class="form-control cm-mgr-5" placeholder="Nhập từ khoá tìm kiếm"
                       name="keyword"
                       [(ngModel)]="keyword">
            </div>
            <div class="form-group">
                <nh-select
                        [class]="'cm-mgr-5'"
                        [data]="[{id: true, name: 'Kích hoạt'}, {id: false, name: 'Chưa kích hoạt'}]"
                        [title]="'-- Tất cả --'"
                        [(value)]="isActive"
                        (onSelectItem)="search()"></nh-select>
            </div>
            <div class="form-group">
                <ghm-button classes="btn blue" icon="fa fa-search" [loading]="isSearching"></ghm-button>
            </div>
            <div class="form-group pull-right" *ngIf="permission.add">
                <button type="button" class="btn blue" (click)="add()" *ngIf="permission.add"
                        i18n="@@add">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover table-full-width dataTable no-footer">
            <thead>
            <tr>
                <th class="center w50">STT</th>
                <th>Tên trang</th>
                <th class="w100">Icon</th>
                <th>Đường dẫn</th>
                <th class="w100">Public</th>
                <th class="w100">Kích hoạt</th>
                <th class="text-right w150" *ngIf="permission.edit || permission.delete">Sửa, Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let page of listItems$ | async; let i = index">
                <td class="center middle">{{(currentPage - 1) * pageSize + i + 1}}</td>
                <td class="middle cursor-pointer" (click)="edit(page)">
                    <a href="javascritp://">
                        <span [innerHtml]="page.namePrefix"></span>
                        {{page.name}}
                    </a>
                </td>
                <td class="w100 center middle">
                    <i [class]="page.icon"></i>
                </td>
                <td>
                    {{page.url}}
                </td>
                <td class="center middle">
                    <!--<i *ngIf="page.isPublic"-->
                    <!--class="fa fa-check color-green size-16"></i>-->
                </td>
                <td class="center middle">
                    <span class="badge"
                          [class.badge-success]="page.isActive"
                          [class.badge-danger]="!page.isActive">
                        {{ page.isActive ? 'Đã kích hoạt' : 'Chưa kích hoạt' }}
                    </span>
                </td>
                <td class="text-right middle w100" *ngIf="permission.edit || permission.delete">
                    <ghm-button type="button" classes="btn blue btn-outline btn-sm" icon="fa fa-edit"
                                matTooltip="Update"
                                *ngIf="permission.edit"
                                (click)="edit(page)">
                    </ghm-button>
                    <ghm-button icon="fa fa-trash-o" classes="btn red btn-outline btn-sm"
                                matTooltip="Delete"
                                *ngIf="permission.delete"
                                [swal]="{ title: 'Bạn có chắc chắn muốn xóa trang: ' + page.name + ' không?' }"
                                (confirm)="delete(page.id)"></ghm-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<app-page-form [page]="page" (saveSuccessful)="search()"></app-page-form>
