<h4 class="title">{{ modelForm.value.id ? 'Cập nhập quá trình đào tạo' : 'Thêm mới quá trình đào tạo' }}</h4>
<hr/>
<form class="form-horizontal" (ngSubmit)="save()" [formGroup]="modelForm" *ngIf="model">
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label" [required]="true"
                    ghmLabel="Quá trình đào tạo"></label>
        <div class="col-md-10 col-sm-9">
            <nh-select [data]="[{id: false, name: 'Ngoài công ty'}, {id: true, name: 'Trong công ty'}]"
                       [title]="'-- Chọn quá trình đào tạo --'"
                       formControlName="type" [width]="350"></nh-select>
            <div class="alert alert-danger" *ngIf="formErrors.type">
                {{ formErrors.type }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label" [required]="true"
               ghmLabel="Khóa đào tạo"></label>
        <div class="col-md-10 col-sm-9">
            <!-- TODO: Check this -->
            <!--<nh-suggestion [url]="'user/search-list-course'" [placeholder]="'Nhập tên khóa đào tạo'"-->
                           <!--(onTyping)="onSelectCourse($event)"-->
                           <!--(onSelectItem)="onSelectCourse($event)"-->
                           <!--formControlName="courseName"></nh-suggestion>-->
            <div class="alert alert-danger" *ngIf="formErrors.courseName">
                {{ formErrors.courseName }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label" [required]="true"
               ghmLabel="Nơi đào tạo"></label>
        <div class="col-md-10 col-sm-9">
            <!-- TODO: Check this -->
            <!--<nh-suggestion [url]="'user/search-list-course-place'" [placeholder]="'Tên địa chỉ nơi đào tạo'"-->
                           <!--(onTyping)="onSelectCoursePlace($event)"-->
                           <!--(onSelectItem)="onSelectCoursePlace($event)"-->
                           <!--formControlName="coursePlaceName"></nh-suggestion>-->
            <div class="alert alert-danger" *ngIf="formErrors.coursePlaceName">
                {{ formErrors.coursePlaceName }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label" [required]="true"
               ghmLabel="Từ ngày"></label>
        <div class="col-md-10 col-sm-9">
            <nh-date formControlName="fromDate"
                     [type]="'inputButton'"
                     [placeholder]="'Chọn từ ngày'"
                     [mask]="true"></nh-date>
            <div class="alert alert-danger" *ngIf="formErrors.fromDate && isSubmitted">
                {{ formErrors.fromDate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label" [required]="true"
               ghmLabel="Đến ngày"></label>
        <div class="col-md-10 col-sm-9">
            <nh-date formControlName="toDate"
                     [type]="'inputButton'"
                     [placeholder]="'Chọn đến ngày'"
                     [mask]="true"></nh-date>
            <div class="alert alert-danger" *ngIf="formErrors.toDate">
                {{ formErrors.toDate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label"
               ghmLabel="Kết quả"></label>
        <div class="col-md-10 col-sm-9">
            <textarea class="form-control" rows="3" formControlName="result"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 col-sm-3 control-label"
               ghmLabel="Được cấp chứng chỉ"></label>
        <div class="col-md-10 col-sm-9">
            <mat-checkbox color="primary" formControlName="isHasCertificate"></mat-checkbox>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-md-offset-2 col-md-offset-3">
            <button mat-raised-button color="primary" type="submit" [disabled]="isSaving">
                <i class="fa fa-save" *ngIf="!isSaving"></i>
                <i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
                Lưu lại
            </button>
            <button mat-raised-button color="accent" type="button" (click)="closeForm()">
                <i class="fa fa-times"></i>
                Đóng lại
            </button>
        </div>
    </div>
</form>
