<nh-modal #brandFormModal size="lg"
          (show)="onModalShow()"
          (hidden)="onModalHidden()">
    <nh-modal-header class="uppercase bold">
        {isUpdate, select, 0 {Thêm mới thương hiệu} 1 {Cập nhật thương hiệu} other {}}
    </nh-modal-header>
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form">
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.name">
                            <label i18n-ghmLabel="@@brandName" ghmLabel="Tên thương hiệu"
                                   class="col-sm-4 control-label" [required]="true"></label>
                            <div class="col-sm-8">
                                <input class="form-control" formControlName="name" id="name"
                                       i18n-placeholder="@@enterBrandPlaceHolder"
                                       placeholder="Nhập thương hiệu">
                                <span class="help-block">{ formErrors?.name, select,
                                                            required {Tên thương hiệu không được để trống}
                                                            maxLength {Tên thương hiệu không được vượt quá 256 ký tự}
                                                            pattern {Tên thương hiệu phải là chữ}}</span>
                            </div>
                        </div>
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.email">
                            <label i18n-ghmLabel="@@email" ghmLabel="Email"
                                   class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" formControlName="email"
                                       i18n-placeholder="@@enterEmailPlaceHolder"
                                       placeholder="Enter email">
                                <span class="help-block">{ formErrors?.email, select,
                                    maxLength {Email không được vượt quá 50 ký tự}
                                    pattern {Email không đúng định dạng}}</span>
                            </div>
                        </div>
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.phoneNumber">
                            <label i18n-ghmLabel="@@phoneNumber" ghmLabel="Số Điện Thoại"
                                   class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" formControlName="phoneNumber"
                                       i18n-placeholder="@@enterPhoneNumberPlaceHolder"
                                       placeholder="Nhập số điện thoại">
                                <span class="help-block">{ formErrors?.phoneNumber, select,
                                    maxLength {Số điện thoại không được vượt quá 50 ký tự}
                                    pattern {Định dạng số điện thoại không đúng}}</span>
                            </div>
                        </div>
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.website">
                            <label i18n-ghmLabel="@@website" ghmLabel="Website"
                                   class="col-sm-4 control-label"></label>
                            <div class="col-sm-8" >
                                <input class="form-control" formControlName="website"
                                       i18n-placeholder="@@enterWebsitePlaceHolder"
                                       placeholder="Enter website">
                                <span class="help-block">{ formErrors?.website, select,
                                    maxLength {Địa chỉ website không được vượt quá 50 ký tự}}</span>
                            </div>
                        </div>
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.address">
                            <label i18n-ghmLabel="@@address" ghmLabel="Địa Chỉ"
                                   class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control"
                                          i18n-placeholder="@@enterAddressPlaceHolder"
                                          placeholder="Nhập địa chỉ"
                                          formControlName="address"></textarea>
                                <span class="help-block">{ formErrors?.address, select, maxLength {Địa chỉ không được vượt quá 500 ký tự}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group cm-mgb-10"
                             [class.has-error]="formErrors?.description">
                            <label i18n-ghmLabel="@@description" ghmLabel="Mô tả"
                                   class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control"
                                          i18n-placeholder="@@enterDescriptionPlaceHolder"
                                          placeholder="Enter description"
                                          formControlName="description"></textarea>
                                <span class="help-block">{ formErrors?.description, select,
                                    maxLength {Mô tả không được vượt quá 500 ký tự}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <mat-checkbox color="primary" formControlName="isActive" i18n="@@isActive">
                                    {model.value.isActive, select, 0 {Chưa kich hoạt} 1 {Kích hoạt}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox [checked]="isCreateAnother" (change)="isCreateAnother = !isCreateAnother"
                          *ngIf="!isUpdate"
                          i18n="@@isCreateAnother"
                          class="cm-mgr-5"
                          color="primary">
               Tiếp tục thêm
            </mat-checkbox>
            <ghm-button classes="btn blue cm-mgr-5"
                        [loading]="isSaving">
                <span i18n="@@Save">Lưu</span>
            </ghm-button>
            <ghm-button classes="btn default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Đóng</span>
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>
