@import '../../../assets/styles/_config';

.media-task-info {
    a.task-name {
        color: $blue;
        font-weight: bold;
        font-size: 14px;
    }

    ul.task-metas {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin-right: 5px;

            a {
                color: $gray;
                text-decoration: none;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }
}

.task-main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $primary;
    text-algin: left;
    border: 1px solid $primary;

    li {
        display: inline-block;

        a {
            color: white;

            &.active {
                background: white;
                color: $primary;
            }

            &:hover {
                background: white;
                color: $primary;
            }
        }
    }
}

ul.task-actions {
    padding-left: 0;
    list-style: none;
    text-align: center;
    display: block;
    width: 100%;
    border-top: 1px solid $border-color;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 0;

    li {
        display: inline-block;
    }
}

