<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="center" colspan="2">Tên hồ sơ, giấy tờ</th>
                <th class="center">Ghi chú</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listRecords; let i = index">
                <td>{{item.valueName}}</td>
                <!-- BEGIN: allowAdd -->
                <td class="center middle w50 middle" *ngIf="allowAdd">
                    <mat-checkbox color="primary" [(ngModel)]="item.isSelected"></mat-checkbox>
                </td>
                <td *ngIf="allowAdd">
                    <textarea [(ngModel)]="item.note" class="form-control"></textarea>
                </td>
                <!-- END: allowAdd -->
                <!-- BEGIN: !allowAdd -->
                <td class="center hh-checkbox middle w50 middle" *ngIf="!allowAdd">
                    <i class="fa fa-check size-18 color-green" *ngIf="item.isSelected"></i>
                </td>
                <td *ngIf="!allowAdd">
                    {{item.note}}
                </td>
                <!-- END: !allowAdd -->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="allowAdd">
    <div class="col-sm-12">
        <button mat-raised-button type="button" [routerLink]="['/user']">
            <i class="fa fa-arrow-left"></i>
            Trở về danh sách
        </button>
        <button mat-raised-button color="primary" type="submit" (click)="onSaveButtonClick()">
            <i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            <i class="fa fa-save" *ngIf="!isSaving"></i>
            lưu lại
        </button>
    </div>
</div>
