<div *ngIf="!isShowForm">
    <form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
        <div class="form-group">
            <input type="text" placeholder="Nhập từ khóa tìm kiếm" class="form-control" #employmentHistorySearch
                   (keyup)="keyword = employmentHistorySearch.value"
            />
        </div>
        <div class="form-group">
            <nh-select [data]="[{id: false, name: 'Kỷ luật'}, {id: true, name: 'Khen thưởng'}]"
                       [title]="'-- Chọn hình thức --'"
                       [width]="350"
                       [(value)]="typeSearch"
                       (onSelectItem)="onTypeSelect($event)"></nh-select>
        </div>
        <div class="form-group">
            <nh-select [data]="listCategory"
                       [title]="'-- Chọn mức độ --'"
                       [(value)]="categoryIdSearch"
                       [width]="350" (onSelectItem)="onCategorySelect($event)
            "></nh-select>
        </div>
        <div class="form-group">
            <nh-date
                [type]="'inputButton'"
                [placeholder]="'Từ ngày'"
                [mask]="true"
                (selectedDateEvent)="onSelectFromDateSearch($event)"></nh-date>
        </div>
        <div class="form-group">
            <nh-date
                [type]="'inputButton'"
                [title]="'Đến ngày'" (selectedDateEvent)="onSelectToDateSearch($event)"></nh-date>
        </div>
        <div class="form-group">
            <button mat-raised-button color="primary" type="submit">
                <i class="fa fa-search" *ngIf="!isSearching"></i>
                <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                <span class="hidden-xs">Tìm kiếm</span>
            </button>
        </div>
        <div class="form-group pull-right" *ngIf="isHasInsertPermission && allowAdd">
            <button mat-raised-button color="primary" class="pull-right" type="button" (click)="addNew()"><i
                class="fa fa-plus"></i> Thêm mới
            </button>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="center middle w50">STT</th>
                <th class="center middle">Hình thức</th>
                <th class="center middle" middle>Mức độ</th>
                <th class="center middle">Quyết định số</th>
                <th class="center middle w100">Ngày ban hành</th>
                <th class="center middle w100">Mức khen thưởng/Kỷ luật</th>
                <th class="center middle w250">Lý do</th>
                <th class="center middle w100" *ngIf="isHasUpdatePermission || isHasDeletePermission">
                    Sửa, Xóa
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listCommendationDiscipline; let i = index">
                <td class="center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td [class.color-red]="item.type == false" [class.color-green]="item.type == true">
                    {{ item.type == false ? "Kỷ luât" : item.type == true ? "Khen thưởng" : "" }}
                </td>
                <td>{{ item.categoryName }}</td>
                <td>{{ item.decisionNo }}</td>
                <td>{{ item.time | dateTimeFormat:"DD/MM/YYYY"}}</td>
                <td class="text-right">{{ item.money | formatNumber}}</td>
                <td>{{item.reason}}</td>
                <td class="center" *ngIf="isHasUpdatePermission || isHasDeletePermission">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                            <li *ngIf="isHasViewPermission"><a href="javascript://" (click)="detail(item)"><i
                                class="fa fa-eye"></i> Chi tiết</a>
                            </li>
                            <li *ngIf="isHasUpdatePermission && allowAdd"><a href="javascript://"
                                                                             (click)="setUpdate(item)"><i
                                class="fa fa-pencil"></i> Chỉnh sửa</a>
                            </li>
                            <li *ngIf="isHasDeletePermission && allowAdd"><a href="javascript://"
                                                                             (click)="delete(item)"><i
                                class="fa fa-trash-o"></i> Xóa</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="5" (pageClick)="onPageClick($event)"
            [isDisabled]="isSearching"
            [pageName]="'khen thưởng/kỷ luật'"></ghm-paging>
    <!-- end table -->
</div>

<commendation-discipline-form *ngIf="isShowForm" [model]="model" [userId]="userId"
                              (onCloseForm)="onFormClosed($event)"></commendation-discipline-form>

<nh-modal #commendationDisciplineModal size="md">
    <nh-modal-header>
        <h4 class="modal-title">Thông tin khen thưởng/Kỷ luật</h4>
    </nh-modal-header>
    <nh-modal-content>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Quyết định số</label>
                <div class="col-sm-9">
                    <div class="form-control">{{ model.decisionNo }}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Hình thức</label>
                <div class="col-sm-9">
                    <div class="form-control">{{ model.type == false ? "Kỷ luât" : model.type == true ? "Khen thưởng" :
                        "" }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mức độ</label>
                <div class="col-sm-9">
                    <div class="form-control">{{ model.categoryName}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ngày ban hành</label>
                <div class="col-sm-9">
                    <div class="form-control">{{ model.time | date:"dd/MM/yyyy" }}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mức khen thưởng/Kỷ luật</label>
                <div class="col-sm-9">
                    <div class="form-control">{{ model.money | formatNumber}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Lý do</label>
                <div class="col-sm-9">
                    <div class="form-control height-auto">{{model.reason}}</div>
                </div>
            </div>
        </div>
    </nh-modal-content>
    <nh-modal-footer>
        <button mat-raised-button type="button" nh-dismiss="true">
            <i class="fa fa-times"></i>
            Đóng lại
        </button>
    </nh-modal-footer>
</nh-modal>
