<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listEventTitle">List events</span>
    <small i18n="@@eventModuleTitle">Events management</small>
</h1>

<form class="form-inline" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@enterKeyword" i18n-placeholder placeholder="Enter keyword."
               name="keyword" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date
                type="inputButton"
                [(ngModel)]="startDate" name="startDate"
                name="startDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-date
                type="inputButton"
                [(ngModel)]="endDate"
                name="endDate"></nh-date>
    </div>
    <div class="form-group cm-mgr-5">
        <ghm-user-suggestion
                (userSelected)="onCreatorSelected($event)"
                (userRemoved)="onRemoveCreator()"></ghm-user-suggestion>
    </div>
    <div class="form-group cm-mgr-5">
        <button class="btn blue" [disabled]="isSearching">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgr-5">
        <button type="button" class="btn btn-light" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <a routerLink="/event/add" class="btn blue" i18n="@@add"
           *ngIf="permission.add">
            Add
        </a>
        <button type="button" class="btn blue cm-mgl-5" (click)="updateStatus(status.pending)" i18n="@@sendAll"
                *ngIf="listSelectedEvents.length > 0">
            Send all
        </button>
        <button type="button" class="btn green cm-mgl-5" (click)="updateStatus(status.approve)" i18n="@@approveAll"
                *ngIf="permission.approve && listSelectedEvents.length > 0">
            Approve all
        </button>
        <button type="button" class="btn red cm-mgl-5" (click)="updateStatus(status.decline)" i18n="@@declineAll"
                *ngIf="permission.approve && listSelectedEvents.length > 0">
            Decline all
        </button>
        <button type="button" class="btn red cm-mgl-5" i18n="@@deleteAll"
                *ngIf="permission.delete && listSelectedEvents.length > 0"
                [swal]="confirmDeleleteMultiple"
                (confirm)="deleteMultiple()">
            Delete all
        </button>
    </div>
</form>

<table class="table table-hover table-stripped">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">No</th>
        <th class="middle" i18n="@@eventName">Event name</th>
        <th class="middle w100" i18n="@@startDate">Start date</th>
        <th class="middle w70 middle" i18n="@@endDate">End date</th>
        <th class="middle w150" i18n="@@creator">Creator</th>
        <th class="middle text-right" i18n="@@status">Status</th>
        <th class="middle center" i18n="@@activate">Activate</th>
        <th class="middle text-right w150" i18n="@@actions" *ngIf="permission.edit || permission.delete">Actions
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listItems; let i = index">
        <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td class="middle">
            <div class="media">
                <div class="media-left w50">
                    <a href="javascript://" class="h50 overflow-h display-block">
                        <img ghmImage class="media-object img-responsive" [src]="item.thumbnail"
                             alt="{{ item.name }}">
                    </a>
                </div>
                <div class="media-body">
                    <a routerLink="/event/detail/{{ item.id }}"
                       *ngIf="permission.view; else noEditTemplate">{{ item.name }}</a>
                    <ng-template #noEditTemplate>
                        {{ item.name }}
                    </ng-template>
                </div>
            </div>
        </td>
        <td class="middle">{{ item.startDate | dateTimeFormat:'DD/MM/YYYY' }}</td>
        <td class="middle">{{ item.endDate | dateTimeFormat:'DD/MM/YYYY' }}</td>
        <td class="middle">{{ item.creatorFullName }}</td>
        <td class="middle text-right">
                <span class="badge"
                      [class.badge-default]="item.status === status.draft"
                      [class.badge-primary]="item.status === status.pending"
                      [class.badge-success]="item.status === status.approved"
                      [class.badge-danger]="item.status === status.declined"
                      i18n="@@eventStatus"
                >{item.status, select, 0 {Draft} 1 {Pending} 2 {Approved} 3 {Declined}}</span>
        </td>
        <td class="middle center">
                <span class="badge"
                      [class.badge-primary]="item.isActive"
                      [class.badge-danger]="!item.isActive">{item.isActive, select, 1 {Active} 0 {InActive}}</span>
        </td>
        <td class="middle text-right w150"
            *ngIf="permission.edit || permission.delete || permission.report || permission.view">
            <nh-dropdown>
                <button type="button" class="btn btn-sm btn-light btn-no-background no-border" matTooltip="Menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <ul class="nh-dropdown-menu right">
                    <li *ngIf="item.status === status.pending && permission.approve">
                        <a href="javascript://" class="color-green"
                           (click)="changeStatus(item.id, status.approved)">
                            <i class="fa fa-check color-green"></i>
                            <span class="cm-mgl-5" i18n="@@detail">Approve</span>
                        </a>
                    </li>
                    <li *ngIf="item.status === status.pending && permission.approve">
                        <a href="javascript://" class="color-red"
                           [swal]="confirmDecline"
                           (confirm)="changeStatus(item.id, status.declined, $event)">
                            <i class="fa fa-times color-red"></i>
                            <span class="cm-mgl-5" i18n="@@detail">Decline</span>
                        </a>
                    </li>
                    <li *ngIf="permission.view">
                        <a routerLink="/event/register/{{ item.id }}">
                            <i class="fa fa-users"></i>
                            <span class="cm-mgl-5" i18n="@@registerList">Register list</span>
                        </a>
                    </li>
                    <li *ngIf="permission.add || permission.edit">
                        <a href="javascript://" (click)="register(item.id)">
                            <i class="fa fa-registered"></i>
                            <span class="cm-mgl-5" i18n="@@register">Register</span>
                        </a>
                    </li>
                    <li *ngIf="permission.add || permission.edit">
                        <a routerLink="/event/album/{{ item.id }}">
                            <i class="fa fa-camera-retro" aria-hidden="true"></i>
                            <span class="cm-mgl-5" i18n="@@detail">Album</span>
                        </a>
                    </li>
                    <li *ngIf="permission.view">
                        <a routerLink="/event/detail/{{ item.id }}">
                            <i class="fa fa-eye"></i>
                            <span class="cm-mgl-5" i18n="@@detail">Detail</span>
                        </a>
                    </li>
                    <li *ngIf="permission.edit">
                        <a routerLink="/event/edit/{{ item.id }}">
                            <i class="fa fa-edit"></i>
                            <span class="cm-mgl-5" i18n="@@edit">Edit</span>
                        </a>
                    </li>
                    <li *ngIf="permission.delete"
                        [swal]="confirmDelelete"
                        (confirm)="delete(item.id)">
                        <a href="#">
                            <i class="fa fa-trash-o"></i>
                            <span class="cm-mgl-5" i18n="@@delete">Delete</span>
                        </a>
                    </li>
                    <li *ngIf="permission.report"
                        (click)="report(item.id)">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i>
                            <span class="cm-mgl-5" i18n="@@report">Report</span>
                        </a>
                    </li>
                </ul><!-- END: nh-dropdown-menu -->
            </nh-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<ghm-paging [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageShow]="6"
            [isDisabled]="isSearching"
            [pageSize]="pageSize"
            (pageClick)="search($event)"
></ghm-paging>

<swal
        #confirmDelelete
        i18n-title="@@confirmDeleteEventTitle"
        i18n-text="@@confirmDeleteEventText"
        title="Are you sure for delete this event?"
        text="You can't recover this event after delete."
        type="question"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel">
</swal>

<swal
        #confirmDeleleteMultiple
        i18n-title="@@confirmDeleteMultipleEventTitle"
        i18n-text="@@confirmDeleteMultipleEventText"
        title="Are you sure for delete selected event?"
        text="You can't recover events after delete."
        type="question"
        input="textarea"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel">
</swal>

<swal
        #confirmDecline
        i18n-title="@@confirmDeclineEventTitle"
        i18n-text="@@confirmDeclineEventText"
        title="Are you sure for decline selected event?"
        text="You can't recover events after decline."
        type="question"
        input="textarea"
        i18n-confirmButtonText="@@accept"
        i18n-cancelButtonText="@@cancel"
        confirmButtonText="Accept"
        cancelButtonText="Cancel">
</swal>

<!--<ng-template #test>-->
<!--<ul class="ghm-context-menu">-->
<!--<li>-->
<!--Menu 1-->
<!--<ul class="ghm-sub-context-menu">-->
<!--<li></li>-->
<!--</ul>&lt;!&ndash; END: .ghm-sub-context-menu &ndash;&gt;-->
<!--</li>-->
<!--<li>Menu 2</li>-->
<!--<li>Menu 3</li>-->
<!--<li>Menu 4</li>-->
<!--<li>Menu 5</li>-->
<!--</ul>-->
<!--</ng-template>-->

<app-event-register></app-event-register>
