<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listUnitPageTitle">Danh sách đơn vị</span>
    <small i18n="@@productModuleTitle">Quản lý sản phẩm</small>
</h1>
<form class="form-inline " (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <ghm-input icon="dx-icon-search" i18n="@@keywordSearch" i18n-placeholder
                   placeholder="Nhập từ khóa tìm kiếm."
                   name="searchInput" [(ngModel)]="keyword"></ghm-input>
    </div>
    <div class="form-group cm-mgr-5">
        <ghm-select
            [width]="250"
            [data]="[{id: false, name: 'Chưa kích hoạt'},{id: true, name: 'Đã kích hoạt'}]"
            i18n="@@selectStatus"
            i18n-title
            [title]="'-- Tất cả --'"
            [(value)]="isActive"
            (itemSelected)="selectIsActive($event)"></ghm-select>
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn default" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <button class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add" (click)="add()"
                type="button">
            Thêm
        </button>
    </div>
</form>

<dx-data-grid
    id="gridContactContainer"
    keyExpr="id"
    [allowColumnResizing]="true"
    [showRowLines]="true"
    [wordWrapEnabled]="true"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    [dataSource]="listUnit"
    [noDataText]="'Không có dữ liệu'"
    [showBorders]="true"
    (onContextMenuPreparing)="clickContextMenu($event)">
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxi-column caption="STT" [width]="50" cellTemplate="NoTemplate" alignment="center" cssClass="middle"></dxi-column>
    <div *dxTemplate="let data of 'NoTemplate'">
        {{ (currentPage - 1) * pageSize + data.rowIndex + 1 }}
    </div>
    <dxi-column dataField="abbreviation" [width]="150" caption="Viết tắt" cssClass="middle"></dxi-column>
    <dxi-column dataField="name" caption="Tên" cssClass="middle"></dxi-column>
    <dxi-column dataField="isActive" type="boolean" [width]="120" caption="Trạng thái" alignment="center"
                cellTemplate="statusTemplate" cssClass="middle" ></dxi-column>
    <div *dxTemplate="let cell of 'statusTemplate'">
        <dx-check-box [disabled]="!permission.edit"  [value]="cell.data.isActive" (onValueChanged)="updateStatus(cell.data)"></dx-check-box>
    </div>
    <dxi-column cellTemplate="actionTemplate" [width]="100" caption="Thao tác" alignment="center"
                *ngIf="(permission.edit || permission.delete)" cssClass="middle">
    </dxi-column>
    <div *dxTemplate="let cell of 'actionTemplate'" class="center middle">
        <a *ngIf="permission.edit" class="color-dark-blue text-decoration-none cm-mgr-5"
           i18n="@@edit" title="Sửa"
           (click)="edit(cell.data)">
            <i class="dx-icon-edit"></i>
        </a>
        <a title="Xóa"
           class="color-red text-decoration-none" *ngIf="permission.delete"
           (click)="confirm(cell.data)" i18n="@@delete">
            <i class="dx-icon-remove"></i>
        </a>
    </div>
</dx-data-grid>

<div class="cm-mgt-10">
    <ghm-paging
        class="pull-right"
        [totalRows]="totalRows"
        [currentPage]="currentPage"
        [pageShow]="6"
        [pageSize]="pageSize"
        (pageClick)="search($event)"
        i18n="@@unit" i18n-pageName
        (selectPage)="changePageSize($event)"
        [pageName]="'Đơn vị'">
    </ghm-paging>
</div>
<app-product-unit-form (saveSuccessful)="search(currentPage)"></app-product-unit-form>

<swal
    #confirmDeleteUnit
    i18n="@@confirmDeleteUnit"
    i18n-title="@@confirmTitleDeleteUnit"
    i18n-text="@@confirmTextDeleteUnit"
    title="Bạn có chắc chắn muốn xóa đơn vị này?"
    text="Lưu ý: bạn không thể khôi phục lại đơn vị sau khi xóa."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng ý"
    cancelButtonText="Hủy bỏ"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
