$border-color: #ddd;

app-notification-item {
    display: block;
    border-bottom: 1px solid $border-color;

    &:last-child {
        border-bottom: none;
    }

    .notify-item {
        padding: 10px;
        border-bottom: 1px solid $border-color;
        border-top: none !important;
        position: relative;
        font-size: 12.5px;
        margin-top: 0;
        margin-bottom: 0;
        display: table;

        &:hover {
            background-color: #eaeaea !important;
        }

        &:last-child {
            border-bottom: none !important;
        }

        &.info {
            border-left: 3px solid dodgerblue;
        }

        &.warning {
            border-left: 3px solid darkorange;
        }

        &.danger {
            border-left: 3px solid darkred;
        }

        &.success {
            border-left: 3px solid forestgreen;
        }

        &.readed {
            background: #edf2fa;
        }

        &:hover {
            cursor: pointer;
        }

        .notify-left, .notify-body {
            display: table-cell;
            vertical-align: top;
        }

        .notify-left {
            float: left;
            padding-right: 10px;
        }

        .notify-body {
            width: 1000px;
        }

        .content {
            margin: 0;
            padding-right: 20px;
        }

        button.notification-close {
            border: none;
            font-size: 10px;
            background: transparent;
            position: absolute;
            top: 10px;
            right: 10px;

            &:active, &:focus {
                outline: none;
            }
        }

        .times {
            margin-top: 5px;
        }
    }
}
