<nh-modal #dayOffRegisterModal [size]="'md'" class="form">
    <nh-modal-header [showCloseButton]="true">
        <h4 class="title">
            <i class="fa fa-registered"></i> Đăng ký nghỉ
        </h4>

        <div class="row" *ngIf="warningMessage">
            <div class="col-sm-12">
                <div class="alert alert-warning">
                    {{warningMessage}}
                </div>
            </div>
        </div>
    </nh-modal-header>
    <form class="form-horizontal form-bordered" (ngSubmit)="save()" [formGroup]="formModel">
        <!--<nh-modal-content class="form-body"-->
                          <!--[isLoading]="isSearching"-->
                          <!--[isBlockContent]="isLockForm">-->
            <!--<div class="form-group">-->
                <!--&lt;!&ndash;<div class="col-sm-12"&ndash;&gt;-->
                     <!--&lt;!&ndash;*ngIf="formModel.value.method === METHODS.ANNUAL_LEAVE && currentUser?.holidayRemain > 0">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="alert alert-info cm-mgb-0">&ndash;&gt;-->
                        <!--&lt;!&ndash;<b>Thông báo: </b> Bạn còn {{currentUser?.holidayRemain}} ngày phép trong năm nay.&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-sm-12"&ndash;&gt;-->
                     <!--&lt;!&ndash;*ngIf="formModel.value.method === METHODS.ANNUAL_LEAVE && (currentUser?.holidayRemain === 0 || !currentUser.holidayRemain)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="alert alert-danger cm-mgb-0">&ndash;&gt;-->
                        <!--&lt;!&ndash;<b>Thông báo: </b> Số ngày phép của bạn trong năm nay đã hết. Bạn không thể đăng ký nghỉ phép&ndash;&gt;-->
                        <!--&lt;!&ndash;thêm.&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="col-sm-12" *ngIf="errorMessage">-->
                    <!--<div class="alert alert-info cm-mgb-0">-->
                        <!--<b>Xin lỗi: </b> {{errorMessage}}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12" *ngIf="listShifts == null">-->
                    <!--<div class="alert alert-danger cm-mgb-0">-->
                        <!--<b>Xin lỗi: </b> Bạn chưa được cấu hình ca làm việc. Vui lòng liên hệ với bộ phận nhân sự để-->
                        <!--được trợ giúp.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label ghmLabel="Từ ngày" class="col-md-3 col-sm-4 control-label" [required]="true"></label>-->
                <!--<div class="col-sm-8 col-md-9">-->
                    <!--<nh-date [id]="'register-from-date'"-->
                             <!--[type]="'inputButton'"-->
                             <!--[title]="'Chọn nghỉ từ ngày'"-->
                             <!--formControlName="fromDate"-->
                             <!--(selectedDateEvent)="onSelectFromDate($event)"></nh-date>-->
                    <!--<div class="alert alert-danger" *ngIf="formErrors.fromDate">-->
                        <!--{{ formErrors.fromDate }}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label ghmLabel="Đến ngày" class="col-md-3 col-sm-4 control-label"></label>-->
                <!--<div class="col-sm-8 col-md-9">-->
                    <!--<nh-date [id]="'register-to-date'"-->
                             <!--[type]="'inputButton'"-->
                             <!--[title]="'Chọn nghỉ đến ngày'"-->
                             <!--formControlName="toDate"-->
                             <!--(selectedDateEvent)="onSelectToDate($event)"-->
                             <!--(removedDateEvent)="onSelectToDate(null)"></nh-date>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label ghmLabel="Hình thức nghỉ" class="col-md-3 col-sm-4 control-label" [required]="true"></label>-->
                <!--<div class="col-sm-8 col-md-9">-->
                    <!--<nh-select [data]="listMethod" [title]="'&#45;&#45; Chọn hình thức xin nghỉ &#45;&#45;'"-->
                               <!--formControlName="method"-->
                               <!--(onSelectItem)="onSelectMethod($event)"></nh-select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group"-->
                 <!--*ngIf="formModel.value.method !== METHODS.INSURANCE_LEAVE && listShifts">-->
                <!--<label ghmLabel="Chọn ca nghỉ" class="col-md-3 col-sm-4 control-label" [required]="true"></label>-->
                <!--<div class="col-sm-8 col-md-9">-->
                    <!--<table class="table table-bordered table-striped table-hover table-main">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th class="center middle" [attr.rowspan]="listShifts.length">Ngày</th>-->
                            <!--<th class="center middle" [attr.colspan]="listShifts.length">Ca làm việc</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th class="center middle" *ngFor="let shift of listShifts">-->
                                <!--{{shift.reportName}}-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr *ngFor="let date of listDates">-->
                            <!--<td class="center">-->
                                <!--<div class="bold">{{date.dateText}}</div>-->
                                <!--<label class="label-color">({{date.dateName}})</label>-->
                            <!--</td>-->
                            <!--<td *ngFor="let shift of date.shifts"-->
                                <!--class="center middle">-->
                                <!--<nh-select *ngIf="shift.isShowDay && !shift.isHoliday"-->
                                           <!--[data]="listShortMethod" [title]="'-'"-->
                                           <!--[(value)]="shift.method"-->
                                           <!--(onSelectItem)="onDayMethodSelect(shift, $event)"></nh-select>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>&lt;!&ndash; END: table &ndash;&gt;-->
                    <!--<ul>-->
                        <!--<li *ngFor="let item of listStats">-->
                            <!--{{item.name}}: <b>{{item.quantity}} Ngày</b>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label ghmLabel="Lý do xin nghỉ" class="col-md-3 col-sm-4 control-label" [required]="true"></label>-->
                <!--<div class="col-sm-8 col-md-9">-->
                    <!--<textarea rows="4" class="form-control" placeholder="Vui lòng nhập lý do xin nghỉ"-->
                              <!--(keydown.enter)="save()" formControlName="reason"></textarea>-->
                    <!--<div class="alert alert-danger" *ngIf="formErrors.reason">-->
                        <!--{{ formErrors.reason }}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</nh-modal-content>-->
        <nh-modal-footer>
            <button mat-raised-button color="primary">
                <nh-icon-loading [isLoading]="isSaving"></nh-icon-loading>
                {{isUpdate ? 'Cập nhật' : 'Đăng ký'}}
            </button>
            <button type="button" nh-dismiss="true" mat-raised-button>
                <i class="fa fa-times"></i>
                Hủy
            </button>
        </nh-modal-footer>
    </form>
</nh-modal>
