<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <!--<div class="form-group cm-mgr-5">-->
    <!--<app-warehouse-suggestion-->
    <!--*ngIf="!isUpdate; else warehouseReadOnlyTemplate"-->
    <!--[selectedItem]="warehouseId && warehouseName ? {id: warehouseId, name: warehouseName} : null"-->
    <!--(itemSelected)="onWarehouseSelected($event)"></app-warehouse-suggestion>-->
    <!--<ng-template #warehouseReadOnlyTemplate>-->
    <!--<div class="form-control">-->
    <!--{{ warehouseName }}-->
    <!--</div>-->
    <!--</ng-template>-->
    <!--</div>-->
    <div class="form-group pull-right" *ngIf="!readonly">
        <button type="button" class="btn blue" i18n="@@addAllProduct"
                [swal]="confirmSelectAllInventoryProduct" (confirm)="addAllProduct()">
            Thêm toàn bộ sản phẩm
        </button>
    </div>
</form><!-- END search form -->
<div class="clear"></div>
<div class="table-responsive" style="min-height: 450px;">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="middle center w50" i18n="@@no">STT</th>
            <th class="middle" i18n="@@product">Sản phẩm</th>
            <th class="middle" i18n="@@lotNumber">Số lô</th>
            <th class="middle w100" i18n="@@unit">Đơn vị</th>
            <th class="text-right middle w100" i18n="@@inventory">Tồn kho</th>
            <th class="text-right middle w100" i18n="@@actual">Thực tế</th>
            <th class="middle text-right w100" i18n="@@different">Chênh lệch</th>
            <th class="text-right middle w100" i18n="@@price" *ngIf="readonly">Đơn giá</th>
            <th class="text-right middle w100" i18n="@@amount" *ngIf="readonly">Số tiền</th>
            <th class="text-right middle w100" i18n="@@accountantAmount" *ngIf="readonly">Số tiền kế toán</th>
            <th class="text-right middle w100" i18n="@@differenceAmount" *ngIf="readonly">Số tiền Chênh lệch</th>
            <th class="middle center w50" i18n="@@action"
                *ngIf="permission.delete && status !== inventoryStatus.balanced"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of details; let i = index"
            [class.color-red]="item.difference < 0"
            [class.color-green]="item.difference > 0">
            <td class="middle center">{{(currentPage - 1 )*pageSize + i + 1}}</td>
            <td class="middle w250">{{ item.productName }}</td>
            <td class="middle">{{ item.lotId }}</td>
            <td class="middle"> {{item.unitName}}</td>
            <td class="middle text-right">{{item.inventoryQuantity}}</td>
            <td class="middle text-right">
                <input *ngIf="status !== 1; else spanRealQuantity" class="form-control text-right"
                       [(ngModel)]="item.realQuantity"
                       ghm-text-selection
                       name="realQuantity - {{item.productId}}"
                       (blur)="onRealQuantityBlur(item)">
                <ng-template #spanRealQuantity>
                    {{item.realQuantity | formatNumber}}
                </ng-template>
            </td>
            <td class="text-right middle">{{ item.difference }}</td>
            <td class="text-right middle" *ngIf="readonly">{{ item.price | ghmCurrency:'2'}}</td>
            <td class="text-right middle" *ngIf="readonly">{{ item.amount | ghmCurrency:'2' }}</td>
            <td class="text-right middle" *ngIf="readonly">{{ item.accountingAmount | ghmCurrency:'2'}}</td>
            <td class="text-right middle" *ngIf="readonly">{{ item.differenceAmount | ghmCurrency:'2'}}</td>
            <td class="middle center" *ngIf="permission.delete && status !== inventoryStatus.balanced">
                <button type="button" mat-icon-button
                        color="warn"
                        [disableRipple]="true"
                        (click)="confirm(item)"
                        i18n-matTooltip="@@delete"
                        matTooltip="Xóa">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr *ngIf="!readonly">
            <td colspan="9">
                <app-product-suggestion
                    #productSuggestion
                    [warehouseId]="warehouseId"
                    (itemSelected)="onProductSelected($event)"></app-product-suggestion>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<ghm-paging
    class="pull-right"
    [totalRows]="totalRows"
    [currentPage]="currentPage"
    [pageShow]="6"
    [pageSize]="pageSize"
    (pageClick)="search($event)"
    i18n="@@inventoryProduct" i18n-pageName
    [pageName]="'Inventory Product'">
</ghm-paging>
<swal
    #confirmSelectAllInventoryProduct
    i18n-title="@@confirmSelectAllInventoryProductTitle"
    title="Bạn có chắc chắn chọn tất cả sản phẩm của kho này"
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng ý"
    cancelButtonText="Hủy bỏ"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
<swal
    #confirmDeleteProduct
    i18n="@@confirmDeleteInventoryProduct"
    i18n-title="@@confirmDeleteInventoryProductTitle"
    i18n-text="@@confirmDeleteInventoryProductText"
    title="Bạn có chắc chắn muốn xóa sản phẩm này không?"
    text="Lưu ý: sau khi xóa bạn không thể khôi phục lại sản phẩm này."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Đồng ý"
    cancelButtonText="Hủy bỏ"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
<nh-menu #nhMenu>
    <nh-menu-item *ngIf="permission.delete"
                  (clicked)="confirm($event)">
        <mat-icon class="menu-icon">delete</mat-icon>
        <span i18n="@@edit">Xóa</span>
    </nh-menu-item>
</nh-menu>
