<nh-modal #formGoodsDeliveryNote [size]="'full'"
          (shown)="onModalShow()"
          (hidden)="onModalHidden()">
    <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <nh-modal-content class="form-body">
            <h3 class="form-section bold" i18n="@@goodsDeliveryNoteInfo">Thông tin phiếu xuất</h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Ngày xuất" i18n-ghmLabel="@@deliveryDate"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <nh-date
                                [mask]="true"
                                [showTime]="true"
                                [format]="'DD/MM/YYYY HH:mm:ss'"
                                [outputFormat]="'YYYY/MM/DD HH:mm:ss'"
                                formControlName="deliveryDate"></nh-date>
                            <span class="help-block" *ngIf="formErrors.entryDate"
                                  i18n="@@goodsReceiptNoteDeliveryDateErrorMessage">
                                {formErrors.deliveryDate, select, required {Vui lòng nhập ngày xuất}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Hình thức xuất"
                               i18n-ghmLabel="@@deliveryType" [required]="true"></label>
                        <div class="col-sm-9">
                            <nh-select
                                *ngIf="!isUpdate; else goodsDeliveryNoteTypeReadOnlyTemplate"
                                [data]="listDeliveryType"
                                title="-- Chọn hình thức xuất kho --"
                                i18n-title="@@deliveryTypeTitle"
                                formControlName="type"
                            ></nh-select>
                            <ng-template #goodsDeliveryNoteTypeReadOnlyTemplate>
                                <div class="form-control"
                                     i18n="@@goodsDeliveryNoteTypeValue"
                                     readonly>
                                    {model.value.type, select, 0 {Bán} 1 {Sử dụng} 2 {Trả nhà cung cấp} 3 {Hủy} 4 {Điều
                                    chuyển} 5 {Kiểm kê} other {}}
                                </div>
                            </ng-template>
                            <span class="help-block">
                                {
                                    formErrors?.type,
                                    select, required {Vui lòng chọn hình thức xuất kho}
                                    isValid {Hình thức xuất kho không hợp lệ}
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="model.value.type === deliveryType.selfConsumer">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Phòng ban"
                               i18n-ghmLabel="@@officeName"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <!--<app-office-tree-->
                                <!--[selectedText]="model.value.officeName"-->
                                <!--(officeSelected)="onOfficeSelected($event)"></app-office-tree>-->
                            <span class="help-block" i18n="@@deliveryOfficeErrorMessage">
                                 {
                                   formErrors?.officeId,
                                   select, required {Vui lòng chọn phòng ban}
                                 }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Người nhận" [required]="true"
                               i18n-ghmLabel="@@receiver"></label>
                        <div class="col-sm-9">
                            <ghm-user-suggestion
                                [selectedUser]="model.value.receiverFullName
                                ? {id: model.value.receiverId, fullName: model.value.receiverFullName, avatar: model.value.receiverAvatar}
                                : null"
                                (userSelected)="onUserSelected($event)"
                                (userRemoved)="onUserRemoved()"></ghm-user-suggestion>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="model.value.type === deliveryType.retail">
                <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="formErrors.receiverFullName">
                        <label class="col-sm-3 control-label" ghmLabel="Người nhận"
                               i18n-ghmLabel="@@receiverFullName"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <app-receiver-suggestion
                                [selectedItem]="model.value.receiverFullName ? {id: model.value.receiverId, name: model.value.receiverFullName} : null"
                                (itemRemoved)="onReceiverRemoved()"
                                (itemSelected)="onReceiverSelected($event)"></app-receiver-suggestion>
                            <span class="help-block" i18n="@@deliveryReceiverErrorMessage">
                                 {
                                   formErrors?.receiverFullName,
                                   select, required {Vui lòng nhập họ tên người nhận.} maxlength {Họ tên người nhận không được phép vượt quá 50 ký tự.}
                                 }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="formErrors.receiverPhoneNumber">
                        <label class="col-sm-3 control-label" ghmLabel="Số điện thoại"
                               i18n-ghmLabel="@@receiverPhoneNumber"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="receiverPhoneNumber">
                            <span class="help-block" i18n="@@deliveryReceiverPhoneNumberErrorMessage">
                                 {
                                   formErrors?.warehouseId,
                                   select, required {Vui lòng nhập số điện thoại người nhận} maxlength {Số điện thoại người nhận không được phép vượt quá 50 ký tự.}
                                 }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" [class.has-error]="formErrors?.warehouseId">
                        <label class="col-sm-3 control-label" ghmLabel="Xuất tại kho"
                               i18n-ghmLabel="@@deliveringWarehouse"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <app-warehouse-suggestion
                                #warehouseSuggestion
                                *ngIf="!isUpdate; else warehouseReadOnlyTemplate"
                                (itemRemoved)="onRemoveWarehouse()"
                                (itemSelected)="onWarehouseSelected($event)"></app-warehouse-suggestion>
                            <ng-template #warehouseReadOnlyTemplate>
                                <div class="form-control" readonly>{{ model.value.warehouseName }}</div>
                            </ng-template>
                            <span class="help-block" i18n="@@deliveryFromWarehouseErrorMessage">
                                 {
                                   formErrors?.warehouseId,
                                   select, required {Vui lòng chọn kho xuất}
                                 }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="formErrors.receptionWarehouseId"
                         *ngIf="model.value.type === deliveryType.transfer">
                        <label class="col-sm-3 control-label" ghmLabel="Nhập tại kho"
                               i18n-ghmLabel="@@receptionWarehouse"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <app-warehouse-suggestion
                                #warehouseReceiverSuggestion
                                [selectedItem]="selectedReceiverWarehouse"
                                (itemRemoved)="onRemoveReceptionWarehouse()"
                                (itemSelected)="onReceptionWarehouseSelected($event)"></app-warehouse-suggestion>
                            <span class="help-block" i18n="@@deliveryToWarehouseErrorMessage">
                               {
                                  formErrors?.receiverWarehouseId,
                                  select, required {Vui lòng chọn kho nhập}
                               }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="model.value.type === deliveryType.transfer">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Người nhận"
                               i18n-ghmLabel="@@receiver"
                               [required]="true"></label>
                        <div class="col-sm-9">
                            <app-warehouse-manager-suggestion
                                #warehouseReceiverSuggestion
                                [warehouseId]="model.value.receptionWarehouseId"
                                [selectedItem]="model.value.receiverFullName ? {id: model.value.receiverId, name: model.value.receiverFullName} : null"
                                (itemRemoved)="onReceiverRemoved()"
                                (itemSelected)="onReceiverSelected($event)"></app-warehouse-manager-suggestion>
                            <span class="help-block" i18n="@@deliveryToWarehouseErrorMessage">
                               {
                                  formErrors?.receiverId,
                                  select, required {Vui lòng chọn người nhận}
                               }
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="goodsDeliveryNoteDetail?.type === deliveryType.return">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" ghmLabel="Nhà cung cấp"
                               i18n-ghmLabel="@@supplier"></label>
                        <div class="col-sm-9">
                            <div class="form-control" readonly="">
                                {{ model.value.supplierName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"
                         [class.has-error]="formErrors?.reason">
                        <label class="col-sm-3 control-label" ghmLabel="Lý do"
                               i18n-ghmLabel="@@reason"
                               [required]="model.value.type === deliveryType.voided || model.value.type === deliveryType.return"></label>
                        <div class="col-sm-9">
                            <textarea name="" class="form-control" rows="2"
                                      formControlName="reason"></textarea>
                            <span class="help-block" i18n="@@deliveryReasonErrorMessage">
                               { formErrors?.reason,
                                 select, required {Vui lòng nhập lý do} maxlength {Lý do không được phép vượt quá 500 ký tự}
                               }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="form-section bold" i18n="@@goodsDeliveryNoteDetailInfo">Chi tiết phiếu xuất</h3>
            <div class="row">
                <div class="col-sm-12">
                    <app-goods-delivery-note-product
                        [goodsDeliveryNoteId]="id"
                        [warehouseId]="model.value.warehouseId"
                        [deliveryDate]="model.value.deliveryDate"
                        [totalQuantity]="model.value.totalQuantity"
                        [totalAmounts]="model.value.totalAmounts"
                        [listGoodsDeliveryNoteDetail]="listGoodsDeliveryNoteDetail"
                        [deliveryType]="model.value.type"
                        (totalAmountChanged)="onTotalAmountChanged($event)"
                    ></app-goods-delivery-note-product>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2" ghmLabel="Tổng số tiền (viết bằng chữ)"
                           i18n-ghmLabel="@@totalAmountsWords"></label>
                    <div class="bold col-sm-10">
                        <div class="dotted-form-control">{{ model.value.totalAmounts | ghmAmountToWord }}</div>
                    </div>
                </div>
            </div>
        </nh-modal-content>
        <nh-modal-footer>
            <mat-checkbox
                class="cm-mgr-5"
                color="primary"
                name="isCreateAnother"
                i18n="@@isCreateAnother"
                *ngIf="!isUpdate"
                [(checked)]="isCreateAnother"
                (change)="isCreateAnother = !isCreateAnother"> Tiếp tục thêm
            </mat-checkbox>
            <ghm-button classes="btn blue cm-mgr-5"
                        [loading]="isSaving">
                <span i18n="@@save">Lưu lại</span>
            </ghm-button>
            <ghm-button classes="btn default"
                        nh-dismiss="true"
                        [type]="'button'"
                        [loading]="isSaving">
                <span i18n="@@close">Đóng lại</span>
            </ghm-button>
        </nh-modal-footer>
    </form>
</nh-modal>
