<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listTitlePageTitle">List title</span>
    <small i18n="@@titleModuleTitle">Title management</small>
</h1>

<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@enterKeyword" i18n-placeholder placeholder="Enter keyword."
               name="keyword" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            i18n-title="@@filterByStatusTitle"
            title="-- Filter by status --"
            [data]="listActiveSearch"
            [(value)]="isActive"
            (onSelectItem)="search(1)"></nh-select>
    </div>
    <div class="form-group cm-mgr-5">
        <button class="btn btn-primary" [disabled]="isSearching">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgr-5">
        <button type="button" class="btn btn-default" (click)="refresh()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-primary" (click)="add()" i18n="@@add"
                *ngIf="permission.add">
            Add
        </button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-hover table-stripped">
        <thead>
        <tr>
            <th class="middle center w50" i18n="@@no">No</th>
            <th class="middle" i18n="@@titleName">Title name</th>
            <th class="middle w100" i18n="@@shortName">Short name</th>
            <th class="middle w70 middle" i18n="@@status">Status</th>
            <th class="middle" i18n="@@description">Description</th>
            <th class="middle text-right w150" i18n="@@action" *ngIf="permission.edit || permission.delete">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let title of listItems$ | async; let i = index">
            <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td class="middle">
                <a href="javascript://"
                   (click)="edit(title)"
                   *ngIf="permission.edit; else noEditTemplate">{{ title.name }}</a>
                <ng-template #noEditTemplate>
                    {{ title.name }}
                </ng-template>
            </td>
            <td class="middle">{{ title.shortName }}</td>
            <td class="middle">
                <span class="badge"
                      [class.badge-success]="title.isActive"
                      [class.badge-danger]="!title.isActive">{title.activeStatus, select, active {Active} inActive {Inactive}}</span>
            </td>
            <td class="middle">{{ title.description }}</td>
            <td class="middle text-right w150" *ngIf="permission.edit || permission.delete">
                <ghm-button
                    *ngIf="permission.edit"
                    icon="fa fa-edit" classes="btn btn-primary btn-sm"
                    (clicked)="edit(title)"></ghm-button>
                <ghm-button
                    *ngIf="permission.delete"
                    icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                    [swal]="confirmDeleteTitle"
                    (confirm)="delete(title.id)"></ghm-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ghm-paging [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageShow]="6"
            [isDisabled]="isSearching"
            [pageSize]="pageSize"
            (pageClick)="search($event)"
></ghm-paging>

<app-title-form (saveSuccessful)="search(currentPage)"></app-title-form>

<swal
    #confirmDeleteTitle
    i18n-title="@@confirmDeleteTitle"
    i18n-text="@@confirmDeleteText"
    title="Are you sure for delete this title?"
    text="You can't recover this title after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel">
</swal>
