<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listQuestionPageTitle">List question</span>
    <small i18n="@@surveyModuleTitle">Survey management</small>
</h1>
<form class="form-inline cm-mgb-10" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@keywordSearch" i18n-placeholder
               placeholder="Enter keyword for search please."
               name="searchInput" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [data]="listQuestionType"
            i18n="@@selectQuestionType"
            i18n-title
            [title]="'-- Select question type --'"
            [(ngModel)]="type"
            name="type"
            (onSelectItem)="search(1)"></nh-select>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-dropdown-tree [data]="questionGroupTree"
                          [width]="350"
                          [selectedText]="questionGroupName"
                          i18n="@@selectQuestionGroup"
                          i18n-title
                          title="-- Select question group --"
                          [(ngModel)]="questionGroupId"
                          name="questionGroupId"
                          (nodeSelected)="onSelectQuestionGroup($event)"></nh-dropdown-tree>
    </div>
    <div class="form-group cm-mgr-5">
        <ghm-user-suggestion
            [isShowSelected]="false"
            (userSelected)="onSelectUser($event)"
        ></ghm-user-suggestion>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select [data]="listQuestionStatus"
                   i18n="@@selectStatus"
                   i18n-title
                   [title]="'-- Select status --'"
                   [(ngModel)]="status"
                   name="status"
                   (onSelectItem)="search(1)"></nh-select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn btn-default" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-primary cm-mgr-5" *ngIf="permission.add" i18n="@@add" (click)="add()"
                type="button">
            Add
        </button>
        <ghm-button
            *ngIf="permission.edit && isSelectQuestion"
            classes="btn btn-primary cm-mgr-5"
            i18n="send"
            [swal]="confirmSendQuestion"
            (confirm)="sendMultiQuestion()"
        >Send
        </ghm-button>
        <ghm-button
            *ngIf="permission.delete && isSelectQuestion"
            [swal]="confirmDeleteQuestion"
            classes="btn btn-danger"
            i18n="deleteAll"
            (confirm)="deleteMultiQuestion()"
        >Delete all
        </ghm-button>
    </div>
</form>
<div class="table-responsive" [ngStyle]="{'max-height': height + 'px'}">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="middle center w50" i18n="@@no">
                <mat-checkbox [(ngModel)]="isSelectAll" (change)="checkAll()" color="primary"></mat-checkbox>
            </th>
            <th class="middle  w200" i18n="@@questionName">Question Name</th>
            <th class="middle w150" i18n="@@questionGroupName">Question group name</th>
            <th class="middle center w150" i18n="@@questionType">Question type</th>
            <th class="middle center w100" i18n="@@statusApprove">Status approve</th>
            <th class="middle w150" i18n="@@action">Full name</th>
            <th class="middle center w150" i18n="@@action" *ngIf="permission.view || permission.edit || permission.delete">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of listQuestion; let i = index">
            <td class="center middle">
                <mat-checkbox [(ngModel)]="question.isCheck"
                              (change)="checkQuestion(question)" color="primary"></mat-checkbox>
            </td>
            <td class="middle">{{ question.name }}</td>
            <td class="middle">{{question.questionGroupName}}</td>
            <td class="middle center"><span>{{question.typeName}}</span></td>
            <td class="middle center">
                <span class="badge" [class.badge-danger]="question.questionStatus === questionStatus.decline"
                                     [class.badge-success]="question.questionStatus === questionStatus.approved"
                                     [class.badge-warning]="question.questionStatus === questionStatus.pending">{{question.statusName}}
                </span>
            </td>
            <td class="middle">{{question.fullName}}</td>
            <td class="center middle" *ngIf="permission.view || permission.edit || permission.delete">
                <ghm-button
                    *ngIf="permission.view"
                    icon="fa fa-eye" classes="btn btn-default btn-sm"
                    (clicked)="detail(question)"></ghm-button>
                <ghm-button
                    *ngIf="permission.edit
                    && question.questionStatus !== questionStatus.pending && question.questionStatus !== questionStatus.approved"
                    icon="fa fa-edit" classes="btn btn-primary btn-sm"
                    (clicked)="edit(question)"></ghm-button>
                <ghm-button
                    *ngIf="permission.delete
                    && question.questionStatus !== questionStatus.pending && question.questionStatus !== questionStatus.approved"
                    icon="fa fa-trash-o" classes="btn btn-danger btn-sm"
                    [swal]="confirmDeleteQuestion"
                    (confirm)="delete(question.versionId)"></ghm-button>
                <ghm-button
                    *ngIf="permission.edit
                    && question.questionStatus !== questionStatus.pending && question.questionStatus !== questionStatus.approved"
                    icon="fa fa-paper-plane" classes="btn btn-primary btn-sm"
                    [swal]="confirmSendQuestion"
                    (confirm)="send(question)"></ghm-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ghm-paging [totalRows]="totalRows"
            [pageSize]="pageSize"
            [currentPage]="currentPage"
            [pageShow]="6"
            (pageClick)="search($event)"
            [isDisabled]="isSearching"
            i18n="@@question"
            i18n-pageName
            [pageName]="'Question'">
</ghm-paging>

<app-survey-question-form
    [listQuestionType]="listQuestionType"
    [questionGroupTree]="questionGroupTree"
    (saveSuccessful)="search(1)"
    (onCloseForm)="search(1)">
</app-survey-question-form>

<app-survey-question-detail (onDeleteSuccess)="search(1)"
                            (onUpdateStatusSuccess)="search(1)"></app-survey-question-detail>

<swal
    #confirmDeleteQuestion
    i18n="@@confirmDeleteQuestion"
    i18n-title
    i18n-text
    title="Are you sure for delete this question?"
    text="You can't recover this question after delete."
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<swal
    #confirmSendQuestion
    i18n="@@confirmDSendQuestion"
    i18n-title
    i18n-text
    title="Are you sure send question?"
    type="question"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>



