<div class="product-category-form">
  <div class="portlet light bordered cm-mgb-0">
      <div class="portlet-title">
        <ul>
          <li>
            <h4 class="bold">
              Tạo nhóm sản phẩm
            </h4>
          </li>
          <li class="icon pull-right">
            <a href="javascript://" class="btn-close" imgsrc="dlg-close"
               (click)="dialogRef.close({isModified: isModified})">
            </a>
          </li>
        </ul>
      </div>
      <form class="form-horizontal" (ngSubmit)="save()" [formGroup]="model">
        <div class="form-group" *ngIf="languages.length > 1">
          <label i18n-ghmLabel="@@language" ghmLabel="Language"
                 class="col-sm-4 control-label"
                 [required]="true"></label>
          <div class="col-sm-8">
            <ghm-select [data]="languages"
                        [(value)]="currentLanguage"></ghm-select>
          </div>
        </div>
        <div class="form-group">
          <label i18n-ghmLabel="@@parentCategory" ghmLabel="Parent category"
                 class="col-sm-4 control-label"></label>
          <div class="col-sm-8">
            <nh-dropdown-tree
                    [data]="categoryTreeData"
                    i18n-title="@@selectParentCategory"
                    title="-- Select parent category --"
                    formControlName="parentId"
            ></nh-dropdown-tree>
          </div>
        </div>
        <span formArrayName="modelTranslations">
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.name">
                    <label i18n-ghmLabel="@@categoryName" ghmLabel="Category name"
                           class="col-sm-4 control-label"
                           [required]="true"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter category name"
                               i18n-placeholder="@@enterCategoryName" formControlName="name">
                        <span class="help-block">
                            {
                                    translationFormErrors[modelTranslation.value.languageId]?.name,
                                    select, required {Category name is required} maxlength {Category name must not exceed 256 characters}
                                    }
                        </span>
                    </div>
                </div>
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaTitle">
                    <label i18n-ghmLabel="@@metaTitle" ghmLabel="Meta title"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter meta title"
                               i18n-placeholder="@@enterMetaTitle" formControlName="metaTitle">
                        <span class="help-block">
                            {
                                    translationFormErrors[modelTranslation.value.languageId]?.metaTitle,
                                    select, maxlength {Meta title must not exceed 256 characters}
                                    }
                        </span>
                    </div>
                </div>
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.description">
                    <label i18n-ghmLabel="@@description" ghmLabel="Description"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <textarea rows="3" class="form-control" placeholder="Enter description"
                                  i18n-placeholder="@@enterDescription" formControlName="description"></textarea>
                        <span class="help-block">
                            {
                                    translationFormErrors[modelTranslation.value.languageId]?.description,
                                    select, maxlength {Description must not exceed 500 characters}
                                    }
                        </span>
                    </div>
                </div>
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.metaDescription">
                    <label i18n-ghmLabel="@@metaDescription" ghmLabel="Meta description"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <textarea rows="3" class="form-control" placeholder="Enter meta description"
                                  i18n-placeholder="@@enterMetaDescription"
                                  formControlName="metaDescription"></textarea>
                        <span class="help-block">
                            {
                                    translationFormErrors[modelTranslation.value.languageId]?.metaDescription,
                                    select, maxlength {Meta description must not exceed 500 characters}
                                    }
                        </span>
                    </div>
                </div>
                <div class="form-group" *ngFor="let modelTranslation of modelTranslations.controls; index as i"
                     [hidden]="modelTranslation.value.languageId !== currentLanguage"
                     [formGroupName]="i"
                     [class.has-error]="translationFormErrors[modelTranslation.value.languageId]?.seoLink">
                    <label i18n-ghmLabel="@@seoLink" ghmLabel="Seo link"
                           class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Enter seo link."
                               i18n-placeholder="@@enterSeoLink" formControlName="seoLink">
                        <span class="help-block">
                            {
                                    translationFormErrors[modelTranslation.value.languageId]?.metaDescription,
                                    select, maxlength {Meta description must not exceed 500 characters}
                                    }
                        </span>
                    </div>
                </div>
            </span>
        <div class="form-group cm-mg-0">
          <label class="col-sm-4 control-label" >
          </label>
          <div class="col-sm-8 col-sm-offset-4">
            <ghm-file-explorer i18n-buttonText="@@selectImage" [buttonText]="'Select image'"
                               (itemSelected)="onImageSelected($event)"></ghm-file-explorer>
            <div class="cm-mgt-10">
              <img *ngIf="model.value?.bannerImage" ghmImage [errorImageUrl]="'/assets/images/no-image.png'" class="w150 cm-mgb-5"
                   [src]="model.value?.bannerImage">
            </div>
          </div>
        </div>
        <div class="form-group cm-mg-0" [formGroup]="model"
             [class.has-error]="formErrors.order">
          <label class="col-sm-4 control-label" i18n-ghmlabel="@@order" ghmLabel="Order" [required]="true">
          </label>
          <div class="col-sm-8">
            <input class="form-control" i18n-placeholder="@@orderPlaceHolder"
                   placeholder="Please enter order" formControlName="order">
            <span class="help-block">{formErrors?.order, select, required {Order is required} isValid {Order is inValid} greaterThan {Order must greater than 0}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <mat-checkbox formControlName="isActive" color="primary" i18n="@@isActive">
              {model.value.isActive, select, 0 {In Active} 1 {Active}}
            </mat-checkbox>
          </div>
        </div>
      <div class="portlet-foot pull-right">
        <ghm-button [loading]="isSaving">Lưu lại</ghm-button>
        <ghm-button type="button" classes="btn btn-light cm-mgl-10" icon="fa fa-times" (click)="dialogRef.close({isModified: isModified})"
                    [loading]="isSaving">
          Hủy bỏ
        </ghm-button>
        <!--<button mat-raised-button color="primary" [disabled]="isSaving">-->
        <!--<i class="fas fa-save" *ngIf="isSaving"></i>-->
        <!--<i class="fas fa-spinner fa-spin" *ngIf="!isSaving"></i>-->
        <!--Lưu lại-->
        <!--</button>-->
        <!--<button mat-raised-button [disabled]="isSaving">-->
        <!--<i class="fas fa-times"></i>-->
        <!--Hủy bỏ-->
        <!--</button>-->
      </div>
    </form>
  </div>
</div>

