<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listProductPageTitle">List product</span>
    <small i18n="@@productModuleTitle">Product management</small>
</h1>
<form class="form-inline" (ngSubmit)="search(1)">
    <div class="form-group cm-mgr-5">
        <input type="text" class="form-control" i18n="@@keywordSearch" i18n-placeholder
               placeholder="Enter keyword for search please."
               name="searchInput" [(ngModel)]="keyword">
    </div>
    <div class="form-group cm-mgr-5">
        <nh-dropdown-tree [data]="categoryTree"
                          i18n-title="@@selectCategoryNews"
                          [title]="'--Select category --'"
                          [width]="350"
                          [(ngModel)]="categoryId"
                          name="categoryId"
                          (nodeSelected)="selectCategory($event)"></nh-dropdown-tree>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [data]="[{id: false, name: 'Not ManagementByLot'},{id: true, name: 'ManagementByLot'}]"
            i18n="@@selectStatus"
            i18n-title
            [title]="'-- Select management by lot --'"
            [(value)]="isManagementByLot"
            (onSelectItem)="selectIsManagementByLot($event)"></nh-select>
    </div>
    <div class="form-group cm-mgr-5">
        <nh-select
            [data]="[{id: false, name: 'inActive'},{id: true, name: 'Active'}]"
            i18n="@@selectStatus"
            i18n-title
            [title]="'-- Select status --'"
            [(value)]="isActive"
            (onSelectItem)="selectIsActive($event)"></nh-select>
    </div>
    <div class="form-group">
        <button class="btn blue" type="submit">
            <i class="fa fa-search" *ngIf="!isSearching"></i>
            <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
        </button>
    </div>
    <div class="form-group cm-mgl-5">
        <button class="btn default" type="button" (click)="resetFormSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="form-group pull-right">
        <a class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add" routerLink="/products/add"
                type="button">
            Add
        </a>
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="middle center w50" i18n="@@no">No</th>
        <th class="middle" i18n="@@product">Product</th>
        <th class="middle w200" i18n="@@productCategory">Category</th>
        <th class="middle center w100" i18n="@@unitDefault">Unit Default</th>
        <th class="middle w150  center" i18n="@@consignmentManagement">Consignment Management</th>
        <th class="middle center w100" i18n="@@status">Status</th>
        <th class="center middle w50" i18n="@@isHot">Hot?</th>
        <th class="center middle w50" i18n="@@isHomePage">Home Page?</th>
        <th class="middle text-right w150" i18n="@@action" *ngIf="permission.edit || permission.delete">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listProduct; let i = index"
        nhContextMenuTrigger
        [nhContextMenuTriggerFor]="nhMenu"
        [nhContextMenuData]="item">
        <td class="center middle">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td class="middle">
            <div class="media" [class.cursor-pointer]="permission.view" (click)="permission.view ? detail(item) : ''"
                 title="{{item.name}}">
                <div class="media-left middle">
                    <img ghmImage="" [src]="item.thumbnail" [isUrlAbsolute]="true" class="media-object w50"
                         alt="{{item.thumbnail}}">
                </div>
                <div class="media-body middle">
                    <h4 class="media-heading">{{ item.name }}</h4>
                </div>
            </div>
        </td>
        <td class="middle">
            {{item.categoryName}}
        </td>
        <td class="middle center">
            {{item.defaultUnit}}
        </td>
        <td class="middle center">
            <mat-checkbox color="primary" [checked]="item.isManagementByLot" (change)="updateManagementByLot(item)"></mat-checkbox>
        </td>
        <td class="middle center">
            <mat-checkbox color="primary" [checked]="item.isActive" (change)="updateStatus(item)"></mat-checkbox>
        </td>
        <td class="middle center">
            <mat-checkbox color="primary" [checked]="item.isHot"  (change)="updateIsHot(item)"></mat-checkbox>
        </td>
        <td class="middle center">
            <mat-checkbox color="primary" [checked]="item.isHomePage" (change)="updateIsHomePage(item)"></mat-checkbox>
        </td>
        <td class="text-right middle" *ngIf="permission.edit || permission.delete">
            <nh-dropdown>
                <button type="button" class="btn btn-sm btn-light btn-no-background no-border" matTooltip="Menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <ul class="nh-dropdown-menu right" role="menu">
                    <li>
                        <a *ngIf="permission.view"
                           (click)="detail(item)"
                           i18n="@@edit">
                            <i class="fa fa-eye"></i>
                            View
                        </a>
                    </li>
                    <li>
                        <a *ngIf="permission.edit"
                           routerLink="/products/edit/{{item.id}}"
                           i18n="@@edit">
                            <i class="fa fa-edit"></i>
                            Edit
                        </a>
                    </li>
                    <li>
                        <a (click)="confirm(item)" i18n="@@delete">
                            <i class="fa fa-trash"></i>
                            Delete
                        </a>
                    </li>
                </ul>
            </nh-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<ghm-paging
    class="pull-right"
    [totalRows]="totalRows"
    [currentPage]="currentPage"
    [pageShow]="6"
    [pageSize]="pageSize"
    (pageClick)="search($event)"
    i18n="@@product" i18n-pageName
    [pageName]="'product'">
</ghm-paging>

<swal
    #confirmDeleteProduct
    i18n="@@confirmDeleteProduct"
    i18n-title="@@confirmTitleDeleteProduct"
    i18n-text="@@confirmTextDeleteProduct"
    title="Are you sure for delete this product?"
    text="You can't recover this product after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>

<nh-menu #nhMenu>
    <nh-menu-item (clicked)="detail($event)">
        <i class="fa fa-eye"></i>
        <span i18n="@@view">View</span>
    </nh-menu-item>
    <nh-menu-item (clicked)="edit($event)">
        <span class="fa fa-edit"></span>
        <span i18n="@@edit">Edit</span>
    </nh-menu-item>
    <nh-menu-item *ngIf="permission.delete"
                  (clicked)="confirm($event)">
       <i class="fa fa-trash"></i>
        <span i18n="@@edit">Delete</span>
    </nh-menu-item>
</nh-menu>
