<h1 class="page-title">
    <span class="cm-mgr-5" i18n="@@listProductPageTitle">Danh sách sản phẩm</span>
    <small i18n="@@productModuleTitle">Quản lý sản phẩm</small>
</h1>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search(1)">
            <div class="form-group cm-mgr-5">
                <ghm-input elementId="keyword" i18n-placeholder="@@keywordSearch"
                           icon="dx-icon-search"
                           placeholder="Vui lòng nhập từ khóa tìm kiếm."
                           (remove)="search(1)"
                           name="searchInput" [(ngModel)]="keyword"></ghm-input>
            </div>
            <div class="form-group cm-mgr-5">
                <nh-dropdown-tree [data]="categoryTree"
                                  i18n-title="@@selectCategoryNews"
                                  [title]="'-- Chọn nhóm sản phẩm --'"
                                  [width]="350"
                                  [(ngModel)]="categoryId"
                                  name="categoryId"
                                  (nodeSelected)="selectCategory($event)"></nh-dropdown-tree>
            </div>
            <div class="form-group cm-mgr-5">
                <ghm-select
                    [width]="200"
                    [data]="[{id: false, name: 'Không là sản phẩm nổi bật'},{id: true, name: 'Là sản phẩm nổi  bật'}]"
                    i18n="@@selectStatus"
                    i18n-title
                    [title]="'-- Là sản phẩm nổi bật --'"
                    [(value)]="isManagementByLot"
                    (itemSelected)="selectIsManagementByLot($event)"></ghm-select>
            </div>
            <div class="form-group cm-mgr-5">
                <ghm-select
                    [width]="200"
                    [data]="[{id: false, name: 'Chưa kích hoạt'},{id: true, name: 'Đã kích hoạt'}]"
                    i18n="@@selectStatus"
                    i18n-title
                    [title]="'-- Chọn trạng thái --'"
                    [(value)]="isActive"
                    (itemSelected)="selectIsActive($event)"></ghm-select>
            </div>
            <div class="form-group">
                <button class="btn blue" type="submit">
                    <i class="fa fa-search" *ngIf="!isSearching"></i>
                    <i class="fa fa-pulse fa-spinner" *ngIf="isSearching"></i>
                </button>
            </div>
            <div class="form-group cm-mgl-5">
                <button class="btn default" type="button" (click)="resetFormSearch()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="form-group pull-right">
                <ghm-setting-data-grid
                    [filterHeader]="filterHeader"
                    [filterRow]="filterRow"
                    [groupColumn]="groupColumn"
                    [chooseColumn]="chooseColumn"
                    (selectChooseColumn)="chooseColumn = $event"
                    (selectFilterHeader)="filterHeader = $event"
                    (selectFilterRow)="filterRow = $event"
                    (selectGroupColumn)="groupColumn = $event"
                ></ghm-setting-data-grid>
            </div>
            <div class="form-group pull-right cm-mgr-5">
                <a class="btn blue cm-mgr-5" *ngIf="permission.add" i18n="@@add"
                   (click)="add()"
                   type="button">
                    Thêm
                </a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <dx-data-grid
            id="gridContactContainer"
            keyExpr="id"
            [allowColumnResizing]="true"
            [showRowLines]="true"
            [wordWrapEnabled]="true"
            [allowColumnReordering]="true"
            [columnAutoWidth]="false"
            [dataSource]="listProduct"
            [noDataText]="'Không có dữ liệu'"
            (onContextMenuPreparing)="rightClickContextMenu($event)"
            [showBorders]="true">

            <dxo-filter-row [visible]="filterRow"></dxo-filter-row>
            <dxo-scrolling mode="infinite"></dxo-scrolling>
            <dxo-header-filter [visible]="filterHeader"></dxo-header-filter>
            <dxo-group-panel [visible]="groupColumn" title="Chọn cột để nhóm"></dxo-group-panel>
            <dxo-column-chooser [enabled]="chooseColumn" mode="select"></dxo-column-chooser>

            <dxi-column caption="STT" [width]="50" cellTemplate="NoTemplate" alignment="center"
                        cssClass="middle"></dxi-column>
            <div *dxTemplate="let data of 'NoTemplate'">
                {{ (currentPage - 1) * pageSize + data.rowIndex + 1 }}
            </div>
            <dxi-column caption="Ảnh" [width]="60" cellTemplate="imageTemplate" alignment="center"
                        cssClass="middle"></dxi-column>
            <div *dxTemplate="let cell of 'imageTemplate'">
                <img ghmImage="" [src]="cell.data.thumbnail" class="img-reponsive w50"
                     alt="{{cell.data.thumbnail}}">
            </div>
            <dxi-column dataField="id" width="100" caption="Mã sản phẩm" cssClass="middle"></dxi-column>
            <dxi-column dataField="name" caption="Tên sản phẩm" cssClass="middle" cellTemplate="nameTemplate">
            </dxi-column>
            <div *dxTemplate="let cell of 'nameTemplate'">
                <a href="javascripts://" (click)="permission.view ? detail(cell.data) : ''"
                   title="{{cell.data.name}}">
                    {{ cell.data.name }}
                </a>
            </div>
            <dxi-column dataField="categoryName" [width]="200" caption="Nhóm sản phẩm" cssClass="middle"></dxi-column>
            <dxi-column dataField="defaultUnit" caption="Đơn vị tính" width="100" cssClass="middle"></dxi-column>
            <dxi-column dataField="salePrice" caption="Giá bán(VNĐ)" width="100"  cssClass="middle" cellTemplate="salePriceTemplate"></dxi-column>
            <div *dxTemplate="let cell of 'salePriceTemplate'">
                <span>{{cell.data.salePrice | formatNumber}}</span>
            </div>
            <dxi-column dataField="isHot" caption="Sản phẩm nổ bật" [width]="100" dataType="boolean" cssClass="middle">
            </dxi-column>
            <dxi-column dataField="isHomePage" caption="Hiển thị trang chủ" [width]="100" dataType="boolean" cssClass="middle">
            </dxi-column>
            <dxi-column dataField="isActive" type="boolean" [width]="100" caption="Trạng thái" alignment="center"
                        cssClass="middle" cellTemplate="activeTemplate">
                <dxo-header-filter [dataSource]="[
                                    {text: 'Kích hoạt', value: ['isActive', '=', true]},
                                    {text: 'Chưa kích hoạt', value: ['isActive', '=', false]}]"></dxo-header-filter>
            </dxi-column>
            <div *dxTemplate="let cell of 'activeTemplate'">
                <dx-check-box color="primary" [value]="cell.data.isActive"
                              [disabled]="!permission.edit"
                              (onValueChanged)="updateStatus(cell.data)"></dx-check-box>
            </div>
            <dxi-column cellTemplate="actionTemplate" [width]="100" caption="Thao tác" alignment="center"
                        *ngIf="permission.edit || permission.delete" cssClass="middle" cssClass="middle"></dxi-column>
            <div *dxTemplate="let cell of 'actionTemplate'" class="center middle">
                <a *ngIf="permission.view" class="cm-mgr-5"
                   i18n="@@edit" title="Chi tiết"
                   (click)="detail(cell.data)">
                    <i class="fa fa-info-circle color-bright-gray font-size-16"></i>
                </a>
                <a *ngIf="permission.edit" class="color-dark-blue text-decoration-none cm-mgr-5"
                   i18n="@@edit" title="Sửa"
                   (click)="edit(cell.data.id)">
                    <i class="dx-icon-edit"></i>
                </a>
                <a title="Xóa"
                   class="color-red text-decoration-none" *ngIf="permission.delete"
                   (click)="confirm(cell.data)" i18n="@@delete">
                    <i class="dx-icon-remove"></i>
                </a>
            </div>
        </dx-data-grid>
    </div>
    <div class="cm-mgt-10 col-sm-12">
        <ghm-paging
            class="pull-right"
            [totalRows]="totalRows"
            [currentPage]="currentPage"
            [pageShow]="6"
            [pageSize]="pageSize"
            (pageClick)="search($event)"
            i18n-pageName="@@product"
            (selectPage)="changePageSize($event)"
            [pageName]="'product'">
        </ghm-paging>
    </div>
</div>

<div dynamic-component-host></div>

<swal
    #confirmDeleteProduct
    i18n="@@confirmDeleteProduct"
    i18n-title="@@confirmTitleDeleteProduct"
    i18n-text="@@confirmTextDeleteProduct"
    title="Are you sure for delete this product?"
    text="You can't recover this product after delete."
    type="question"
    i18n-confirmButtonText="@@accept"
    i18n-cancelButtonText="@@cancel"
    confirmButtonText="Accept"
    cancelButtonText="Cancel"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>
