<div class="row cm-mgb-10">
    <div class="col-sm-12">
        <form class="form-inline" (ngSubmit)="search(1)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm." [(ngModel)]="keyword"
                       name="keyword">
            </div>
            <div class="form-group">
                <nh-select
                        title="-- Chọn trạng thái --"
                        [data]="[{id: true, name: 'Đã kích hoạt'}, {id: false, name: 'Chưa kích hoạt'}]"
                        (onSelectItem)="isActive = $event.id"
                ></nh-select>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" [disabled]="isSearching">
                    <i class="fas fa-search" *ngIf="!isSearching"></i>
                    <i class="fas fa-spinner fa-spin" *ngIf="isSearching"></i>
                </button>
            </div>
            <div class="form-group pull-right">
                <button mat-raised-button color="primary" (click)="add()">
                    <i class="fas fa-plus"></i>
                    Thêm
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-stripped table-main">
                <thead>
                <tr>
                    <th class="w50 center middle">STT</th>
                    <th class="w250 center middle">Tên nhóm</th>
                    <th class="center middle">Mô tả</th>
                    <th class="w50 center middle">Kích hoạt</th>
                    <th class="w100 center middle"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of listItems$ | async; let i = index">
                    <td class="center"> {{ (currentPage - 1) * pageSize + i + 1 }}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td class="center">
                        <!--<mat-checkbox color="primary" [checked]="category.isActive"></mat-checkbox>-->
                        <span class="badge "
                              [class.badge-danger]="!category.isActive"
                              [class.badge-success]="category.isActive"
                        >{{ category.isActive ? 'Đã kích hoạt' : 'Chưa kích hoạt' }}</span>
                    </td>
                    <td class="center">
                        <button type="button" class="btn btn-primary btn-sm"
                                matTooltip="Chỉnh sửa" [matTooltipPosition]="'above'"
                                (click)="edit(category)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <!--<button type="button" mat-mini-fab color="warn"-->
                        <!--(click)="delete(category)">-->
                        <!--<i class="fas fa-trash-alt"></i>-->
                        <!--</button>-->
                        <button type="button" class="btn btn-sm btn-danger" matTooltip="Xóa"
                                [matTooltipPosition]="'above'"
                                [swal]="{ title: 'Bạn có chắc chắn muốn xóa chuyên mục: ' + category.name + ' này không?', type: 'warning' }"
                                (confirm)="delete(category.id)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ghm-paging [totalRows]="totalRows" [currentPage]="currentPage" [pageShow]="6" (pageClick)="search($event)"
                    [isDisabled]="isSearching" [pageName]="'chuyên mục'"></ghm-paging>
    </div>
</div>

<app-product-category-form (onSaveSuccess)="search(1)"></app-product-category-form>
