ul.wrapper-list-selection {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
        padding: 5px 10px;
        display: block;
        width: 100%;

        border-left: 3px solid transparent;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }

        &:hover, &.selected {
            border-left: 3px solid #0a8cf0;
        }

        a {
            display: block;
            width: 100%;

            &:hover {
                text-decoration: none;
            }

            svg {
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
        }
    }
}
