<nh-modal #questionSelectModal>
    <nh-modal-content>
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li [class.active]="viewType === 0">
                    <a href="javascript://" data-toggle="tab" i18n="@@selectQuestion" (click)="changeViewType(0)">
                        Select question
                    </a>
                </li>
                <li [class.active]="viewType === 1">
                    <a href="javascript://" data-toggle="tab" i18n="@@selectQuestionGroup" (click)="changeViewType(1)">
                        Select question group
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" [class.active]="viewType === 0">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase"
                                      i18n="@@listQuestion">
                                    List question.
                                </span>
                                    </div>
                                </div>
                                <div class="portlet-body" style="min-height: 350px;">
                                    <form action="" class="form-inline" (ngSubmit)="searchQuestion(1)">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter question group name"
                                                   i18n-placeholder="@@enterQuestionGroupName"
                                                   [(ngModel)]="questionKeyword"
                                                   name="questionKeyword"
                                            >
                                        </div>
                                        <div class="form-group cm-mgl-5">
                                            <nh-dropdown-tree [data]="questionGroupTree"
                                                              i18n-title="@@filterByQuestionGroup"
                                                              title="-- Filter by question group --"
                                                              (nodeSelected)="questionGroupId = $event.id">
                                            </nh-dropdown-tree>
                                        </div>
                                        <div class="form-group cm-mgl-5">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                                                <i class="fa fa-search" *ngIf="!isSearching"></i>
                                            </button>
                                        </div>
                                        <div class="form-group cm-mgl-5">
                                            <button type="button" class="btn btn-default"
                                                    (click)="refreshSearchQuestionQuestion()">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </form><!-- END: search form -->
                                    <ul class="wrapper-list-selection cm-mgt-10 cm-mgb-10">
                                        <li *ngFor="let question of listQuestions"
                                            [class.selected]="question.isSelected"
                                            (click)="selectQuestion(question)">
                                            <a href="javascript://">
                                                {{ question.name }}
                                            </a>
                                        </li>
                                    </ul>
                                    <ghm-paging [totalRows]="totalQuestionRows"
                                                [currentPage]="currentQuestionPage"
                                                [pageShow]="6"
                                                [isDisabled]="isSearching"
                                                [pageSize]="pageSize"
                                                (pageClick)="searchQuestion($event)"
                                    ></ghm-paging>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase"
                                      i18n="@@listSelectedQuestion">
                                    List selected question.
                                </span>
                                    </div>
                                </div>
                                <div class="portlet-body" style="min-height: 350px;">
                                    <ul class="wrapper-list-selection">
                                        <li *ngFor="let questionSelected of listSelectedQuestions"
                                            (click)="removeQuestion(questionSelected)">
                                            <a href="javascript://">
                                                {{ questionSelected.name }}
                                                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false"
                                                     role="presentation">
                                                    <path
                                                        d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                                                        fill="currentColor">
                                                    </path>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END: question tab -->
                <div class="tab-pane" [class.active]="viewType === 1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject font-green-sharp bold uppercase"
                                              i18n="@@listQuestionGroup">
                                            List question group.
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <form action="" class="form-inline" (ngSubmit)="searchQuestionGroup(1)">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter question group name"
                                                   i18n-placeholder="@@enterQuestionGroupName"
                                                   [(ngModel)]="questionGroupKeyword"
                                                   name="questionGroupKeyword"
                                            >
                                        </div>
                                        <div class="form-group cm-mgl-5">
                                            <button class="btn btn-primary">
                                                <i class="fa fa-spinner fa-pulse" *ngIf="isSearching"></i>
                                                <i class="fa fa-search" *ngIf="!isSearching"></i>
                                            </button>
                                        </div>
                                        <div class="form-group cm-mgl-5">
                                            <button type="button" class="btn btn-default"
                                                    (click)="refreshSearchQuestionQuestion()">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </form><!-- END: search form -->
                                    <ul class="wrapper-list-selection cm-mgt-10 cm-mgb-10">
                                        <li *ngFor="let questionGroup of listQuestionGroups"
                                            [class.selected]="questionGroup.isSelected"
                                            (click)="selectQuestionGroup(questionGroup)">
                                            <a href="javascript://">
                                                {{ questionGroup.name }}
                                                <span *ngIf="questionGroup.totalQuestion > 0">({{ questionGroup.totalQuestion }})</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ghm-paging class="cm-mgt-10" [totalRows]="totalQuestionGroupRows"
                                                [currentPage]="currentQuestionGroupPage"
                                                [pageShow]="6"
                                                [isDisabled]="isSearching"
                                                [pageSize]="pageSize"
                                                (pageClick)="searchQuestionGroup($event)"
                                    ></ghm-paging>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject font-green-sharp bold uppercase"
                                              i18n="@@listSelectedQuestionGroup">
                                            List selected question group.
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-stripped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="w50 center" i18n="@@no">No</th>
                                            <th i18n="@@groupName">Group name</th>
                                            <th class="w70" i18n="@@quantity">Quantity</th>
                                            <th class="w50"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let selectedQuestionGroup of listSelectedQuestionGroups; let i = index">
                                            <td class="center middle">{{ (i+1) }}</td>
                                            <td class="middle">{{ selectedQuestionGroup.name }}</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                       #totalQuestion
                                                       [ngModel]="selectedQuestionGroup.totalQuestion"
                                                       (change)="questionGroupChangeTotalQuestion(selectedQuestionGroup, totalQuestion.value)"
                                                       name="totalQuestion">
                                            </td>
                                            <td class="center">
                                                <button type="button" class="btn btn-danger btn-sm"
                                                        (click)="removeQuestionGroup(selectedQuestionGroup)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nh-modal-content>
    <nh-modal-footer>
        <button type="button" class="btn btn-primary cm-mgr-5" i18n="@@accept" (click)="accept()">
            Accept
        </button>
        <button type="button" class="btn btn-default" nh-dismiss="true" i18n="@@cancel">
            Cancel
        </button>
    </nh-modal-footer>
</nh-modal>

